<table class="table table-striped">
    <tbody>
    <tr class="">
        <td class="table-col-1">Type:</td>
        <td class="table-col-2" itemprop="bodyType">{{ item.getType() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Stock Number:</td>
        <td class="table-col-2">{{ item.getStockNr() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Mileage:</td>
        <td class="table-col-2">{{ item.getMileage() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Exterior Color::</td>
        <td class="table-col-2">{{ item.getExteriorColor() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Engine Type:</td>
        <td class="table-col-2">{{ item.getEngine() }}</td>
    </tr>
    </tbody>
</table>
