<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Custom Courier</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
                {% block stylesheets %}
                    {% stylesheets 'css/style.css'  filter='cssrewrite' %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                    {%  endstylesheets %}
                {% endblock %}
                {% block javascripts %}
                    {#{% javascripts 'js_repo/*' %}#}
                    {% javascripts '@printelement' '@uploadifive'  %}
                    <script src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endblock %}
                </head>
                <body>
                    <div id="header">
                        <div id="logo"><a href="">
                                {% image 'images/logo.png' %}
                                <img src="{{ asset_url }}" alt="Custom Courier Co." />
                                {% endimage %}
                            </a></div>

                        <div id="logout"><a href="{{path('logout')}}">Logout</a></div>

                    </div>
                    <div id="main-nav">

                        <h1>Main Navigation</h1>

                        <ul>
                            <li class="main"><a href="">Main</a></li>

                            <li class="dispatch"><a href="{{path("dispatchcard")}}">Dispatch</a></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="reports"><a href="{{path("batchx")}}">Batches</a></li>
                                {% endif %}
                            <li class="billing-periods"><a href="{{path("BillingPeriods")}}">Invoiced Billing Period Reports</a></li>
                            <li class="probills"><a href="{{path("probills")}}">Invoiced Probill Pictures</a></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="customers"><a href="{{path("customers")}}">Customers</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="drivers"><a href="">Drivers</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="rates"><a href="">Rates</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="vehicle-types"><a href="">Vehicle Types</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="reports"><a href="{{ path("report_compare_form") }}">Reports</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="customerEmails"><a href="{{path('customer_emails')}}">Customer Emails</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="settings" ><a href="{{path('settings')}}">Email Template</a></li>
                                {% endif %}                
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="settings"><a href="{{path('command_log_home')}}">Command Log</a></li>
                                {% endif %}

                                <li class="settings"><a href="{{path('pendings')}}">Pending (nonbilled) Probill Pictures and Data</a></li>

                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li class="emails"><a href="{{path('email')}}">Emails</a></li>
                                {% endif %}  
                        </ul>

                    </div>

                    <div id="content">

                        {% block content %}
                        {% endblock %}



                    </div>

                </body>

                </html>