{% extends 'NumaDOADMSBundle::layout.html.twig' %}
 
{% block content %}
    {% set dealerid = 0 %}
    {% if(dealer is defined and dealer is not empty) %}
        {% set dealerid = dealer.id %}
    {% endif %}
    <div class="box box-default">
        <h4>Attention
            {% if(dealer is defined and dealer is not empty) %}
            {% set username = dealer.username %}
            {{ dealer.username }}
        {% else %}
            {% set username = '0' %}
            Admin
            {% endif %}:</h4>
        <p>
            If you require an inventory feed to a third party site, your DMS-Lite system is capable of providing a link
            for the website you wish to participate with so they can pull your listings into their system. Simply
            provide them with the xml, csv or jason format they require:
        </p>
        <ul>
            <li>XML Format: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml'}) }}</a>
            </li>
            <li>CSV Format: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv'}) }}</a>
            </li>
            <li>JSON Format: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json'}) }}</a>
            </li>
        </ul>
        <p>
            If they require individual category feeds, then you may use these url links:
        </p>
        <h4>XML Format</h4>
        <ul>
            <li>Car Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'car'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'car'}) }}</a>
            </li>
            <li>RV Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'rvs'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'rvs'}) }}</a>
            </li>
            <li>Motorsport Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'motorsport'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'motorsport'}) }}</a>
            </li>
            <li>Marine Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'marine'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'marine'}) }}</a>
            </li>
            <li>Ag Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'Ag'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'xml', 'category': 'Ag'}) }}</a>
            </li>
        </ul>
        <h4>CSV Format</h4>
        <ul>
            <li>Car Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'car'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'car'}) }}</a>
            </li>
            <li>RV Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'rvs'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'rvs'}) }}</a>
            </li>
            <li>Motorsport Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'motorsport'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'motorsport'}) }}</a>
            </li>
            <li>Marine Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'marine'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'marine'}) }}</a>
            </li>
            <li>Ag Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'Ag'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'csv', 'category': 'Ag'}) }}</a>
            </li>
        </ul>
        <h4>JSON Format</h4>
        <ul>
            <li>Car Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'car'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'car'}) }}</a>
            </li>
            <li>RV Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'rvs'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'rvs'}) }}</a>
            </li>
            <li>Motorsport Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'motorsport'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'motorsport'}) }}</a>
            </li>
            <li>Marine Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid':username, '_format': 'json', 'category': 'marine'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'marine'}) }}</a>
            </li>
            <li>Ag Category: <a
                        href="{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'Ag'}) }}">{{ url('homepage') |trim ('/') }}{{ path('listingByDealerUsername', {'dealerid': username, '_format': 'json', 'category': 'Ag'}) }}</a>
            </li>
        </ul>
        <h4>Kijiji CSV</h4>
        <ul>
            <li>
        {% if dealer.id is defined and dealer.id is not null %}
            <a href="/upload/dealers/{{ dealer.id }}/kijiji.csv">Link to Kijiji.csv file</a>
        {% else %}
            <p>Choose a Dealer to see Kijiji.csv file</p>
        {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}