{#<script src="https://code.highcharts.com/highcharts.js"></script>#}
{#<script src="https://code.highcharts.com/modules/exporting.js"></script>#}

<script type="text/javascript" src="{{ asset("js/highcharts.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/highcharts1.js") }}"></script>

<div class="box box-danger" id="gaStats">
    <div class="box-header with-border">
        <h3 class="box-title">Site Analytics</h3>
        <div class="box-tools pull-right">
            <span class="label label-warning" id="msg">Loading...</span>
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
                <i class="fa fa-minus" id="minus"></i>
            </button>
            <button class="btn btn-box-tool" type="button" data-widget="remove">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="col-md-6">
            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto" data-url="{{ path("ga_stats_api_month") }}"></div>
        </div>
        <div class="col-md-6">
            <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto" data-url="{{ path("ga_stats_api_day") }}"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset("js/statsCharts.js") }}"></script>