{% extends 'NumaDOADMSBundle::layout.html.twig' %}
 
{% block content %}
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-3">
            <div class="info-box">
                <div class="col-md-offset-4 col-md-12 ">
                    <h4>ALL</h4>
                </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalListings }}</h5>
                <span class="description-text">TOTAL LISTINGS</span>
            </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalViews }}</h5>
                <span class="description-text">TOTAL VIEWS</span>
            </div>
            </div>
        </div>

        <div class="col-sm-2 col-xs-6">
            <div class="info-box">
                <div class="col-md-offset-3 col-md-12 ">
                    <span class="icon_tab icon_Vehicle"></span>
                </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalCarListings }}</h5>
                <span class="description-text">TOTAL CAR LISTINGS</span>
            </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalCarViews }}</h5>
                <span class="description-text">TOTAL CAR VIEWS</span>
            </div>
            </div>
        </div>

        <div class="col-sm-2 col-xs-6">
            <div class="info-box">
                <div class="col-md-offset-3 col-md-12 ">
                    <span class="icon_tab icon_Motorsport"></span>
                </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalMotoListings }}</h5>
                <span class="description-text">TOTAL MOTO LISTINGS</span>
            </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalMotoViews }}</h5>
                <span class="description-text">TOTAL MOTO VIEWS</span>
            </div>
            </div>
        </div>

        <div class="col-sm-2 col-xs-6">
            <div class="info-box">
                <div class="col-md-offset-3 col-md-12 ">
                    <span class="icon_tab icon_Marine"></span>
                </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalMarineListings }}</h5>
                <span class="description-text">TOTAL MARINE LISTINGS</span>
            </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalMarineViews }}</h5>
                <span class="description-text">TOTAL MARINE VIEWS</span>
            </div>
            </div>
        </div>

        <div class="col-sm-2 col-xs-3">
            <div class="info-box">
                <div class="col-md-offset-3 col-md-12 ">
                    <span class="icon_tab icon_Ag"></span>
                </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalAgsListings }}</h5>
                <span class="description-text">TOTAL AG LISTINGS</span>
            </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalAgsViews }}</h5>
                <span class="description-text">TOTAL AG VIEWS</span>
            </div>
            </div>
        </div>


        <div class="col-sm-2 col-xs-3">
            <div class="info-box">
                <div class="col-md-offset-3 col-md-12 ">
                    <span class="icon_tab icon_RVs"></span>
                </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalRvsListings }}</h5>
                <span class="description-text">TOTAL RVs LISTINGS</span>
            </div>
            <div class="description-block border-right">
                <h5 class="description-header">{{ totalRvsViews }}</h5>
                <span class="description-text">TOTAL Rvs VIEWS</span>
            </div>
            </div>
        </div>

    </div>


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script>
        $(document).ready(function() {

            var options = {
                chart: {
                    renderTo: 'container',
                    type: 'spline'
                },
                series: [{}]
            };

            $.getJSON('{{ path("stats_api_test") }}', function(data) {
                options.series[0].data = data;
                var chart = new Highcharts.Chart(options);
            });

        });
        $(function () {
            $('#container').highcharts({
                title: {
                    text: 'Monthly Average Temperature',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Source: WorldClimate.com',
                    x: -20
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                        'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
            });
        });
    </script>
{% endblock %}