{% extends 'NumaDOADMSBundle::layout.html.twig' %}
 
{% block content %}
    <div class="page-header">
        <h1>Dashboard</h1>
    </div>

    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{ stats.totalListings }}</h3>
                    <p>Listings</p>
                </div>
                <div class="icon">
                    <i class="fa fa-truck"></i>
                </div>
                <a class="small-box-footer" href="{{ path('inventory') }}">
                    More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ pages }}</h3>
                    <p>Pages</p>
                </div>
                <div class="icon">
                    <i class="fa fa-laptop"></i>
                </div>
                <a class="small-box-footer" href="{{ path('dms_page') }}">
                    More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ customers }}</h3>
                    <p>Customers</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a class="small-box-footer" href="{{ path('customer') }}">
                    More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>&nbsp;
                    </h3>
                    <p>Content</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <a class="small-box-footer" href="{{ path('component') }}">
                    More info
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    {% if not is_granted('ROLE_ADMIN') %}
        {% include 'NumaDOADMSBundle:Default:websiteForms.html.twig' %}
    {% endif %}

    {% include 'NumaDOADMSBundle:Default:reminders.html.twig' %}

    {% include 'NumaDOADMSBundle:Default:stats.html.twig' %}

    {% if is_granted('ROLE_DMS_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_DEALER_PRINCIPAL') %}
        {% include 'NumaDOADMSBundle:Default:saleStats.html.twig' %}
    {% endif %}


    {% if is_granted('ROLE_DMS_USER') and is_granted('ROLE_BUSINES') %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="container1" style="min-width: 310px; height: 400px; margin: 20px auto"></div>

        <script>
            $(document).ready(function () {

                var options = {
                    chart: {
                        renderTo: 'container',
                        type: 'spline'
                    },
                    series: [{}],
                    title: {
                        text: 'Visitors On Site',
                        x: -20 //center
                    },
                    xAxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                    },
                    yAxis: {
                        title: {
                            text: 'Visitors'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },

                };

                $.getJSON('{{ path("ga_stats_api_month") }}', function (data) {
                    var d = new Date();
                    var n = d.getFullYear();
                    options.series[0].name = n;
                    options.series[0].data = data;
                    var chart = new Highcharts.Chart(options);
                });

            });

            $(document).ready(function () {

                var options = {
                    chart: {
                        renderTo: 'container1',
                        type: 'column'
                    },
                    series: [{}],
                    title: {
                        text: 'Visitors On Site Last 30 Days',
                        x: -20 //center
                    },
                    yAxis: {
                        title: {
                            text: 'Visitors'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },

                };

                $.getJSON('{{ path("ga_stats_api_day") }}', function (data) {
                    var d = new Date();
                    var month = new Array();
                    month[0] = "January";
                    month[1] = "February";
                    month[2] = "March";
                    month[3] = "April";
                    month[4] = "May";
                    month[5] = "June";
                    month[6] = "July";
                    month[7] = "August";
                    month[8] = "September";
                    month[9] = "October";
                    month[10] = "November";
                    month[11] = "December";
                    var n = month[d.getMonth()];
                    options.series[0].name = n;
                    options.series[0].data = data;
                    var chart = new Highcharts.Chart(options);
                });

            });

        </script>
    {% endif %}
{% endblock %}