{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- default:main:default.tpl -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title>Dealers on Air Admin Panel </title>
    {% block stylesheets %}
        {% stylesheets  '@bootstrap'
        '@jquery_ui_css'
        '@admin'
        '@dropzone_css'
        '@colorbox_css'
        '@AdminLTE_css'
        '@DMS_red_skin_css'
        'css/ionicons.min.css'
        filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts 'js/jquery/jquery.1.11.0.min.js' 'js/jquery/jquery.1.11.0.min.js' '@bootstrapx_js'  '@jquery_ui_js' '@tinymce_js' '@dropzone_js' '@colorbox_js'  '@AdminLTE_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {#{% if app.session.get('qb')==1 %}#}
        {#<script type="text/javascript">#}
            {#intuit.ipp.anywhere.setup({#}
                {#menuProxy: '{{ param.getQuickbooksMenuUrl() }}',#}
                {#grantUrl: '{{ param.getQuickbooksOauthUrl() }}'#}
            {#});#}
        {#</script>#}
        {#{% endif %}#}
        {% endjavascripts %}
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    {% endblock %}
    <script>
        $('.datepicker').datepicker({

            dateFormat: 'dd-mm-yy',
            yearRange: "-0:+1"
        });
    </script>
</head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">
    <ipp:blueDot></ipp:blueDot>
    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="/dms" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>DOA</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Dealers Management System</b></span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    {% if not is_granted('ROLE_ADMIN') %}
                        {{ render_esi(controller('NumaDOADMSBundle:Default:notifications')) }}
                    {% endif %}
                    <!-- /.messages-menu -->
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a target="_blank" href="{{ url('homepage') }}">
                            <i class="fa fa-link"></i>
                            <span class="">Visit Site</span>
                        </a>

                    </li>
                    {#</li><!-- /.messages-menu -->#}
                    <!-- Control Sidebar Toggle Button -->
                    {% if not is_granted('ROLE_ADMIN') %}
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="hidden-xs"><i
                                            class="glyphicon glyphicon-user"></i> {{ app.user.name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    {% if app.user.logoUrl is empty %}
                                        {{ component.image(app.user.logo, 'logo', 'img-circle', 'search_image',90, 120) }}
                                    {% else %}
                                        {{ component.image(app.user.logoUrl, 'logo', 'img-circle', 'search_image',90, 120) }}
                                    {% endif %}
                                    <p>
                                        {{ app.user.name }}
                                        <small><a href="{{ app.user.url }}"><i class="glyphicon glyphicon-link"></i>Site</a>
                                        </small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        {% if is_granted('ROLE_SALES') or is_granted('ROLE_SERVICE_DMS') or is_granted('ROLE_PARTS_DMS') or is_granted('ROLE_FINANCE_DMS') or is_granted('ROLE_WHOLESALE_DMS') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') or is_granted('ROLE_REGULAR_ADMIN_DMS') %}
                                            <a class="btn btn-default btn-flat"
                                               href="{{ path('userprofile_edit', {'id': app.user.id}) }}">
                                                <i class="glyphicon glyphicon-edit"></i> Edit Profile</a>
                                        {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_BUSINES') %}
                                            <a class="btn btn-default btn-flat"
                                               href="{{ path('dms_profile_edit', {'id': app.user.id}) }}">
                                                <i class="glyphicon glyphicon-edit"></i> Edit Profile</a>
                                        {% endif %}
                                    </div>
                                    <div class="pull-right">
                                        <a class="btn btn-default btn-flat" target="_self" href="{{ url('logout') }}"><i
                                                    class="fa fa-sign-out"></i><span class="">Logout</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a target="_self" href="{{ url('logout') }}">
                                <i class="fa fa-sign-out"></i>
                                <span class="">Logout</span>
                            </a>

                        </li>
                    {% endif %}
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="treeview">
                    <a href="{{ path('dms_home') }}" class="">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                {% if (is_granted('ROLE_ADMIN')) %}
                    <li class="active">
                        <a href="{{ path('dms_catalogs') }}" class=""><i class="fa fa-suitcase"></i>Business
                            Directory</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or
                is_granted('ROLE_REGULAR_ADMIN_DMS') or
                is_granted('ROLE_SALES') or
                is_granted('ROLE_SALE2_DMS') or
                is_granted('ROLE_SALE3_DMS') or
                is_granted('ROLE_SALE4_DMS') or
                is_granted('ROLE_PARTS_DMS')  or
                is_granted('ROLE_SERVICE_DMS') or
                is_granted('ROLE_DMS_USER') or
                is_granted('ROLE_DEALER_PRINCIPAL') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>CUSTOMER RELATIONS </span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if (is_granted('ROLE_ADMIN') or
                            is_granted('ROLE_REGULAR_ADMIN_DMS') or
                            is_granted('ROLE_SALES') or
                            is_granted('ROLE_SALE2_DMS') or
                            is_granted('ROLE_DMS_USER') or
                            is_granted('ROLE_SALE3_DMS') or
                            is_granted('ROLE_SALE4_DMS') or
                            is_granted('ROLE_DEALER_PRINCIPAL') ) %}
                                <li class="active">
                                    <a href="{{ path('customer') }}" class=""><i class="fa fa-users"></i>Current
                                        Customers</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                                <li class="active">
                                    <a href="{{ path('listingform') }}" class=""><i class="fa fa-table"></i>Website
                                        Listing Forms</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_PARTS_DMS') or is_granted('ROLE_SERVICE_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                                <li class="active">
                                    <a href="{{ path('partrequest') }}" class=""><i class="fa fa-cogs"></i>Part Request</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_PARTS_DMS') or is_granted('ROLE_SERVICE_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                                <li class="active">
                                    <a href="{{ path('servicerequest') }}" class=""><i class="fa fa-inbox"></i>Service
                                        Request</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                                <li class="active">
                                    <a href="{{ path('financeservice') }}" class=""><i class="fa fa-inbox"></i>Financing Service</a>
                                </li>
                            {% endif %}
                            {% if (is_granted('ROLE_ADMIN') or
                            is_granted('ROLE_REGULAR_ADMIN_DMS') or
                            is_granted('ROLE_SALES') or
                            is_granted('ROLE_SALE2_DMS') or
                            is_granted('ROLE_DMS_USER') or
                            is_granted('ROLE_SALE3_DMS') or
                            is_granted('ROLE_SALE4_DMS') or
                            is_granted('ROLE_DEALER_PRINCIPAL') ) %}
                                <li class="active">
                                    <a href="{{ path('reminder') }}" class=""><i class="fa fa-calendar"></i>
                                        Reminders</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_DMS_USER') or
                    is_granted('ROLE_DEALER_PRINCIPAL') %}
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span>VENDOR LIST </span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                {% if (is_granted('ROLE_ADMIN')   or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES')  or is_granted('ROLE_DMS_USER') or
                                is_granted('ROLE_DEALER_PRINCIPAL') ) %}
                                    <li class="active">
                                        <a href="{{ path('vendor') }}" class=""><i class="fa fa-users"></i>Current
                                            Vendors</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or
                is_granted('ROLE_REGULAR_ADMIN_DMS') or
                is_granted('ROLE_SALES') or
                is_granted('ROLE_DMS_USER') or
                is_granted('ROLE_WHOLESALE_DMS') or
                is_granted('ROLE_SALE2_DMS') or
                is_granted('ROLE_DEALER_PRINCIPAL') or
                is_granted('ROLE_SALE3_DMS') or
                is_granted('ROLE_SALE4_DMS') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-columns"></i>
                            <span>LISTINGS</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted('ROLE_ADMIN') or
                            is_granted('ROLE_REGULAR_ADMIN_DMS') or
                            is_granted('ROLE_SALES') or
                            is_granted('ROLE_DMS_USER') or
                            is_granted('ROLE_SALE3_DMS') or
                            is_granted('ROLE_DEALER_PRINCIPAL') %}
                                <li class="active">
                                    <a href="{{ path('inventory') }}" class=""><i class="fa fa-truck"></i>Current
                                        Listings</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}

                                    <li class="active">
                                        <a href="{{ path('inventory_sales') }}" class=""><i class="fa fa-truck"></i>Listing
                                            Sales View</a>
                                    </li>
                                {% endif %}
                            {% endif %}

                            {% if is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_WHOLESALE_DMS') or is_granted('ROLE_SALE4_DMS') %}
                                <li class="active">
                                    <a href="{{ path('inventory_view') }}" class=""><i class="fa fa-truck"></i>Listings
                                        View</a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_ADMIN') or
                            is_granted('ROLE_REGULAR_ADMIN_DMS') or
                            is_granted('ROLE_SALES') or
                            is_granted('ROLE_DMS_USER') or
                            is_granted('ROLE_SALE2_DMS') or
                            is_granted('ROLE_DEALER_PRINCIPAL') or
                            is_granted('ROLE_SALE3_DMS') or
                            is_granted('ROLE_SALE4_DMS') %}
                                <li class="active">
                                    <a href="{{ path('dms_additem') }}" class=""><i class="fa fa-list"></i>Add New
                                        Listing</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or
                            is_granted('ROLE_REGULAR_ADMIN_DMS') or
                            is_granted('ROLE_DMS_USER') or
                            is_granted('ROLE_DEALER_PRINCIPAL') %}
                                <li class="active">
                                    <a href="{{ path('inventory_archived') }}" class=""><i class="fa fa-list"></i>Archived
                                        Listings</a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                {% endif %}
                {#{% if is_granted('ROLE_ADMIN')  %}#}
                {#<li class="treeview">#}
                {#<a href="#">#}
                {#<i class="fa fa-columns"></i>#}
                {#<span>LISTINGS</span>#}
                {#<i class="fa fa-angle-left pull-right"></i>#}
                {#</a>#}
                {#<ul class="treeview-menu">#}
                {#<li class="active">#}
                {#<a href="{{ path('inventory_view') }}" class=""><i class="fa fa-truck"></i>Current Listings View</a>#}
                {#</li>#}
                {#<li class="active">#}
                {#<a href="{{ path('inventory_cost') }}" class=""><i class="fa fa-truck"></i>Listings Cost View</a>#}
                {#</li>#}
                {#<li class="active">#}
                {#<a href="{{ path('inventory_sales') }}" class=""><i class="fa fa-truck"></i>Listing Sales View</a>#}
                {#</li>#}
                {#</ul>#}
                {#</li>#}
                {#{% endif %}#}
                {#{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS')or is_granted('ROLE_DMS_USER')  or is_granted('ROLE_SERVICE_DMS') or is_granted('ROLE_PARTS_DMS') or is_granted('ROLE_SALE3_DMS') %}#}
                {#{{ dump(app.user.dealerId) }}#}
                {#{{ dump(app.user) }}#}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-link"></i>
                        <span>WEBSITE CONTENT</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">

                        {#{% if is_granted('ROLE_SALES') or is_granted('ROLE_SERVICE_DMS') or is_granted('ROLE_PARTS_DMS') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALE3_DMS') %}#}
                        {#<li class="active">#}
                        {#<a href="{{ path('userprofile_edit', {'id': app.user.id}) }}">#}
                        {#<i class="fa fa-pencil-square-o"></i>Business Profile</a>#}
                        {#</li>#}
                        {% if not is_granted('ROLE_ADMIN') %}
                            {% if (is_granted('ROLE_DMS_USER') and is_granted('ROLE_REGULAR_ADMIN_DMS') == false ) %}
                                <li class="active">
                                    <a href="{{ path('dms_profile_edit', {'id': app.user.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>Business Profile</a>
                                </li>
                            {% elseif(is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS')) %}
                                <li class="active">
                                    <a href="{{ path('dms_profile_edit', {'id': app.user.dealerId}) }}">
                                        <i class="fa fa-pencil-square-o"></i>Business Profile</a>
                                </li>
                                <li class="active">
                                    <a href="{{ path('userprofile_edit', {'id': app.user.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>User Profile</a>
                                </li>
                            {% elseif(is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_SERVICE_DMS') or is_granted('ROLE_PARTS_DMS') or is_granted('ROLE_FINANCE_DMS') or is_granted('ROLE_WHOLESALE_DMS')) %}
                                <li class="active">
                                    <a href="{{ path('userprofile_edit', {'id': app.user.id}) }}">
                                        <i class="fa fa-pencil-square-o"></i>User Profile</a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                            <li class="active">
                                <a href="{{ path('dms_themes') }}" class=""><i class="fa fa-desktop"></i>Themes</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN')or is_granted('ROLE_DMS_USER') %}
                            <li class="active">
                                <a href="{{ path('dms_ad_index') }}" class=""><i class="fa fa-adn"></i>Ads</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                            <li class="active">
                                <a href="{{ path('dms_page') }}" class=""><i class="fa fa-laptop"></i>Website Pages</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="active">
                                <a href="{{ path('dms_setting') }}" class=""><i class="fa fa-cog"></i>Settings</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="">
                                <a href="{{ path('dms_imagecarousel') }}" class=""><i class="fa fa-picture-o"></i>Image
                                    Carousel (Default Theme Only)</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                            <li class="">
                                <a href="{{ path('component') }}" class=""><i class="fa fa-pencil-square-o"></i>Content
                                    Components</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>FEEDS</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER') %}
                                <li class="active">
                                    <a href="{{ path('dms_importfeed') }}"><i class="fa fa-upload"></i>Inventory
                                        Import</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_DMS_USER') %}
                                <li class="active">
                                    <a href="{{ path('dms_inventory_feeds') }}" class=""><i
                                                class="fa fa-link"></i>Inventory
                                        Feeds</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER') %}
                                <li class="active">
                                    <a href="{{ path('dms_command_log_home') }}" class=""><i
                                                class="fa fa-list"></i>Command Queue</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER')) and not is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DEALER_PRINCIPAL') %}
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>USERS</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_DEALER_PRINCIPAL') %}
                                <li class="active">
                                    <a href="{{ path('dmsuser') }}" class=""><i class="fa fa-user"></i>Assigned
                                        Users</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_DEALER_PRINCIPAL') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') %}
                    <li class="treeview">
                        <a href="{{ path('dms_reports') }}">
                            <i class="fa fa-file-text"></i>
                            <span>REPORTS</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_FINANCE_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') or is_granted('ROLE_DEALER_PRINCIPAL') %}
                    <li class="treeview">
                        <a href="{{ path('finance') }}">
                            <i class="fa fa-usd"></i>
                            <span>FINANCE</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_FINANCE_DMS') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE2_DMS') or is_granted('ROLE_SALE3_DMS') or is_granted('ROLE_SALE4_DMS') or is_granted('ROLE_DEALER_PRINCIPAL') %}
                    <li class="treeview">
                        <a href="{{ path('financeservice') }}">
                            <i class="fa fa-wrench"></i>
                            <span>FINANCE SERVICE</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="treeview">
                        <a href="{{ path('supportform') }}">
                            <i class="fa fa-question"></i>
                            <span>SUPPORT</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="treeview">
                        <a href="{{ path('dealergroup') }}">
                            <i class="fa fa-users"></i>
                            <span>Dealer Group</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <a href="{{ path('dms_home') }}">DMS Complete</a>
                <small>Dealers Management System Dashbard</small>
            </h1>
            {{ render_esi(controller('NumaDOADMSBundle:Default:dealerChooser')) }}
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
            {% block content %}
            {% endblock %}


        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            DMS
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a href="#">Dealers On Air</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->

        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            {#<div class="tab-pane active" id="control-sidebar-home-tab">#}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGULAR_ADMIN_DMS') or is_granted('ROLE_DMS_USER') %}
                {#<a href="https://numacorp-my.sharepoint.com/personal/e_medjesi_numacorp_net/_layouts/15/WopiFrame.aspx?guestaccesstoken=BdyRrzPq%2ftBM1RqK2PNWiIRD6ULTPl171Oa58IRRmbE%3d&docid=02762212412a1413bb2422dd85c44ed0b&action=view"#}
                {#<a href="https://numacorp-my.sharepoint.com/personal/e_medjesi_numacorp_net/_layouts/15/WopiFrame.aspx?sourcedoc=%7B7f192f57-49ee-4c55-88ef-20f6bf2ac40b%7D&action=default"#}
                <a href="https://numacorp-my.sharepoint.com/personal/e_medjesi_numacorp_net/_layouts/15/guestaccess.aspx?guestaccesstoken=/eZ9XlMg77aiwsUcs/bCqt9nQsT4QXlMUka5kvjZEgk=&docid=02762212412a1413bb2422dd85c44ed0b&rev=1"
                   target="_blank" class="btn btn-success">
                    User Group Permissions
                </a>
            {% endif %}
            <a href="{{ path('supportform_new') }}" class="btn btn-default">Support</a>
            {#</div><!-- /.tab-pane -->#}
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">

            </div><!-- /.tab-pane -->
        </div>
    </aside><!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->
<div id="loading-indicator" class="loading_info">
    <i class="fa fa-spinner fa-pulse fa-spin fa-5x"></i>
</div>
</body>
</html>

<!-- /default:main:default.tpl -->

