{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>DMS User creation</h1>


    {{ form_start(form) }}
    {% if(is_granted('ROLE_DEALER_PRINCIPAL')) %}
        {{ form_row(form.Dealer) }}
    {% endif %}
    {{ form_rest(form) }}
    {{ form_end(form, {'render_rest': false}) }}
    {#{{ form(form) }}#}

    <a href="{{ path('dmsuser') }}" class="btn btn-primary">
        Back to the list
    </a>
{% endblock %}
