{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    {% set image = item['coverImageSrc'] %}
    {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item.urlDescription|url_encode()}) %}
    {% if searchQ is defined %}
        {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item.urlDescription|url_encode(),'searchQ':searchQ}) %}
    {% endif %}
    {% set dealer = item.dealerName %}
    {% if detailUrl is empty %}
        {% set detailUrl = "details" %}
    {% endif %}
    <div data="{{ item.id }}" id="item_{{ item.id }}" class="col-md-4" url="{{ path('item_compare') }}">

        <div class="outer-item">
            <a href="#" class="listing">
                {% if image is defined and image is not empty %}
                {{ component.image(image, item.title, '', 'search_image_sea', 350, 250) }}
                {% else %}
                {{ component.image(null, 'No image', '', 'search_image_sea', 350, 250) }}
                {% endif %}
                {#<img class="item-image"#}
                     {#src="https://classifieds.panow.com/sites/default/files/styles/homepage_grid/public/001_4.JPG?itok=YJ06k9GW">#}
            </a>
            <div class="shortDetails">
                <h3>
                    <a href="{{ detailUrl }}"><span
                                style="color:#fff; font-family: libre baskerville,Georgia,times new roman,serif;">{{ item.title }}</span>
                    </a>
                </h3>
                <p class="readmore">
                    <span style="display: none;">View listing </span>
                    +
                </p>
            </div>

        </div>


    </div>

{% endblock %}
