{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% block content -%}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Billing list</h3>
            <div class="box-tools">
                {% if(customer_id is defined and customer_id is not empty) %}
                    <a href="{{ path('customer_addbilling',{'id': customer_id}) }}" class="btn btn-primary">
                        Create a new Billing
                    </a>
                {% endif %}
            </div>
        </div>
        {% if entities is empty %}
            <div>No Billing</div>
        {% else %}

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date of Billing</th>
                        <th>Customer</th>
                        <th>Item</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('billing_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{% if entity.dateBilling %}{{ entity.dateBilling|date('Y-M-d') }}{% endif %}</td>
                            <td>{{ entity.customer.get }}</td>

                            <td>{% if entity.itemId is not empty %}<a href="{{ path("items_edit",{'id':entity.itemId}) }}">{{ entity.itemId }}</a>{% endif %}</td>
                            <td>
                                <a href="{{ path('billing_edit', { 'id': entity.id }) }}"
                                   class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                                <a href="{{ path('billing_print', { 'id': entity.id }) }}"
                                   class="btn btn-primary"><i class="glyphicon glyphicon-list-alt"></i>Pdf</a>
                                <a href="{{ path('billing_delete', { 'id': entity.id }) }}" class="btn btn-danger"
                                   data-confirm="Billing # <strong>{{ entity.id }}</strong> will be deleted.<br>Are you sure you want to delete it?">
                                    <i class="glyphicon glyphicon-remove"></i>Delete</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {% include 'NumaDOAAdminBundle::deleteConfirm.js.twig' %}
{% endblock %}
