{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    {% stylesheets
    'css/loading-bar.min.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@colorbox_js'
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'

    'js/angular/ui-grid.js'
    'js/angular/angular-confirm.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/loading-bar.min.js' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaDOADMSBundle:Billing:billing.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="box billing-form" ng-app="myApp">
        <div ng-controller="myCtrl">
            {{ form_start(form) }}
            {{ form_row(form.customer_id) }}
            {{ form_row(form.dealer_id) }}
            {{ form_row(form.item_id) }}
            {{ form_row(form.active) }}
            <div class="box-header">

            </div>
            {% if form_errors(form) is not empty %}
                <div class="alert alert-danger">
                    <strong>VEHICLE NOT FOUND!</strong>
                </div>
            {% endif %}
            <table width=100%">
                <tr>
                    <td class="border" valign="top" width="20%">
                        {% include "NumaDOADMSBundle:Billing/Block:dealerInfo.html.twig" %}
                    </td>

                    <td class="border" valign="top" width="60%">
                        {% include "NumaDOADMSBundle:Billing/Block:dealerLogo.html.twig" %}
                    </td>
                    <td class="border" valign="top" width="20%">
                        {% include "NumaDOADMSBundle:Billing/Block:dealerData.html.twig" %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td colspan="8">
                        {% include "NumaDOADMSBundle:Billing/Block:purchaserInfo.html.twig" %}
                    </td>
                </tr>
                <tr>
                    <td width="25%" valign="top">
                        {% include "NumaDOADMSBundle:Billing/Block:optEquipment.html.twig" %}
                    </td>
                    <td width="75%"  valign="top">
                        <table width="100%">
                            <tr>
                                <td colspan="2">{% include "NumaDOADMSBundle:Billing/Block:vehicle.html.twig" %}</td>
                            </tr>
                            <tr>
                                <td width="50%"  valign="top">{% include "NumaDOADMSBundle:Billing/Block:tradeIn.html.twig" %}</td>
                                <td width="50%"   valign="top">{% include "NumaDOADMSBundle:Billing/Block:TOS.html.twig" %}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <ul class="list-inline">
                <li>
                    {{ form_row(form.submitxxx) }}
                </li>
                <li>
                    {{ form_row(form.submitAndPrint) }}
                </li>
            </ul>
            </form>
        </div>
    </div>
{% endblock %}