{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    <style>
        .grid {
            width: 100%;
            height: auto;
        }
    </style>
    {% stylesheets
    'css/loading-bar.min.css'
    'css/image-angular.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@colorbox_js'
    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'
    'js/angular/vfs-fonts.js'
    'js/angular/ui-grid.js'
    'js/angular/angular-confirm.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/loading-bar.min.js' %}
    {#'@NumaDOADMSBundle/Resources/public/js/customer.js'#}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaDOADMSBundle:Billing:billing.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="box" ng-app="myApp">
        <div ng-controller="myCtrl">
            <form>
                <div class="box-header">

                </div>
                <table cellspacing="0" border="0">
                    <colgroup span="3" width="80"></colgroup>
                    <colgroup width="56"></colgroup>
                    <colgroup width="69"></colgroup>
                    <colgroup width="77"></colgroup>
                    <colgroup width="141"></colgroup>
                    <colgroup span="3" width="80"></colgroup>
                    <colgroup width="68"></colgroup>
                    <colgroup span="3" width="80"></colgroup>
                    <tr>
                        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=4
                            rowspan=4
                            height="80" align="center" valign=bottom><br>
                            {{ component.image(dealer.logo, dealer.name, 'thumbnail', 'search_image','120px', '90px') }}
                        </td>
                        <td style="border-left: 1px solid #000000" colspan=4 align="center" valign=bottom
                            bgcolor="#E7E6E6">
                            <b><u>PURCHASE INVOICE</u></b></td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom>
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#FFFFFF"><b> </b></td>
                        <td style="border-left: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-left: 1px solid #000000" colspan=3 align="center" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>Stock #</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#FFF2CC">

                            <input id="stock-autocomplete" auto-complete ui-items="names" type="text" ng-model="stock"
                                   ng-change="change('stock')"/>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4
                            align="center"
                            valign=bottom bgcolor="#FBE5D6"> GST # -
                        </td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom
                            bgcolor="#E7E6E6"><b>Dealer #</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"><input name="dealernr" id="dealernr" />
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-left: 1px solid #000000" colspan=3 align="center" valign=bottom>
                            <br>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left"
                            valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td colspan=4 height="20" align="center" valign=bottom
                            bgcolor="#E2F0D9">{{ dealer.address }}</td>
                        <td style="border-left: 1px solid #000000" colspan=3 align="center" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>DATE</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdnum="1033;1033;[$-409]MMMM D, YYYY;@"><input name="date" id="date" class="datepicker" />
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" colspan=4 height="20" align="center" valign=bottom
                            bgcolor="#E2F0D9">{{ dealer.city }}, {{ dealer.zip }}, {{ dealer.state }}</td>
                        <td style="border-left: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" colspan=4 height="20" align="center" valign=bottom
                            bgcolor="#E2F0D9">Phone: {{ dealer.phone }}, Fax: {{ dealer.fax }}</td>
                        <td style="border-left: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" height="20" align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom></td>
                        <td style="border-bottom: 1px solid #000000" align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" colspan=4 height="20" align="left" valign=bottom
                            bgcolor="#E7E6E6"><b>PURCHASER</b></td>
                        <td align="left" valign=bottom bgcolor="#E7E6E6"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=4 align="left"
                            valign=bottom bgcolor="#E7E6E6"><b>ADDRESS</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="left"
                            valign=bottom bgcolor="#E7E6E6"><b>APT. NO.</b></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #000000" colspan=5 height="20" align="center" valign=bottom
                            bgcolor="#FFF2CC">{{ customer.name }}</td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=4 align="center" valign=bottom bgcolor="#FFF2CC">{{ customer.address }}</td>
                        <td style="border-bottom: 1px solid #000000" colspan=2 align="center" valign=bottom
                            bgcolor="#FFF2CC">
                            type or auto fill
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="20"
                            align="left" valign=bottom bgcolor="#D9D9D9"><b>CITY</b></td>
                        <td style="border-top: 1px solid #000000" colspan=2 align="left" valign=bottom
                            bgcolor="#D9D9D9">
                            <b>STATE / PROV</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom
                            bgcolor="#D9D9D9"><b>ZIP / POSTAL</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="left"
                            valign=bottom bgcolor="#D9D9D9"><b>BUYERS PHONE #</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="left"
                            valign=bottom bgcolor="#D9D9D9"><b>BUYERS FAX #</b></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=4
                            height="20"
                            align="center" valign=bottom bgcolor="#FFF2CC">{{ customer.city }}</td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#FFF2CC">{{ customer.state }}</td>
                        <td style="border-left: 1px solid #000000" align="center" valign=bottom
                            bgcolor="#FFF2CC">{{ customer.zip }}</td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#FFF2CC">{{ customer.homePhone }}</td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#FFF2CC">{{ customer.fax }}</td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="center" valign=bottom bgcolor="#E7E6E6">OPT.
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#E7E6E6">OPTIONAL EQUIPMENT
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>NEW</b></td>
                        <td align="center" valign=bottom bgcolor="#F2F2F2">auto fill</td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>YEAR</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>MAKE</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="left"
                            valign=bottom bgcolor="#E7E6E6"><b>MODEL</b></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="center" valign=bottom bgcolor="#DEEBF7">Type 1
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7">Type 2
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>USED</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="center"
                            valign=bottom
                            bgcolor="#F2F2F2">auto fill
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="center" valign=bottom bgcolor="#F2F2F2">{[{listingyear}]}
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#F2F2F2">{[{listingmake}]}
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#F2F2F2">{[{listingmodel}]}
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>COLOR</b></td>
                        <td align="center" valign=bottom bgcolor="#F2F2F2">auto fill</td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="center" valign=bottom bgcolor="#E7E6E6"><b>VIN #</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=4
                            align="center"
                            valign=bottom bgcolor="#FFF2CC">
                            <div ng-app="">
                                <input type="text" ng-model="VIN" id="vin-autocomplete" ng-change="change('vin')"/>
                            </div>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #000000" height="20" align="left" valign=bottom
                            bgcolor="#DEEBF7">
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#E7E6E6"><b>ODOMETER
                                READING</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#E7E6E6"><b>NEW
                                WARRANTY</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"><input name="newwarranty" id="newwarranty"  />
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#F2F2F2">{[{listingmileage}]}
                        </td>
                        <td style="border-left: 1px solid #000000" colspan=2 align="center" valign=bottom
                            bgcolor="#E7E6E6">
                            <b>USED WARRANTY</b></td>
                        <td colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"><input name="usedwarranty" id="usedwarranty"  />
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>TRIM</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#F2F2F2">{[{listingtrim}]}
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=4
                            align="center"
                            valign=bottom bgcolor="#AFABAB"><b>TERMS OF SETTLEMENT</b></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#AFABAB"><b>TRADE-IN
                                DESCRIPTION </b></td>
                        <td colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>SALE
                                PRICE</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2 align="left"
                            valign=bottom bgcolor="#E7E6E6"><b>ADMIN FEE</b></td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>MAKE</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#E7E6E6"><b>MODEL</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>WARRANTY</b>
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#DEEBF7"><input name="tidmake" id="tidmake" />
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"><input name="tidmodel" id="tidmodel" />
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>PROTECTION
                                PKG</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>YEAR</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom
                            bgcolor="#E7E6E6"><b>MILEAGE</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom
                            bgcolor="#E7E6E6"><b>KM</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>TOTAL</b>
                        </td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="center" valign=bottom bgcolor="#DEEBF7"><input name="tidyear" id="tidyear" />
                        </td>
                        <td style="border-left: 1px solid #000000" align="center" valign=bottom bgcolor="#DEEBF7">
                            <input name="tidmileage" id="tidmileage" />
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="center"
                            valign=bottom bgcolor="#DEEBF7"><input name="tidkm" id="tidkm" />
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>LESS TRADE
                                IN</b></td>
                        <td style="border-top: 1px solid #000000" colspan=2 align="center" valign=bottom
                            bgcolor="#DEEBF7"
                            sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>VIN #</b></td>
                        <td style="border-top: 1px solid #000000" colspan=2 align="center" valign=bottom
                            bgcolor="#DEEBF7">
                            <input name="tidvin" id="tidvin" />
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>DIFFERENCE
                                PAYABLE</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=3 align="left"
                            valign=bottom>I HEREBY TRANSFER TO DEALER ALL MY RIGHTS, TITLE AND
                            OWNER-
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#FBE5D6"><b>TAX 1</b>
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000" colspan=3 align="left" valign=bottom>
                            SHIP
                            IN THE ABOVE TRADE-IN AND I DECLARE I AM THE SOLE OWNER
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#FBE5D6"><b>TAX 2</b>
                        </td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="left"
                            valign=bottom>AND POSSESSOR OF SAME AND THAT THERE IS NO LIEN,
                            MORTGAGE,
                        </td>
                        <td style="border-top: 1px solid #000000" colspan=2 align="left" valign=bottom
                            bgcolor="#FBE5D6">
                            <b>TAX 3</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000" colspan=3 align="left" valign=bottom>
                            NOTE
                            OR CLAIM OF ANY KIND OR NATURE ADVERSE TO MY RIGHTS
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#FBE5D6"><b>OTHER
                                MISC</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000" colspan=3 align="left" valign=bottom>
                            OF,
                            UPON OR AGAINST SAID TRADE-IN OTHER THAN AS STATED
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#FBE5D6"><b>OTHER
                                MISC</b></td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000" colspan=3 align="left" valign=bottom>

                            BELOW.
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>TAXES PAID
                                TOTAL</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #000000" height="20" align="left" valign=bottom
                            bgcolor="#DEEBF7">
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000" colspan=3 align="left" valign=bottom>
                            <br>
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>LIEN ON
                                TRADE-IN </b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="left"
                            valign=bottom><br></td>
                        <td colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>TOTAL
                                DUE</b></td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="left"
                            valign=bottom><b> </b></td>
                        <td style="border-top: 1px solid #000000" colspan=2 align="left" valign=bottom
                            bgcolor="#E7E6E6">
                            <b>LESS TRADE-IN TAX</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="left"
                            valign=bottom bgcolor="#FFFFFF"><b>__________________________________________</b>
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>LESS
                                DEPOSIT</b></td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=middle><b>SIGNATURE X</b></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#E7E6E6"></td>
                        <td style="border-top: 1px solid #000000" colspan=2 align="center" valign=bottom
                            bgcolor="#DEEBF7"></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" height="20"
                            align="left"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-left: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left"
                            valign=bottom></td>
                        <td colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>PAYABLE ON
                                DELEIVERY</b></td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            height="20" align="left" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=3 align="left"
                            valign=bottom bgcolor="#AFABAB"><b>LIEN PAYABLE TO</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>BALANCE TO
                                FINANCE</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" colspan=2 height="20" align="center" valign=bottom
                            bgcolor="#E7E6E6"><b>TOTAL</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=3
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"><input name="tidpayableto" id="tidpayableto" />
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>
                                INSURANCE</b>
                        </td>
                        <td colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            height="20"
                            align="center" valign=bottom bgcolor="#E7E6E6"><b>LESS DISCOUNT</b>
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=3 align="left"
                            valign=bottom bgcolor="#AFABAB"><b>ADDRESS</b></td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom
                            bgcolor="#E7E6E6"><b>BANK REGISTRATION FEE</b></td>
                        <td align="left" valign=bottom bgcolor="#E7E6E6"><br></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=2 height="20" align="center" valign=bottom bgcolor="#E7E6E6"><b>
                                OPTIONS
                                TOTAL COST</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="center" valign=bottom bgcolor="#DEEBF7" sdval="0"
                            sdnum="1033;0;&quot;$&quot;#,##0.00">$0.00
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            colspan=3 align="center" valign=bottom bgcolor="#DEEBF7"><input name="tidaddress" id="tidaddress" />
                        </td>
                        <td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#E7E6E6"></td>
                        <td style="border-top: 1px solid #000000" align="left" valign=bottom bgcolor="#E7E6E6"></td>
                        <td align="left" valign=bottom bgcolor="#DEEBF7" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            <br>
                        </td>
                        <td align="left" valign=bottom bgcolor="#DEEBF7" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            <br>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            align="left" valign=bottom bgcolor="#E7E6E6"><b>AMOUNT</b></td>
                        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000"
                            colspan=2 align="left" valign=bottom bgcolor="#E7E6E6"><b>TOTAL BALANCE
                                DUE</b></td>
                        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=2
                            align="center"
                            valign=bottom bgcolor="#DEEBF7" sdval="0" sdnum="1033;0;&quot;$&quot;#,##0.00">
                            $0.00
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-top: 1px solid #000000" colspan=4 height="20" align="left" valign=bottom
                            bgcolor="#AFABAB"><b>ACKNOWLEDGMENT OF CONDISITONS</b></td>
                        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom>
                        </td>
                        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td colspan=7 height="20" align="left" valign=bottom>THE PURCHASER
                            ACKNOWLEDGES HAVING REVIEWED THE ABOVE TERMS AND CONDITIONS AND
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px solid #000000" colspan=7 height="20" align="left" valign=bottom> IS
                            IN
                            FULL AGREEMENT BY AFFIXING HIS OR HER SIGNATURE
                        </td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan=4
                            align="center"
                            valign=bottom bgcolor="#E7E6E6"><b>SALESPERSON'S NAME</b></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td style="border-right: 1px solid #000000" align="left" valign=bottom>
                        </td>
                        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=4
                            align="center"
                            valign=bottom bgcolor="#DEEBF7"><input name="salesperson" id="salesperson" />
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td colspan=2 height="20" align="center" valign=bottom bgcolor="#E7E6E6"><b>
                                PURCHASERS
                                SIGNATURE X</b></td>
                        <td style="border-right: 1px solid #000000" colspan=5 align="center" valign=bottom>
                            _____________________________________________
                        </td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom>
                        </td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000"
                            align="left" valign=bottom></td>
                        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left"
                            valign=bottom>
                        </td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                    <tr>
                        <td height="20" align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                        <td align="left" valign=bottom></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
