{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% form_theme customerForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'css/angular/autocomplete-alt.css'
    'bundles/numadoadms/css/billing.css'
    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    {% javascripts
    'js/angular/autocomplete-alt.js'
    %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% include 'NumaDOADMSBundle:Billing:billing.js.twig' %}
    </script>
{% endblock javascripts %}
{% block content %}
    <div class="box billing-form" ng-app="billingApp">
        <div ng-controller="billingCtrl">
            {{ form_start(form) }}
            {{ form_row(form.customer_id) }}
            {{ form_row(form.dealer_id) }}
            {{ form_row(form.item_id) }}
            {{ form_row(form.active) }}
            <div class="box-header">
                {[{message}]}
            </div>
            {% if form_errors(form) is not empty %}
                <div class="alert alert-danger">
                    <strong>{{ form_errors(form)}}</strong>
                </div>
            {% endif %}
            <table width=100%">
                <tr>
                    <td class="border" valign="top" width="20%">
                        {% include "NumaDOADMSBundle:Billing/Block:dealerInfo.html.twig" %}
                    </td>
                    <td class="border" valign="top" width="60%">
                        {% include "NumaDOADMSBundle:Billing/Block:dealerLogo.html.twig" %}
                    </td>
                    <td class="border" valign="top" width="20%">
                        {% include "NumaDOADMSBundle:Billing/Block:dealerData.html.twig" %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td colspan="8">
                        {% include "NumaDOADMSBundle:Billing/Block:purchaserInfo.html.twig" %}
                    </td>
                </tr>
                <tr>
                    <td width="25%" valign="top">
                        {%  if template is defined and template=='template_4' %}
                            {% include "NumaDOADMSBundle:Billing/Block:optEquipment_template_4.html.twig" %}
                        {% else %}
                            {% include "NumaDOADMSBundle:Billing/Block:optEquipment.html.twig" %}
                        {% endif %}
                    </td>
                    <td width="75%"  valign="top">
                        <table width="100%">
                            <tr>
                                <td colspan="2">{% include "NumaDOADMSBundle:Billing/Block:vehicle.html.twig" %}</td>
                            </tr>
                            <tr>
                                <td width="50%"  valign="top">{% include "NumaDOADMSBundle:Billing/Block:tradeIn.html.twig" %}</td>
                                <td width="50%"   valign="top">{% include "NumaDOADMSBundle:Billing/Block:TOS.html.twig" %}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="60%"  autosize="1"  border="0" cellspacing="2">
                <tr>
                    <td colspan="2" class="darkgrey heading">ACKNOWLEDGMENT OF CONDITIONS</td>
                </tr>
                <tr>
                    <td colspan="2">THE PURCHASER ACKNOWLEDGES HAVING REVIEWED THE ABOVE TERMS AND CONDITIONS AND
                        IS IN FULL AGREEMENT BY AFFIXING HIS OR HER SIGNATURE
                    </td>
                </tr>
                <tr>
                    <td width="40%" class="heading">PURCHASE SIGNATURE X</td>
                    <td width="60%" style="border-bottom: 1px dashed #000"></td>
                </tr>
                <tr>
                    <td class="heading">CO-PURCHASE SIGNATURE X</td>
                    <td  style="border-bottom: 1px dashed #000"></td>
                </tr>
            </table>
            <table width="100%"  autosize="1" border="0" cellspacing="0">
                <tr>
                    <td class="centernoborder" colspan="2"><b>We Thank You For Your Business</b></td>
                </tr>
                <tr>
                    <td class="centernoborder" colspan="2">PLEASE BE ADVISED OF THE PROVISIONS ON PAGE 2 OF THIS CONTRACT WHICH CONSTITUTES PART OF THE CONTRACT AGREEMENT</td>
                </tr>
            </table>
            <ul class="list-inline">
                <li>
                    {{ form_row(form.s) }}
                    {{ form_row(form.submitxxx) }}
                </li>
                <li>
                    {{ form_row(form.submitAndPrint) }}
                </li>
            </ul>
            </form>
        </div>
    </div>
{% endblock %}