{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Billing creation</h1>

    {{ form_start(form) }}

    <div class="col-md-10">
    <ul>
        <li>{{ customer.firstName }}  {{ customer.lastName }}</li>
        <li>Address</li>
        <li>{{ customer.city }}, {{ customer.state }}, {{ customer.zip }}</li>
        <li>{{ customer.homePhone }}, {{ customer.mobilePhone }}, {{ customer.workPhone }}, {{ customer.email }}</li>
    </ul>
    </div>
    <div class="col-md-2">
        <p>Date: {{ form_widget(form.date_billing) }}</p>
        <script>
            $(function() {
                $('.dateBilling').datepicker({
                    dateFormat: 'dd-mm-yy',
                });
            });
        </script>

        Invoice #: {{ entity.id }}
    </div>
    <div class="col-md-12">
    <h2>Customer</h2>
    <table class="record_properties">
        <tbody>
        <tr>
            <th>Name: </th>
            <td>{{ customer.firstName }}  {{ customer.lastName }}</td>
        </tr>
        <tr>
            <th>Address: </th>
            <td></td>
        </tr>
        <tr>
            <th>City: </th>
            <td>{{ customer.city }}</td>
        </tr>
        <tr>
            <th>State/Prov.: </th>
            <td>{{ customer.state }}</td>
        </tr>
        <tr>
            <th>Zip/Postal: </th>
            <td>{{ customer.zip }}</td>
        </tr>
        <tr>
            <th>Phone: </th>
            <td>{{ customer.homePhone }}, {{ customer.mobilePhone }}, {{ customer.workPhone }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div>
        <div class="col-md-6">
            {{ form_label(form.comments) }}
            {{ form_widget(form.comments) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.totalAMT) }}
            {{ form_widget(form.totalAMT) }}
        </div>
    </div>

    {{ form_end(form) }}
    <a href="{{ path('customer') }}" class="btn btn-primary" >
        Back to the list
    </a>
{% endblock %}
