{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    <div class="page">
        <table >

            
            <tr>
                <td
                    colspan="2" height="20" align="center" valign="bottom" bgcolor="#E7E6E6"><b>
                        OPTIONS
                        TOTAL COST</b></td>
                <td
                    colspan="2"
                    align="right" bgcolor="#ffffff">
                    {{ billing.optionsTotalCost|localizedcurrency('USD') }}
                </td>
                <td
                    colspan="3" align="center" valign="bottom"
                    bgcolor="#ffffff">
                    {{ billing.address }}
                </td>
                <td
                    valign="middle"
                    bgcolor="#E7E6E6" width="100"></td>
                <td align="left" valign="bottom" bgcolor="#E7E6E6"  ><br></td>
                <td colspan="2"
                    align="right" bgcolor="#ffffff" >

                </td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
            </tr>
            <tr>
                <td height="30" align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td
                    align="left" valign="bottom"></td>
                <td align="left" valign="bottom" bgcolor="#E7E6E6"><b>AMOUNT</b></td>
                <td colspan="2"
                    align="center" bgcolor="#ffffff">
                    {{ billing.amount }}
                </td>
                <td
                    colspan="2" align="left" valign="middle" bgcolor="#E7E6E6"><b>TOTAL BALANCE DUE</b></td>
                <td colspan="2"
                    align="right" bgcolor="#ffffff">
                    {{ billing.totalBalanceDue|localizedcurrency('USD') }}
                </td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
            </tr>
            <tr>
                <td  valign="bottom"
                    bgcolor="#AFABAB"><b>ACKNOWLEDGMENT OF CONDITIONS</b></td>
                <td
                    valign="top" colspan="5"><b>Approved By</b>
                </td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
            </tr>
            <tr>
                <td colspan="7" rowspan="2" height="80" align="left" valign="top" >THE PURCHASER
                    ACKNOWLEDGES HAVING REVIEWED THE ABOVE TERMS AND CONDITIONS AND IS IN FULL AGREEMENT BY AFFIXING HIS OR HER SIGNATURE
                </td>
                <td
                    valign="bottom" colspan="5" bgcolor="#E7E6E6">
                    <b>SALESPERSON'S NAME</b>
                </td>
            </tr>
            <tr>
                <td  colspan="4"
                    align="center"
                    valign="middle" bgcolor="#ffffff">{{ billing.salesPerson }}
                </td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
                <td align="left" valign="bottom"></td>
            </tr>
            <tr>
                <td align="left" height="20px" valign="bottom"></td>
            </tr>
            <tr>
                <td colspan="5" height="20" align="center" valign="bottom" bgcolor="#E7E6E6">
                    <b>
                        PURCHASERS
                        SIGNATURE X
                    </b>
                </td>
                <td  valign="bottom">
                </td>
                <td colspan="4" align="center" valign="bottom">
                </td>
            </tr>
            <tr>
                <td align="left" height="20px" valign="bottom"></td>
            </tr>
            <tr>
                <td colspan="5" height="20" align="center" valign="bottom" bgcolor="#E7E6E6">
                    <b>
                        CO-PURCHASERS
                        SIGNATURE X
                    </b>
                </td>
                <td  valign="bottom">
                </td>
                <td colspan="4" align="center" valign="bottom">
                </td>
            </tr>
            <tr>
                <td align="left" height="20px" valign="bottom"></td>
            </tr>
            <tr>
                <td colspan="1" align="center" height="10px" valign="bottom">
                    <br>
                    <h3>We Thank You For Your Business</h3>
                </td>
            </tr>
        </table>
    </div>
    <div class="last-page">

        {% if dealer.termsText is defined %}
            {{ dealer.termsText()|raw }}
        {% endif %}
    </div>
{% endblock %}
