{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% block content %}
    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
    <div class="box box-default">
        <h1>Importfeed list</h1>

        <div class="box-header">

            <div class="box-tools">
                {% if(app.request.get('_dashboard')=='DMS') %}
                    <a href="{{ path('dms_importfeed_new') }}" class="btn btn-primary">
                        Create New Feed
                    </a>
                {% else %}
                    <a href="{{ path('importfeed_new') }}" class="btn btn-primary">
                        Create New Feed
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Sid</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.sid }}</td>
                        <td>{{ entity.category }}</td>
                        <td>{{ entity.description }}</td>
                        <td class="nowrap">
                            {% if(app.request.get('_dashboard')=='DMS') %}
                                <a href="{{ path('dms_importfeed_edit', { 'id': entity.id }) }}" type="button"
                                   class="btn btn-success">Edit</a>
                                <a href="{{ path('dms_import_mapping_feed', { 'id': entity.id }) }}" type="button"
                                   class="btn btn-primary">Mapping</a>
                                <a href="{{ path('dms_import_mapping_fetch', { 'id': entity.id }) }}" type="button"
                                   class="btn btn-danger">Fetch</a>
                                {#<a href="{{ path('dms_importfeed_items_delete', { 'id': entity.id }) }}"  type="button" class="btn btn-danger" data-confirm="All the listings from the feed will be deleted.<br>Are you sure you want to delete?"><i class="glyphicon glyphicon-trash"></i>Delete All Items from the Feed</a>#}
                            {% else %}
                                <a href="{{ path('importfeed_edit', { 'id': entity.id }) }}" type="button"
                                   class="btn btn-success">Edit</a>
                                <a href="{{ path('import_mapping_feed', { 'id': entity.id }) }}" type="button"
                                   class="btn btn-primary">Mapping</a>
                                <a href="{{ path('import_mapping_fetch', { 'id': entity.id }) }}" type="button"
                                   class="btn btn-danger">Fetch</a>
                                {#<a href="{{ path('importfeed_items_delete', { 'id': entity.id }) }}"  type="button" class="btn btn-danger" data-confirm="All the listings from the feed will be deleted.<br>Are you sure you want to delete?"><i class="glyphicon glyphicon-trash"></i>Delete All Items from the Feed</a>#}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {#{% include 'NumaDOAAdminBundle::deleteConfirm.js.twig' %}#}
{% endblock %}
