{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Importfeed</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sid</th>
                <td>{{ entity.sid }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Import_format</th>
                <td>{{ entity.importformat }}</td>
            </tr>
            <tr>
                <th>Delimiter</th>
                <td>{{ entity.delimiter }}</td>
            </tr>
            <tr>
                <th>Import_method</th>
                <td>{{ entity.importmethod }}</td>
            </tr>
            <tr>
                <th>Import_source</th>
                <td>{{ entity.importsource }}</td>
            </tr>
            <tr>
                <th>Root_node</th>
                <td>{{ entity.rootnode }}</td>
            </tr>
            <tr>
                <th>Listing_type</th>
                <td>{{ entity.listingtype }}</td>
            </tr>
            <tr>
                <th>Default_user</th>
                <td>{{ entity.defaultuser }}</td>
            </tr>
            <tr>
                <th>Notify_on_user_registration</th>
                <td>{{ entity.notifyonuserregistration }}</td>
            </tr>
            <tr>
                <th>Options_key</th>
                <td>{{ entity.optionskey }}</td>
            </tr>
            <tr>
                <th>Options_separator</th>
                <td>{{ entity.optionsseparator }}</td>
            </tr>
            <tr>
                <th>Default_package</th>
                <td>{{ entity.defaultpackage }}</td>
            </tr>
            <tr>
                <th>Pictures_key</th>
                <td>{{ entity.pictureskey }}</td>
            </tr>
            <tr>
                <th>Pictures_separator</th>
                <td>{{ entity.picturesseparator }}</td>
            </tr>
            <tr>
                <th>Activate_listing</th>
                <td>{{ entity.activatelisting }}</td>
            </tr>
            <tr>
                <th>Make_featured</th>
                <td>{{ entity.makefeatured }}</td>
            </tr>
            <tr>
                <th>Make_highlighted</th>
                <td>{{ entity.makehighlighted }}</td>
            </tr>
            <tr>
                <th>Make_slideshow</th>
                <td>{{ entity.makeslideshow }}</td>
            </tr>
            <tr>
                <th>Make_youtubevideo</th>
                <td>{{ entity.makeyoutubevideo }}</td>
            </tr>
            <tr>
                <th>Add_options</th>
                <td>{{ entity.addoptions }}</td>
            </tr>
            <tr>
                <th>Add_list_values</th>
                <td>{{ entity.addlistvalues }}</td>
            </tr>
            <tr>
                <th>Add_tree_values</th>
                <td>{{ entity.addtreevalues }}</td>
            </tr>
            <tr>
                <th>Unique_field</th>
                <td>{{ entity.uniquefield }}</td>
            </tr>
            <tr>
                <th>Update_on_match</th>
                <td>{{ entity.updateonmatch }}</td>
            </tr>
            <tr>
                <th>Expiration_after</th>
                <td>{{ entity.expirationafter }}</td>
            </tr>
            <tr>
                <th>Updated_on</th>
                <td>{{ entity.updatedon }}</td>
            </tr>
            <tr>
                <th>User_type</th>
                <td>{{ entity.usertype }}</td>
            </tr>
            <tr>
                <th>User_unique_field</th>
                <td>{{ entity.useruniquefield }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('importfeed') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('importfeed_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
