{#{% extends is_granted('ROLE_BUSINES')#}
{#? (is_granted('ROLE_DMS_USER')?'NumaDOADMSBundle::layout.html.twig':'NumaDOASiteBundle::home-layout.html.twig')#}
{#: 'NumaDOAAdminBundle::layout.html.twig' %}#}
{#{% extends app.request.get('_dashboard')=='DMS'#}
{#? 'NumaDOADMSBundle::layout.html.twig'#}
{#: 'NumaDOAAdminBundle::layout.html.twig' %}#}

{% extends is_granted('ROLE_BUSINES')
? (is_granted('ROLE_DMS_USER')?'NumaDOADMSBundle::layout.html.twig':'NumaDOASiteBundle::home-layout.html.twig')
:(app.request.get('_dashboard')=='DMS'?'NumaDOADMSBundle::layout.html.twig':'NumaDOAAdminBundle::layout.html.twig') %}


 {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
 {% form_theme coupons_form 'bootstrap_3_horizontal_layout.html.twig' %}
 {% form_theme site_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    <section class="content">
        <h1>Edit Dealer</h1>

        {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
        {{ component.image(entity.logoUrl, entity.name, '', 'search_image') }}
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ">
                <li role="presentation" class="active"><a data-toggle="tab" href="#details">Profile Details</a></li>
                <li role="presentation"><a data-toggle="tab" href="#coupons">Coupons</a></li>
                <li role="presentation"><a data-toggle="tab" href="#site">Site</a></li>
            </ul>
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div id="details" class="tab-pane active">
                        {{ form(edit_form) }}

                        <ul class="record_actions">
                            {% if (is_granted('ROLE_ADMIN')) %}
                                {% if(app.request.get('_dashboard')=='DMS') %}
                                    <a href="{{ path('dms_catalogs') }}" class="btn btn-primary">
                                       Back to the list
                                    </a>
                                {% else %}
                                    <a href="{{ path('catalogs') }}" class="btn btn-primary">
                                        Back to the list
                                    </a>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    <div id="coupons" class="tab-pane">

                        {{ form_start(coupons_form) }}
                        {# render the task's only field: description #}
                        {#{{ form_row(coupons_form.description) }}#}


                        <ul class="tags">
                            {# iterate over each existing tag and render its only field: name #}

                            {% for key,coupon in coupons_form.coupon %}

                                <h4>Coupon {{ (key+1) }}</h4>
                                <div>{{ form_row(coupon.name) }}</div>
                                <div>{{ form_row(coupon.discount) }}</div>
                                <div>{{ form_row(coupon.description) }}</div>
                                <div>{{ form_row(coupon.originalImage) }}
                                    {% if coupon.vars.data.photo is not empty %}
                                        <img src="{{ asset(coupon.vars.data.photo) }}" width="300px"/>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </ul>
                        {{ form_end(coupons_form) }}
                    </div>
                    <div id="site" class="tab-pane">

                        {{ form_start(site_form) }}
                        {{ form_row(site_form.site_url) }}
                        {{ form_row(site_form.site_theme) }}
                        {{ form_row(site_form.site_facebook) }}
                        {{ form_row(site_form.site_youtube) }}
                        {{ form_row(site_form.site_google) }}
                        {{ form_row(site_form.site_twitter) }}
                        {{ form_row(site_form.site_instagram) }}

                        <button type="submit" class="btn btn-primary">Update</button>
                        <a class="btn btn-primary" href="{{ path("dms_themes") }}" >Change the Theme</a>
                        {% if (is_granted('ROLE_ADMIN')) %}
                        <a href="{{ path('dms_catalogs') }}" class="btn btn-primary">
                            Back to the list
                        </a>
                        {% endif %}
                        {{ form_rest(site_form) }}

                        {{ form_end(site_form) }}


                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
