{% if item.categoryId()==1 %}
    {% set class = "col-md-4 col-xs-4" %}
    <section class="specs-table">
        <ul class="list-unstyled">
            <li class="{{ class }}">
                <span class="fieldCaption">Exterior Colour</span>
                <span class="fieldValue">{{ item.getExteriorColor() }}</span>
            </li>
            <li class="{{ class }}">
                <span class="fieldCaption">Engine</span>
                <span class="fieldValue">{{ item.getEngine() }}</span>
            </li>
            <li class="{{ class }}">
                <span class="fieldCaption">Transmission</span>
                <span class="fieldValue">{{ item.getTransmission() }}</span>
            </li>
            <li class="{{ class }}">
                <span class="fieldCaption">Drivetrain</span>
                <span class="fieldValue">{{ item.getDriveType() }}</span>
            </li>
            <li class="{{ class }}">
                <span class="fieldCaption">Odometer</span>
                <span class="fieldValue">{{ item.getMileage() }}</span>
            </li>
            <li class="{{ class }}">
                <span class="fieldCaption">Stock #</span>
                <span class="fieldValue">{{ item.getStockNr() }}</span>
            </li>
            <li class="{{ class }}">
                <span class="fieldCaption">VIN</span>
                <span class="fieldValue">{{ item.getVIN() }}</span>
            </li>
        </ul>
    </section>
{% elseif(item.categoryId()==2) %}
    {% include 'NumaDOASiteBundle:Item:marineDetailsSmallLb.html.twig' %}
{% elseif(item.categoryId()==3) %}
    {% include 'NumaDOASiteBundle:Item:motoDetailsSmallLb.html.twig' %}
{% elseif(item.categoryId()==4) %}
    {% include 'NumaDOASiteBundle:Item:rvsDetailsSmallLb.html.twig' %}
{% elseif(item.categoryId()==13) %}
    {% include 'NumaDOASiteBundle:Item:agDetailsSmallLb.html.twig' %}
{% else %}
{% endif %}