{% if item.categoryId()==1 %}
    <section class="specs-table">
        <ul class="list-unstyled">
            <li class="col-md-4">
                <span class="prop">Exterior Colour</span>
                <span class="value">{{ item.getExteriorColor() }}</span>
            </li>
            <li class="col-md-4">
                <span class="prop">Engine</span>
                <span class="value">{{ item.getEngine() }}</span>
            </li>
            <li class="col-md-4">
                <span class="prop">Transmission</span>
                <span class="value">{{ item.getTransmission() }}</span>
            </li>
            <li class="col-md-4">
                <span class="prop">Drivetrain</span>
                <span class="value">{{ item.getDriveType() }}</span>
            </li>
            <li class="col-md-4">
                <span class="prop">Odometer</span>
                <span class="value">{{ item.getMileage() }}</span>
            </li>
            <li class="col-md-4">
                <span class="prop">Stock #</span>
                <span class="value">{{ item.getStockNr() }}</span>
            </li>
            <li class="col-md-4">
                <span class="prop">VIN</span>
                <span class="value">{{ item.getVIN() }}</span>
            </li>
        </ul>
    </section>
{% elseif(item.categoryId()==2) %}
    {% include 'NumaDOASiteBundle:Item:marineDetailsSmallLb.html.twig' %}
{% elseif(item.categoryId()==3) %}
    {% include 'NumaDOASiteBundle:Item:motoDetailsSmallLb.html.twig' %}
{% elseif(item.categoryId()==4) %}
    {% include 'NumaDOASiteBundle:Item:rvsDetailsSmallLb.html.twig' %}
{% elseif(item.categoryId()==13) %}
    {% include 'NumaDOASiteBundle:Item:agDetailsSmallLb.html.twig' %}
{% else %}
{% endif %}