<table class="table">
    <thead>
    <tr>
        <th>CB</th>
        <th>Src</th>
        <th>Title</th>
        <th>Url</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    {% for entity in entities %}
        {% set image=uploadDir~"/"~entity.src %}
        <tr>
            <td>
                <div class="col-md-1"><input type="checkbox" name="image-{{ entity.id }}"
                                             value="{{ entity.id }}"
                                             class="image-checkbox">
                </div>
            </td>
            <td>
                {% if  "youtube" in entity.src %}
                    <a class="colorbox_youtube" href="{{ getYoutubeEmbed(getYoutubeId(entity.src)) }}"
                       title="{{ entity.title }}">
                        <img
                                src="{{ getYoutubeThumb(getYoutubeId(entity.src)) }}"
                                alt="image"
                                width="120px"
                                class="thumbnail"/>
                    </a>
                {% else %}
                    <a class="colorbox cimage" href="{{ asset(image,null,true) }}"
                       title="{{ entity.title }}">
                        <img class="thumbnail" src="{{ image|imagine_filter('search_image') }}"/>
                    </a>
                {% endif %}
            </td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.url }}</td>
            <td>
                <ul class="list-inline">
                    <li>
                        <a class="btn btn-primary"
                           href="{{ path('dms_imagecarousel_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a data-id="{{ entity.id }}" class="btn btn-danger delete-single" href="#">
                            <i class='glyphicon glyphicon-trash'></i>delete
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $("#select-all").click(function (e) {
        e.preventDefault();
        $(".image-checkbox").prop('checked', true);
    });
    $("#deselect-all").click(function (e) {
        e.preventDefault();
        $(".image-checkbox").prop('checked', false);
    });

    $("#delete-selected").click(function (ev) {
        ev.preventDefault();
        var sList = {};
        i = 0;
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                i++;
                ind = "i" + i;
                sList[ind] = $(this).val();
            }

        });
        console.log(sList);
        $.ajax(
                {
                    url: '{{ path('dms_imagecarousel_delete',{'id':0,'urlredirect':app.request.uri }) }}',
                    type: "POST",
                    data: sList,
                    success: function (data, textStatus, jqXHR) {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Error");
                    }
                });
    });
    $(".delete-single").click(function (ev) {
        ev.preventDefault();
        id = $(this).data('id');
        console.log(id);
        $.ajax(
                {
                    url: '{{ path('dms_imagecarousel_delete') }}',
                    type: "POST",
                    data: {'id': id},
                    success: function (data, textStatus, jqXHR) {

                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Error");
                    }
                });
    });
</script>