{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@colorbox_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{% block content %}
    <h1>Image Carousel list</h1>

    <div class="box box-default">

        <div class="box-header">
            <div class="box-tools">
                {% if(app.request.get('_dashboard')=='DMS') %}
                    <a class="btn btn-primary" href="{{ path('dms_imagecarousel_new') }}">
                        Add new images
                    </a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('imagecarousel_new') }}">
                        Add new images
                    </a>
                {% endif %}
            </div>
            <div class="row">
                {{ form_start(addVideoForm) }}
                <div class="col-lg-6">
                    <div class="input-group">

                        {{ form_widget(addVideoForm.url) }}
                        <span class="input-group-btn">
                            {{ form_widget(addVideoForm.send) }}
                        </span>
                    </div>
                </div>
                {{ form_end(addVideoForm) }}
            </div>
        </div>

        <div class="box-body table-responsive no-padding">
            {% include "NumaDOAAdminBundle:ImageCarousel:carousel_list.html.twig" %}
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $('a.colorbox').colorbox({maxWidth: '95%', maxHeight: '95%', rel: 'group1'});
            $("a.colorbox_youtube").colorbox({iframe: true, innerWidth: 640, innerHeight: 390});
        });

    </script>
{% endblock %}
