{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
 {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    <h1>Add new images to carousel</h1>
    <form action="{{ path('imagecarousel_upload') }}" method="post" {{ form_enctype(form) }} class="dropzone">

        {#{{ form_widget(form.file) }}#}

        {#<input type="submit" value="Upload" />#}
    </form>
    {#{{ form(form) }}#}

    <ul class="list-inline">
        <li>
            {% if(app.request.get('_dashboard')=='DMS') %}
                <a href="{{ path('dms_imagecarousel') }}" class="btn btn-primary">
                    Back to the carousel
                </a>
            {% else %}
                <a href="{{ path('imagecarousel') }}" class="btn btn-primary">
                    Back to the carousel
                </a>
            {% endif %}
        </li>
    </ul>
{% endblock %}
