{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DealerComponent</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dealer_id</th>
                <td>{{ entity.dealerid }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Settings</th>
                <td>{{ entity.settings }}</td>
            </tr>
            <tr>
                <th>Date_updated</th>
                <td>{{ entity.dateupdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date_created</th>
                <td>{{ entity.datecreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        
        <a href="{{ path('dealercomponent') }}" class="btn btn-primary" >
            Back to the list
        </a>


        <a href="{{ path('dealercomponent_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>

{% endblock %}
