{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% set liclass="col-md-6 col-xs-6 col-sm-6 col-lg-6" %}
{{ component.listingField(item.status,liclass, "Status") }}
{{ component.listingField(item.year,liclass, "Year") }}
{{ component.listingField(item.make,liclass, "Make") }}
{{ component.listingField(item.model,liclass, "Model") }}
{{ component.listingField(item.stock_nr,liclass, "Stock #") }}
{{ component.listingField(item.agApplication,liclass, "Ag Application") }}
{{ component.listingField(item.type,liclass, "Type") }}
{{ component.listingField(item.mileage,liclass, "Mileage") }}
{{ component.listingField(item.priceString,liclass, "Price String") }}
{{ component.listingField(item.driveType,liclass, "Drive Type") }}
{{ component.listingField(item.engine,liclass, "Engine") }}
{{ component.listingField(item.horsePower,liclass, "Horse Power") }}
{{ component.listingField(item.ofHours,liclass, "Hours") }}

    {% if item.getFuelType() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Fuel Type: </span>
            <span class="fieldValue fieldValue-status">{{ item.getFuelType() }}</span>
        </li>
    {% endif %}
    {% if item.getTransmission() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Transmission: </span>
            <span class="fieldValue fieldValue-status">{{ item.getTransmission() }}</span>
        </li>
    {% endif %}
    {% if item.getOperatorStation() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Operator Station: </span>
            <span class="fieldValue fieldValue-status">{{ item.getOperatorStation() }}</span>
        </li>
    {% endif %}
    {% if item.getSteering() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Steering: </span>
            <span class="fieldValue fieldValue-status">{{ item.getSteering() }}</span>
        </li>
    {% endif %}
    {% if item.getSpeedForward() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Speed Forward: </span>
            <span class="fieldValue fieldValue-status">{{ item.getSpeedForward() }}</span>
        </li>
    {% endif %}
    {% if item.getSpeedReverse() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Speed Reverse: </span>
            <span class="fieldValue fieldValue-status">{{ item.getSpeedReverse() }}</span>
        </li>
    {% endif %}
    {% if item.getTireSize() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Tire Size: </span>
            <span class="fieldValue fieldValue-status">{{ item.getTireSize() }}</span>
        </li>
    {% endif %}
    {% if item.getTireSize() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Tire Equipment: </span>
            <span class="fieldValue fieldValue-status">{{ item.getTireSize() }}</span>
        </li>
    {% endif %}
    {% if item.getCuttingWidth() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Cutting Width: </span>
            <span class="fieldValue fieldValue-status">{{ item.getCuttingWidth() }}</span>
        </li>
    {% endif %}
    {% if item.getExteriorColor() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field">Exterior Color: </span>
            <span class="fieldValue fieldValue">{{ item.getExteriorColor()|raw }}</span>
        </li>
    {% endif %}
    {% if item.getOther() is not empty %}
        <li class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            &nbsp;
        </li>
        <li class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <span class="fieldCaption field">Other: </span>
            <span class="fieldValue fieldValue">{{ item.getOther()|raw }}</span>
        </li>
    {% endif %}
    {% if item.currentSellerComment() is not empty %}
        <li class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            &nbsp;
        </li>
        <li class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="fieldCaption field">Seller Comments:</div>
            <span class="fieldValue fieldValue">
                {{ item.currentSellerComment()|raw }}
            </span>
        </li>
    {% endif %}
