{% include 'NumaDOASiteBundle::header.html.twig' %}

{% block content %}
    <h1>Compare listings</h1>
    {% if(items|length>0) %}

        <table class="table">

            <tr>
                <th>Property</th>
                {{ dump(items) }}
                {% for item in items %}
                    <th>{{ item['item'].getTitle() }}</th>
                {% endfor %}

            </tr>
            {% for field in fields %}

                <tr>
                    <td>{{ field['name'] }}</td>
                    {% for item in items %}
                        {% if item['list'][field['id']] is defined %}
                            {{ dump(item['list'][field['id']] ) }}
                            {% if item['list'][field['id']]['type']=="image" %}
                                <td><img src="{{ item['list'][field['id']]['value'].fieldStringValue }}" width="300px"></td>
                                {% else %}
                            <td>{{ item['list'][field['id']]['value'] }}</td>
                                {% endif %}
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        {#&#123;&#35; image fix&#35;&#125;#}
                        {#{% if (field['type']=='array') %}#}
                            {#{{ dump(item.getImage2().fieldStringValue()) }}#}
                            {#<td>#}
                                {#{% if item.getImage2().fieldStringValue() is defined %}#}
                                    {#<img src="{{ item.getImage2().fieldStringValue() }}">#}
                                {#{% endif %}#}
                            {#</td>#}
                        {#{% else %}#}
                            {#&#123;&#35;<td>{{ item.get(field['name']) }}</td>&#35;&#125;#}
                        {#{% endif %}#}
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <p>There are no listings to compare</p>
    {% endif %}
{% endblock %}