
{% extends app.request.attributes.get('_route')=='item_print_details' 
    ? 'NumaDOASiteBundle::print-layout.html.twig' 
    : 'NumaDOASiteBundle::listing-layout.html.twig' %}

{% block title %}<title>{{title}}</title>{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@NumaDOASiteBundle/Resources/Public/css/jssor.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% set images = item.getImages()%}    
    {% set desc = item.getMake()~" "~item.getModel()%}
        {% set currentPath = app.request.uri %}
            {% set dealer = item.getDealer() %}
                {% block content %}
                    <div class="detailsContent">

                        <h2 class="section">{{item.getItemFieldByName('year')}} {{desc}} <span classb="price">$ {{item.getItemFieldByName('price')|number_format(0, '.',',')}}</span></h3>

                            <!-- Jssor Slider Begin -->
                            <!-- You can move inline styles to css file or css block. -->
                            <div id="slider1_container" style="position: relative; width: 666px;
                                 height: 480px; overflow: hidden;">

                                <!-- Loading Screen -->
                                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                                    <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                                         background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
                                    </div>
                                    <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                                         top: 0px; left: 0px;width: 100%;height:100%;">
                                    </div>
                                </div>

                                <!-- Slides Container -->

                                <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 666px; height: 480px;
                                     overflow: hidden;">
                                    {% for key,image in images %}    
                                        <div>
                                            {% if ('http' not in image.stringvalue) %}
                                                <img  u="image" src="{{image.stringvalue|imagine_filter('item_detail_image')}}" alt="image{{key}}" />                              
                                                <img  u="thumb" src="{{image.stringvalue|imagine_filter('search_image')}}" alt="image{{key}}" />                              

                                            {% else %}

                                                <img  u="image" src="{{image.stringvalue}}" alt="image{{key}}" width="666" height="480"/>                              
                                                <img  u="thumb" src="{{image.stringvalue}}" alt="image{{key}}" width="120" height="90"/>                              

                                            {%endif%}

                                        </div>
                                    {% endfor %}

                                </div>

                                <!-- Thumbnail Navigator Skin Begin -->
                                <div u="thumbnavigator" class="jssort07" style="position: absolute; width: 666px; height: 100px; left: 0px; bottom: 0px; overflow: hidden; ">
                                    <div style=" background-color: #000; filter:alpha(opacity=30); opacity:.3; width: 100%; height:100%;"></div>

                                    <div u="slides" style="cursor: move;">
                                        <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 99px; HEIGHT: 66px; TOP: 0; LEFT: 0;">
                                            <thumbnailtemplate class="i" style="position:absolute;"></thumbnailtemplate>
                                            <div class="o">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Arrow Left -->
                                    <span u="arrowleft" class="jssora11l" style="width: 37px; height: 37px; top: 123px; left: 8px;">
                                    </span>
                                    <!-- Arrow Right -->
                                    <span u="arrowright" class="jssora11r" style="width: 37px; height: 37px; top: 123px; right: 8px">
                                    </span>
                                    <!-- Arrow Navigator Skin End -->
                                </div>
                                <!-- ThumbnailNavigator Skin End -->
                                <a style="display: none" href="http://www.jssor.com">responsive carousel</a>
                                <!-- Trigger -->
                            </div>
                            <!-- Jssor Slider End -->

                            {% if item.getItemFieldByName('youtube video id') is not empty%}
                                <div class='row'>
                                    <h4>Youtube video:</h4>
                                    <div class="youtube-video">
                                        <iframe width="640" height="480" src="//www.youtube.com/embed/{{item.getItemFieldByName('youtube video id')}}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {% endif %}
                            <div class='row'>

                                {% set ignore_fields = ['Image List','dealer','YouTube Video ID','Seller Comment','IW_NO'] %}
                                    {% include 'NumaDOASiteBundle:Item:carDetails.html.twig' %}                                 
                                    {% if item.categoryId()==1%}
                                    {% else %}
                                        <h4>Details:</h4>
                                        <ul class="techData">
                                            {% for field in item.ItemField %}

                                                {% if field.fieldName not in ignore_fields and field.fieldType!='boolean' and  field.fieldStringValue is not empty %}
                                                    <li class="col-md-6">
                                                        <span class="fieldCaption field{{field.fieldName}}">{{field.fieldName}}: </span>
                                                        {% if field.fieldName=="Price" %}

                                                            <span classb="price">$ {{item.getItemFieldByName('price')|number_format(0, '.',',')}}</span>   
                                                        {% elseif field.fieldName|lower=="make model" %}
                                                            <span class="fieldValue fieldValue{{field.fieldStringValue}}">{{field.fieldStringValue}}</span>
                                                        {% else %}
                                                            <span class="fieldValue fieldValue{{field.fieldStringValue}}">{{field.fieldStringValue}}</span>
                                                        {% endif %}
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if item.getItemFieldByName('seller comment') is not empty %}
                                                <li class="col-md-12">
                                                    <div class="fieldCaption field" >Seller Comments: </div>
                                                    <span class="fieldValue fieldValue">{{item.getItemFieldByName('seller comment')}}</span>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class='row'>
                                    <h4>Options list:</h4>
                                    <ul class='option-lists'>

                                        {% for field in item.ItemField %}

                                            {% if field.fieldName not in ignore_fields and field.fieldType=='boolean' and field.getFieldBooleanValue()==1 %}

                                                <li class="col-md-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <i class="glyphicon glyphicon-check"></i> {{field.fieldName}}
                                                        </label>
                                                    </div>
                                                </li>
                                            {% endif %}

                                        {% endfor %}
                                    </ul>
                                </div>
                                <div id="map"> </div> 

                        </div>
                        {% endblock %}

                            {% block rightsidebar %}

                                <ul class="righsidebar-block" data="{{item.id}}" url="{{path('item_compare')}}">
                                    <li>
                                        <div class="fb-like" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                                        <div id="fb-root"></div>
                                        <script>(function(d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id))
                                                    return;
                                                js = d.createElement(s);
                                                js.id = id;
                                                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>
                                    </li>
                                    <li>
                                        <a class="twitter-share-button"
                                           href="https://twitter.com/share"
                                           data-via="dealersonair"
                                           date-text="sss">
                                            Tweet
                                        </a>
                                        <script type="text/javascript">
                                            window.twttr = (function(d, s, id) {
                                                var t, js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) {
                                                    return
                                                }
                                                js = d.createElement(s);
                                                js.id = id;
                                                js.src = "https://platform.twitter.com/widgets.js";
                                                fjs.parentNode.insertBefore(js, fjs);
                                                return window.twttr || (t = {_e: [], ready: function(f) {
                                                        t._e.push(f)
                                                    }})
                                            }(document, "script", "twitter-wjs"));
                                        </script>
                                    </li>
                                    <li>
                                        <a  target="_blank" href="{{path('item_print_details', {'itemId': item.id, 'description': desc}) }}"><i class="glyphicon glyphicon-print"></i></a>
                                        <a  target="_blank" href="{{path('item_print_details', {'itemId': item.id, 'description': desc}) }}">
                                            Print This Ad
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{path('item_qrcode',{'link':currentPath})}}" target="_blank"><i class="glyphicon glyphicon-qrcode"></i></a>
                                        <a href="{{path('item_qrcode',{'link':currentPath})}}" target="_blank">QR Code</a>
                                    </li>
                                    <li>
                                        <a href="https://www.google.com/maps?daddr={% if (dealer is defined and dealer is not empty) %}{{dealer.address|url_encode()}}{%endif%}" target="_blank"><i class="glyphicon glyphicon-arrow-right"></i></a>
                                        <a href="https://www.google.com/maps?daddr={% if (dealer is defined and dealer is not empty) %}{{dealer.address|url_encode()}}{%endif%}" target="_blank">Get Direction</a>
                                    </li>
                                    <li>
                                        <a href="#" class="loan-calc" ><i class="glyphicon glyphicon-euro"></i></a>
                                        <a href="#" class="loan-calc">Loan Calculator</a>
                                    </li>
                                    <li>
                                        <a href="{{path('compared_listings')}}" target="_blank"><i class="glyphicon glyphicon-th-list"></i></a>
                                        <a href="{{path('compared_listings')}}" target="_blank">Comparision Table</a>
                                    </li>


                                    <li>
                                        <div class="checkbox-inline">
                                            <label>
                                                <input type="checkbox" class="compareAd" > Compare Ad
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-inline">
                                            <label>
                                                <input type="checkbox" class="saveAd"> Save Ad
                                            </label>
                                        </div>
                                    </li>
                                </ul> 
                                <div id="dialog" title="Loan Calculator">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Monthly payment
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Loan amounth
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Term of Loan</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="interestrate">Interest rate</label>
                                        <input type="text" class="form-control" id="interestrate" placeholder="">
                                    </div> 
                                    <div class="form-group">
                                        <label for="loanamount">Loan Amount</label>
                                        <input type="text" class="form-control" id="loanamount" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="monthlypayment">Monthly payment</label>
                                        <input type="text" class="form-control" id="monthlypayment" placeholder="">
                                    </div>
                                </tbody>
                            </div>

                            <script>
                                $(function() {
                                    $("#dialog").dialog({
                                        autoOpen: false,
                                        width: 500,
                                        height: 500
                                    });
                                    $(".loan-calc").click(function() {
                                        $("#dialog").dialog("open");
                                    });
                                });
                            </script> 

                            <a href="{{app.request.headers.get('referer')}}">Back to search</a>

                            {% if (dealer is defined and dealer is not empty) %}
                                <h3>Dealer Info</h3>
                                {% if (dealer.logo is empty) %}
                                    <img alt="logo" src="{{dealer.logoUrl}}" />
                                {% else %}
                                    <img alt="logo" src="{{asset(dealer.getLogoImage())}}" />
                                {% endif %}
                                <p><strong>{{dealer.name}}<strong/></p>
                                <p>{{dealer.state}}</p>
                                <p>{{dealer.city}} {{dealer.zip}}</p>
                                <p>{{dealer.address}}</p>
                                <p>{{dealer.phone}}</p>
                                <p>{{dealer.location}}</p>
                                <p><a href="{{dealer.url}}">Visit Our Website</a></p>
                                <p>Send <a href="mailto:{{dealer.email}}" >email</a>
                                <p><a style="" href="{{ path('browse_by_dealer',{'dealer_id': dealer.id,'dealername': dealer.name}) }}">See All Listings By This Dealer</a></p>
                                <p>
                                    <span class="fieldCaption fieldCaptionId">Listing #</span>
                                    <span class="fieldValue fieldValueId">{{item.id}}</span>
                                </p>
                                {% if app.user and app.user.getId()==dealer.id%}
                                    <p>Views ({{item.views}})<p>
                                        <a class="btn btn-primary" href="{{path('items_edit',{'id':item.id})}}" >Edit this listing</a>
                                        {% if item.getActive() %}
                                            <a class="btn btn-primary" href="{{path('items_deactivate',{'id':item.id})}}">Deactivate</a>
                                        {% else %}
                                            <a  class="btn btn-primary" href="{{path('items_activate',{'id':item.id})}}">Activate</a>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                                <script src="https://maps.googleapis.com/maps/api/js"></script>
                                <script>
                                var geocoder = new google.maps.Geocoder();
                                    {% if (dealer is defined and dealer is not empty) %}
                                        var address = "{{dealer.address}}";
                                    {% else %}
                                        var address = "saskatoon";
                                    {% endif %}
                                        var latitude = 44.5403;
                                        var longitude = -78.5463;
                                        geocoder.geocode({'address': address}, function(results, status) {
                                            console.log(status + ":::::" + address);
                                            if (status == google.maps.GeocoderStatus.OK) {
                                                latitude = results[0].geometry.location.lat();
                                                longitude = results[0].geometry.location.lng();

                                            }
                                        });
                                        function initialize() {
                                            var mapCanvas = document.getElementById('map');
                                            var mapOptions = {
                                                center: new google.maps.LatLng(latitude, longitude),
                                                zoom: 13,
                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                            }

                                            var map = new google.maps.Map(mapCanvas, mapOptions)
                                            var myLatlng = new google.maps.LatLng(latitude, longitude);
                                            var marker = new google.maps.Marker({
                                                position: myLatlng,
                                                map: map,{% if (dealer is defined and dealer is not empty) %}
                                                title: '{{dealer.name}}'
                                    {% endif %}
                                            });

                                        }
                                        google.maps.event.addDomListener(window, 'load', initialize);
                                    </script>
                                    {% javascripts     '@jquery_jssor_js' output="filename.js" %}
                                    <script src="{{ asset_url }}"></script>
                                    {% endjavascripts %}
                                    <script>
                                        jQuery(document).ready(function($) {
                                            var options = {
                                                $AutoPlay: true, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                                                $AutoPlayInterval: 4000, //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                                                $SlideDuration: 500, //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                                                $DragOrientation: 3, //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                                                $UISearchMode: 0, //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).

                                                $ThumbnailNavigatorOptions: {
                                                    $Class: $JssorThumbnailNavigator$, //[Required] Class to create thumbnail navigator instance
                                                    $ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always

                                                    $Loop: 2, //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                                                    $SpacingX: 3, //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                                                    $SpacingY: 3, //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                                                    $DisplayPieces: 6, //[Optional] Number of pieces to display, default value is 1
                                                    $ParkingPosition: 204, //[Optional] The offset position to park thumbnail,

                                                    $ArrowNavigatorOptions: {
                                                        $Class: $JssorArrowNavigator$, //[Requried] Class to create arrow navigator instance
                                                        $ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
                                                        $AutoCenter: 2, //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                                                        $Steps: 6                                       //[Optional] Steps to go for each navigation request, default value is 1
                                                    }
                                                }
                                            };

                                            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

                                            //responsive code begin
                                            //you can remove responsive code if you don't want the slider scales while window resizes
                                            function ScaleSlider() {
                                                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                                                if (parentWidth)
                                                    jssor_slider1.$SetScaleWidth(Math.min(parentWidth, 720));
                                                else
                                                    window.setTimeout(ScaleSlider, 30);
                                            }

                                            ScaleSlider();

                                            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                                                $(window).bind('resize', ScaleSlider);
                                            }


                                            //if (navigator.userAgent.match(/(iPhone|iPod|iPad)/)) {
                                            //    $(window).bind("orientationchange", ScaleSlider);
                                            //}
                                            //responsive code end
                                        });
                                    </script>
                                    {#{% javascripts '@savecompared_js' %}
                                    <script type="text/javascript" src="{{ asset_url }}"></script>
                                    {% endjavascripts %}#}
                                    <script>
                                        $(".saveAd").on("click", function() {
                                            var itemId = $(this).closest('.item-row').attr("data");
                                            console.log(itemId);
                                            var act = "add";
                                            if (!$(this).prop('checked')) {
                                                act = "remove";
                                            }
                                            var jqxhr = $.post("{{path('item_savead')}}", {itemid: itemId, act: act}, function(data) {
                                                htmlx = "";
                                                if (data.savedAds > 0) {
                                                    htmlx = "(" + data.savedAds + ")";
                                                }
                                                $('.savedAds').html(htmlx);
                                            })

                                        });
                                        $(".compareAd").on("click", function() {
                                            var itemId = $(this).closest('.item-row').attr("data");
                                            var url = $(this).closest('.item-row').attr("url");

                                            var act = "add";
                                            if (!$(this).prop('checked')) {
                                                act = "remove";
                                            }
                                            var jqxhr = $.post(url, {itemid: itemId, act: act}, function(data) {
                                                htmlx = "";
                                                if (data.comparedItes > 0) {
                                                    htmlx = "(" + data.comparedItes + ")";
                                                }
                                                $('.savedAds').html(htmlx);
                                            })

                                        });
                                    </script>
                                    {% endblock %}