{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}

{% block content %}
    {% set images = item.getImages()%}
        {% set desc = item.getMake()~item.getModel()%}
            <div class="detailsContent">
                <h3>{{item.getItemFieldByName('year')}} {{desc}}</h3>
                <div class="image-gallery">  
                    <div class="big-image">  

                        <img id="default" src="{{(images|first).stringvalue|imagine_filter('item_detail_image')}}" />
                    </div>  


                    <a class="button prev"><</a>
                    <a class="button next">></a>  
                    {#    <a href=""><span class=" glyphicon glyphicon-chevron-left"></span></a>
                        <a href="" class=" glyphicon glyphicon-chevron-right"></a>#}


                    <div class="thumbs">  
                        <ul>   
                            {% for key,image in images %}
                                <li>
                                    <a href="#image{{key}}"><img  src="{{image.stringvalue|imagine_filter('search_image')}}" alt="image{{key}}" /></a></li>
                                <li>
                                {% endfor %}
                        </ul>
                    </div>

                    <a href="#" class="showAllPictures">show all pictures</a>
                    <a href="#" class="viewSlideShow">view slideshow</a>

                </div>

                <ul class="techData">

                    <li>
                        <span class="fieldCaption fieldCaptionId">Listing #</span>
                        <span class="fieldValue fieldValueId">{{item.id}}</span>
                    </li>
                    {% set ignore_fields = ['Image List','dealer'] %}
                        {% for field in item.ItemField %}
                            {% if field.fieldName not in ignore_fields %}
                                <li>
                                    <span class="fieldCaption field{{field.fieldStringValue}}">{{field.fieldName}} </span>
                                    <span class="fieldValue fieldValue{{field.fieldStringValue}}">{{field.fieldStringValue}}</span>
                                </li>
                            {% endif %}
                        {% endfor %}




                        <div id="map"> </div> 
                        <script type="text/javascript">initialize();</script>

                        <div class="comments">
                            <h5><b>Comments</b></h5>
                            <p>There are no comments yet.</p>
                            <a href="# ">Add your comment</a>
                        </div>
                </div>
                {% endblock %}

                    {% block rightsidebar %}
                        {% if (dealer is not empty) %}
                            <h3>Dealer Info</h3>
                            {% if (dealer.logo is empty) %}
                                <img alt="logo" src="{{dealer.logoUrl}}" />
                                {% endif %}
                                <p><strong>{{dealer.name}}<strong/></p>
                            <p>{{dealer.address}}</p>
                            <p>{{dealer.phone}}</p>
                            <p>{{dealer.location}}</p>
                            <p>{{dealer.url}}</p>
                            <p>Send <a href="mailto:{{dealer.email}}" >email</a>
                            <p><a style="" href="{{ path('search_by_dealer',{'dealerid': dealer.id,'dealername': dealer.name}) }}">All adds by that dealser</a></p>

                        {% endif %}
                    {% endblock %}