{% extends app.request.attributes.get('_route')=='item_print_details'
? 'NumaDOASiteBundle::print-layout.html.twig'
: 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block title %}
    {% if(seo is not empty and seo.getTitle() is not empty and seo.getActive()) %}
        <title>{{ seo.getTitle() }}</title>
    {% else %}
        {# default meta title #}
        <title>{{ title }}: {{ item.getTitle() }}</title>
    {% endif %}
{% endblock title %}

{% block description %}

    {% if(seo is not empty and seo.getDescription() is not empty and seo.getActive()) %}
        <meta name="description" content="{{ seo.getDescription() }}"/>
    {% else %}
        {# default meta description #}
        {{ include("NumaDOASiteBundle::description.html.twig") }}
    {% endif %}
{% endblock description %}
{% block keyword %}
    {% if(seo is not empty and seo.getKeywords() is not empty and seo.getActive()) %}
        <meta name="keywords" content="{{ seo.getKeywords() }}"/>
    {% else %}
        {# default meta description #}
        {{ include("NumaDOASiteBundle::keywords.html.twig") }}
    {% endif %}
{% endblock keyword %}
{% block canonical %}
    <link rel="canonical" href="{{ url }}"/>
{% endblock canonical %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% set images = item.getImages2() %}

        {% set currentPath = app.request.uri %}
            {% set dealer = item.getDealer() %}
                {% block content %}
                    <div class="detailsContent">
                        {% for label, flashes in app.session.flashbag.all %}
                            {% for flash in flashes %}
                                <div class="alert alert-{{ label }}">
                                    {{ flash }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <h2 class="section">{{ item.getListingTitle() }} <span
                                    classb="price">{{ item.getPriceString() }}</span>{% if (item.getSold()==1) %}
                            <span class="badge">Sold</span>{% endif %}</h2>
                        <div class="row">
                            <div class="slideshow">

                                <ul class="pgwSlideshow">
                                    {% for key,image in images %}
                                        <li data-order="{{ image.sortOrder }}">
                                            {% if ('http' not in image.fieldStringValue) %}
                                                <img src="{{ image.fieldStringValue|imagine_filter('item_detail_image') }}"
                                                     alt="image{{ key }}"/>
                                            {% else %}
                                                {% set videoid="" %}
                                                {% set img=image.fieldStringValue %}
                                                {% if ('youtube' in image.fieldStringValue) %}
                                                    {% set videoid=getYoutubeId(image.fieldStringValue) %}
                                                    {% set img=getYoutubeThumb(videoid) %}
                                                {% endif %}
                                                <img data-video="{{ videoid }}" src="{{ img }}" alt="image{{ key }}"/>


                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                        {% if item.getItemFieldByName('youtube video id') is not empty %}
                            <div class='row'>
                                <h4>Youtube video:</h4>

                                <div class="youtube-video">
                                    <iframe width="640" height="480"
                                            src="//www.youtube.com/embed/{{ item.getItemFieldByName('youtube video id') }}"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endif %}

                        <h4>Details:</h4>

                        <div class='row'>
                            <ul class="techData">
                                {% set ignore_fields = ['Image List','dealer','YouTube Video ID','Seller Comment','IW_NO'] %}

                                {% if item.categoryId()==1 %}
                                    {% include 'NumaDOASiteBundle:Item:carDetails.html.twig' %}
                                {% elseif(item.categoryId()==2) %}
                                    {% include 'NumaDOASiteBundle:Item:marineDetails.html.twig' %}
                                {% elseif(item.categoryId()==3) %}
                                    {% include 'NumaDOASiteBundle:Item:motoDetails.html.twig' %}
                                {% elseif(item.categoryId()==4) %}
                                    {% include 'NumaDOASiteBundle:Item:rvsDetails.html.twig' %}
                                {% elseif(item.categoryId()==13) %}
                                    {% include 'NumaDOASiteBundle:Item:agDetails.html.twig' %}
                                {% else %}



                                    {% for field in item.ItemField %}

                                        {% if field.fieldName not in ignore_fields and field.fieldType!='boolean' and  field.fieldStringValue is not empty %}
                                            <li class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                                                <span class="fieldCaption field{{ field.fieldName }}">{{ field.fieldName }}
                                                    : </span>
                                                {% if field.fieldName=="Price" %}

                                                    <span classb="price">{{ item.getPriceString() }}</span>
                                                {% elseif field.fieldName|lower=="make model" %}
                                                    <span class="fieldValue fieldValue{{ field.fieldStringValue }}">{{ field.fieldStringValue }}</span>
                                                {% else %}
                                                    <span class="fieldValue fieldValue{{ field.fieldStringValue }}">{{ field.fieldStringValue }}</span>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if item.getItemFieldByName('seller comment') is not empty %}
                                        <li class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                                            <div class="fieldCaption field">Seller Comments:</div>
                                            <span class="fieldValue fieldValue">{{ item.getItemFieldByName('seller comment') }}</span>
                                        </li>
                                    {% endif %}

                                {% endif %}
                            </ul>
                        </div>

                        {% if (item.getOptions|length)>0 %}
                            <div class='row'>
                                <h4>Options list:</h4>
                                <ul class='option-lists'>

                                    {% for field in item.ItemField %}

                                        {% if field.fieldName not in ignore_fields and field.fieldType=='boolean' and field.getFieldBooleanValue()==1 %}

                                            <li class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <i class="glyphicon glyphicon-check"></i> {{ field.fieldName }}
                                                    </label>
                                                </div>
                                            </li>
                                        {% endif %}

                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if(item.videoId is not empty) %}
                            <h4>Video:</h4>
                            <div id="video" class="row">
                                <iframe width="600" height="400" src="https://www.youtube.com/embed/{{ item.videoId }}"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                        <h4>Map:</h4>

                        <div id="map"></div>

                    </div>
                {% endblock %}

                            {% block rightsidebar %}

                                <ul class="righsidebar-block" data="{{ item.id }}">
                                    <li>
                                        <div class="fb-like"
                                             data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                                             data-layout="standard" data-action="like" data-show-faces="true"
                                             data-share="true"></div>
                                        <div id="fb-root"></div>
                                        <script>(function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id))
                                                    return;
                                                js = d.createElement(s);
                                                js.id = id;
                                                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));</script>
                                    </li>
                                    <li>
                                        <a class="twitter-share-button"
                                           href="https://twitter.com/share"
                                           data-via="dealersonair"
                                           date-text="sss">
                                            Tweet
                                        </a>
                                        <script type="text/javascript">
                                            window.twttr = (function (d, s, id) {
                                                var t, js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) {
                                                    return
                                                }
                                                js = d.createElement(s);
                                                js.id = id;
                                                js.src = "https://platform.twitter.com/widgets.js";
                                                fjs.parentNode.insertBefore(js, fjs);
                                                return window.twttr || (t = {
                                                            _e: [], ready: function (f) {
                                                                t._e.push(f)
                                                            }
                                                        })
                                            }(document, "script", "twitter-wjs"));
                                        </script>
                                    </li>
                                    <li>
                                        <a target="_blank"
                                           href="{{ path('item_print_details', {'itemId': item.id, 'description': item.getUrlDescription()}) }}"><i
                                                    class="glyphicon glyphicon-print"></i></a>
                                        <a target="_blank"
                                           href="{{ path('item_print_details', {'itemId': item.id, 'description': item.getUrlDescription()}) }}">
                                            Print This Ad
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('item_qrcode',{'link':currentPath}) }}" target="_blank"><i
                                                    class="glyphicon glyphicon-qrcode"></i></a>
                                        <a href="{{ path('item_qrcode',{'link':currentPath}) }}" target="_blank">QR
                                            Code</a>
                                    </li>
                                    <li>
                                        {% if (dealer is defined and dealer is not empty) %}
                                            {% set addressMap = dealer.address~','~dealer.city %}

                                            <a href="https://www.google.com/maps?daddr={% if (dealer is defined and dealer is not empty) %}{{ addressMap|url_encode() }}{% endif %}"
                                               target="_blank"><i class="glyphicon glyphicon-arrow-right"></i></a>
                                            <a href="https://www.google.com/maps?daddr={% if (dealer is defined and dealer is not empty) %}{{ addressMap|url_encode() }}{% endif %}"
                                               target="_blank">Get Direction</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="#" class="loan-calc" data-target="#loancalc" data-toggle="modal"
                                           type="button"><i class="glyphicon glyphicon-euro"></i></a>
                                        <a href="#" class="loan-calc" data-target="#loancalc" data-toggle="modal"
                                           type="button">Loan Calculator</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('compared_listings') }}" target="_blank"><i
                                                    class="glyphicon glyphicon-th-list"></i></a>
                                        <a href="{{ path('compared_listings') }}" target="_blank">Comparision Table</a>
                                    </li>


                                    <li>
                                        <div class="checkbox-inline">
                                            <label>
                                                <input type="checkbox" class="compareAd" data-itemid="{{ item.id }}"
                                                       data-url="{{ path('item_compare') }}"> Compare Ad
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="checkbox-inline">
                                            <label>
                                                <input type="checkbox" class="saveAd" data-itemid="{{ item.id }}"> Save
                                                Ad
                                            </label>
                                        </div>
                                    </li>
                                </ul>

                                {{ include("NumaDOASiteBundle:Item:loanCalc.html.twig") }}

                                <a href="{{ app.request.headers.get('referer') }}">Back to search</a>

                                {% if (dealer is defined and dealer is not empty) %}
                                    <h3>Dealer Info</h3>

                                    {{ component.image(dealer.logoUrl, dealer.name, '', 'search_image') }}
                                    <p class="dealer-name">{{ dealer.name }}</p>
                                    {% if (dealer.hasCoupons()) %}
                                        {#{% if(dealer.getCoupon().count() is defined and dealer.getCoupon().count() is not empty) and dealer.getCoupon().count()>0 %}#}
                                        <a class="dealer-coupon-link"
                                           href="{{ path('dealer_coupons',{'dealername':dealer.username}) }}">SAVINGS
                                            COUPONS From This Dealer</a>
                                    {% endif %}
                                    <p>{{ dealer.address }}</br>
                                        {{ dealer.city }} {{ dealer.zip }}</br>
                                        {{ dealer.state }}</br>
                                        {{ dealer.phone }}</br>
                                        {{ dealer.location }}</p>
                                    <p><a href="{{ dealer.url }}">Visit Our Website</a></p>
                                    <p>
                                        <a data-toggle="modal" data-target="#myModal">Get ePrice aaaa</a>

                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title">Send email to {{ dealer }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    {% form_theme emailForm 'bootstrap_3_layout.html.twig' %}
                                                    <form action="" method="post" name="form">
                                                        {{ form_rest(emailForm) }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Send Email</button>
                                                </div>
                                                </form>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                    <p><a class="dealer-name"
                                          href="{{ path('browse_by_dealer',{'dealer_id': dealer.id,'dealername': dealer.name}) }}">See
                                            All Listings By This Dealer</a></p>
                                    <p>
                                        <span class="fieldCaption fieldCaptionId">Listing #</span>
                                        <span class="fieldValue fieldValueId">{{ item.id }}</span>
                                    </p>
                                    {% if (app.user and app.user.getId()==dealer.id) or is_granted('ROLE_DEALER_ADMIN') %}
                                        <p>Views ({{ item.views }})
                                        <p>
                                        <a class="btn btn-primary" href="{{ path('items_edit',{'id':item.id}) }}">Edit
                                            this
                                            listing</a>
                                        {% if item.getActive() %}
                                            <a class="btn btn-primary"
                                               href="{{ path('items_deactivate',{'id':item.id}) }}">Deactivate</a>
                                        {% else %}
                                            <a class="btn btn-primary"
                                               href="{{ path('items_activate',{'id':item.id}) }}">Activate</a>
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                                <script src="https://maps.googleapis.com/maps/api/js"></script>
                                <script>
                                    var geocoder = new google.maps.Geocoder();
                                    {% if (dealer is defined and dealer is not empty) %}
                                    var address = "{{ dealer.address }},{{ dealer.city }}";
                                    {% else %}
                                    var address = "saskatoon";
                                    {% endif %}
                                    var latitude = 44.5403;
                                    var longitude = -78.5463;
                                    geocoder.geocode({'address': address}, function (results, status) {
                                        console.log(status + ":::::" + address);
                                        if (status == google.maps.GeocoderStatus.OK) {
                                            latitude = results[0].geometry.location.lat();
                                            longitude = results[0].geometry.location.lng();

                                        }
                                    });
                                    function initialize() {
                                        var mapCanvas = document.getElementById('map');
                                        var mapOptions = {
                                            center: new google.maps.LatLng(latitude, longitude),
                                            zoom: 13,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        }

                                        var map = new google.maps.Map(mapCanvas, mapOptions)
                                        var myLatlng = new google.maps.LatLng(latitude, longitude);
                                        var marker = new google.maps.Marker({
                                            position: myLatlng,
                                            map: map, {% if (dealer is defined and dealer is not empty) %}
                                            title: '{{ dealer.name }}'
                                            {% endif %}
                                        });

                                    }
                                    google.maps.event.addDomListener(window, 'load', initialize);
                                </script>

                                <script>
                                    $(document).ready(function () {

                                        $('.pgwSlideshow').pgwSlideshow();
                                    });
                                </script>
                                {#{% javascripts '@savecompared_js' %}
                                <script type="text/javascript" src="{{ asset_url }}"></script>
                                {% endjavascripts %}#}
                                <script>
                                    $(".saveAd").on("click", function () {
                                        var itemId = $(this).data("itemid");
                                        console.log(itemId);
                                        var act = "add";
                                        if (!$(this).prop('checked')) {
                                            act = "remove";
                                        }
                                        var jqxhr = $.post("{{ path('item_savead') }}", {
                                            itemid: itemId,
                                            act: act
                                        }, function (data) {
                                            htmlx = "";
                                            if (data.savedAds > 0) {
                                                htmlx = "(" + data.savedAds + ")";
                                            }
                                            $('.savedAds').html(htmlx);
                                        })

                                    });
                                    $(".compareAd").on("click", function () {
                                        var itemId = $(this).data("itemid");
                                        var url = $(this).data("url");

                                        var act = "add";
                                        if (!$(this).prop('checked')) {
                                            act = "remove";
                                        }
                                        var jqxhr = $.post(url, {itemid: itemId, act: act}, function (data) {
                                            htmlx = "";
                                            if (data.comparedItes > 0) {
                                                htmlx = "(" + data.comparedItes + ")";
                                            }
                                            $('.savedAds').html(htmlx);
                                        })

                                    });
                                </script>
                            {% endblock %}