{% set liclass="col-md-12 col-xs-12 col-sm-12 col-lg-12" %}
    {% if item.type is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Type: </span>
            <span class="fieldValue fieldValue-status">{{ item.type }}</span>
        </li>
    {% endif %}
    {% if item.stock_nr is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Stock Number: </span>
            <span class="fieldValue fieldValue-status">{{ item.gstock_nr }}</span>
        </li>
    {% endif %}
    {% if item.sleeps is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Sleeps: </span>
            <span class="fieldValue fieldValue-status">{{ item.stock_nr }}</span>
        </li>
    {% endif %}
    {% if item.slideOuts is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Slide Outs: </span>
            <span class="fieldValue fieldValue-status">{{ item.slideOuts }}</span>
        </li>
    {% endif %}
    {% if item.mileage is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Mileage: </span>
            <span class="fieldValue fieldValue-status">{{ item.mileage }}</span>
        </li>
    {% endif %}
    {% if item.exteriorColor is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Exterior Color: </span>
            <span class="fieldValue fieldValue-status">{{ item.exteriorColor }}</span>
        </li>
    {% endif %}