
<ul class="techData">
    <li class="col-md-6">
        <span class="fieldCaption field-status">Status: </span>
        <span class="fieldValue fieldValue-status">{{item.getStatus()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Year: </span>
        <span class="fieldValue fieldValue-status">{{item.getYear()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Make Model: </span>
        <span class="fieldValue fieldValue-status">{{item.getMake()}}</span>
    </li>

    <li class="col-md-6">
        <span class="fieldCaption field-status">Model: </span>
        <span class="fieldValue fieldValue-status">{{item.getModel()}}</span>
    </li>            
    <li class="col-md-6">
        <span class="fieldCaption field-status">Floor Plan: </span>
        <span class="fieldValue fieldValue-status">{{item.getFloorPlan()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Chassis: </span>
        <span class="fieldValue fieldValue-status">{{item.getChassis()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Stock Number: </span>
        <span class="fieldValue fieldValue-status">{{item.getStockNr()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Mileage: </span>
        <span class="fieldValue fieldValue-status">{{item.getMileage()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Price: </span>
        <span class="fieldValue fieldValue-status">{{item.getPrice()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Exterior Color: </span>
        <span class="fieldValue fieldValue-status">{{item.getExteriorColor()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Interior Color: </span>
        <span class="fieldValue fieldValue-status">{{item.getInteriorColor()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Engine: </span>
        <span class="fieldValue fieldValue-status">{{item.getEngine()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Fuel Type: </span>
        <span class="fieldValue fieldValue-status">{{item.getFuelType()}}</span>
    </li>
        <li class="col-md-6">
        <span class="fieldCaption field-status">Transmission: </span>
        <span class="fieldValue fieldValue-status">{{item.getTransmission()}}</span>
    </li>


    <li class="col-md-6">
        <span class="fieldCaption field-status">Drive Type: </span>
        <span class="fieldValue fieldValue-status">{{item.getDriveType()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Chassis Type: </span>
        <span class="fieldValue fieldValue-status">{{item.getChassisType()}}</span>
    </li>
        <li class="col-md-6">
        <span class="fieldCaption field-status">Fuel Type: </span>
        <span class="fieldValue fieldValue-status">{{item.getFuelType()}}</span>
    </li>    

    <li class="col-md-6">
        <span class="fieldCaption field-status">Sleeps: </span>
        <span class="fieldValue fieldValue-status">{{item.getSleeps()}}</span>
    </li>
        <li class="col-md-6">
        <span class="fieldCaption field-status">Slide Outs: </span>
        <span class="fieldValue fieldValue-status">{{item.getSlideOuts()}}</span>
    </li>    

    <li class="col-md-6">
        <span class="fieldCaption field-status">Length (ft): </span>
        <span class="fieldValue fieldValue-status">{{item.getLength()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">Weight: </span>
        <span class="fieldValue fieldValue-status">{{item.getWeight()}}</span>
    </li>
        <li class="col-md-6">
        <span class="fieldCaption field-status">Flooring: </span>
        <span class="fieldValue fieldValue-status">{{item.getFlooring()}}</span>
    </li>    
    <li class="col-md-6">
        <span class="fieldCaption field-status">MPG - City: </span>
        <span class="fieldValue fieldValue-status">{{item.getMpgCity()}}</span>
    </li>
    <li class="col-md-6">
        <span class="fieldCaption field-status">MPG - Highway: </span>
        <span class="fieldValue fieldValue-status">{{item.getMpgHighway()}}</span>
    </li>

    {% if item.getSellerComment() is not empty %}
        <li class="col-md-12">
            <div class="fieldCaption field" >Seller Comments: </div>
            <span class="fieldValue fieldValue">{{item.getSellerComment()}}</span>
        </li>
    {% endif %}
</ul>
{#<h4>Details:</h4>
<ul class="techData">
    {% for field in item.ItemField %}

        {% if field.fieldName not in ignore_fields and field.fieldType!='boolean' and  field.fieldStringValue is not empty %}
            <li class="col-md-6">
                <span class="fieldCaption field{{field.fieldName}}">{{field.fieldName}}: </span>
                {% if field.fieldName=="Price" %}

                    <span classb="price">$ {{item.getItemFieldByName('price')|number_format(0, '.',',')}}</span>   
                {% elseif field.fieldName|lower=="make model" %}
                    <span class="fieldValue fieldValue{{field.fieldStringValue}}">{{field.fieldStringValue}}</span>
                {% else %}
                    <span class="fieldValue fieldValue{{field.fieldStringValue}}">{{field.fieldStringValue}}</span>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    {% if item.getItemFieldByName('seller comment') is not empty %}
        <li class="col-md-12">
            <div class="fieldCaption field" >Seller Comments: </div>
            <span class="fieldValue fieldValue">{{item.getItemFieldByName('seller comment')}}</span>
        </li>
    {% endif %}
</ul>#}