{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% block content -%}
    <div class="box reports-page">
        <div class="box-header">
            {% if app.session.flashBag.has('danger') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('danger') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <h3 class="box-title">Report list</h3>
            <div class="box-tools">
            </div>
        </div>

        <form class="form-inline" id="report-form">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="form-group">
                        <label for="dateFrom">Date From:</label>
                        <input class="datepicker form-control" id="dateFrom" name="dateFrom"
                               value="{{ date_start }}">
                    </div>
                    <div class="form-group">
                        <label for="dateTo">Date To:</label>
                        <input class="datepicker form-control" id="dateTo" name="dateTo" value="{{ date_end }}">
                    </div>

                    <button class="btn btn-success" type="submit" name="filter" id="filter-results">Filter</button>
                    <div class="date-text">Not Required</div>
                </div>
            </div>
            <div class="col-md-6" id="report-chooser">
                <div class="input-group col-md-10">
                    <select class="report form-control" name="report" id="report">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_DEALER_PRINCIPAL') %}

                            <option>Select the report from the list</option>
                            <option name="purchase" value="purchase">Purchase Report</option>
                            <option name="sale" value="sale">Sales Report</option>

                            <option name="sales-commission" value="sales-commission">Sales Commission Report</option>
                            <option name="unit-profit" value="unit-profit">Unit Profit Report</option>
                            <option name="unit-revenue" value="unit-revenue">Unit Revenue Report</option>
                            <option name="unit-sales-cost" value="unit-sales-cost">Unit Sales Cost Report</option>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DMS_USER') or is_granted('ROLE_DEALER_PRINCIPAL') or is_granted('ROLE_SALES') or is_granted('ROLE_SALE3_DMS') %}
                            <option name="finance-insurance" value="finance-insurance">F & I Report</option>
                        {% endif %}
                    </select>
<span class="input-group-btn">
                <button class="btn btn-success">Open Selected Report</button>
    </span>
                </div>

            </div>
        </form>


        {#<button class="btn btn-info" href="{{ path("billing_report_xls",{'id': dealer.id}) }}"><i class="glyphicon glyphicon-file"></i>Excel</button>#}
        {% if billings is empty %}
            <div>No Results</div>
        {% else %}

            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Invoice Date</th>
                        {#<th>Bill of sale Date</th>#}
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Vin</th>
                        <th>Stock Number</th>
                        {#<th>Comments</th>#}
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for billing in billings %}
                        <tr>
                            <td><a href="{{ path('dms_items_edit', { 'id': billing.id }) }}">{{ billing.id }}</a></td>
                            <td>{% if billing.getSale().getInvoiceDate() %}{{ billing.getSale().getInvoiceDate()|date('Y-M-d') }}{% endif %}</td>
                            {#<td>{{ billing.getDateBilling() }}</td>#}
                            <td>{{ billing.Make }}</td>
                            <td>{{ billing.Model }}</td>
                            <td>{{ billing.Year }}</td>
                            <td>{{ billing.Vin }}</td>
                            <td>{{ billing.stockNR }}</td>

                            {#<td>{{ billing.comments }}</td>#}
                            <td>
                                <a href="{{ path('dms_items_edit', { 'id': billing.id }) }}"
                                   class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i>Edit</a>
                                <a href="{{ path('sale_print_inside', { 'id': billing.id }) }}"
                                   class="btn btn-primary"><i class="glyphicon glyphicon-list-alt"></i>Pdf</a>
                                {#<a href="{{ path('sale_delete', { 'id': billing.saleId,"redirect":"dms_reports" }) }}"#}
                                {#class="btn btn-danger"#}
                                {#data-confirm="Unit Profit Report for listing # <strong>{{ billing.id }}</strong> will be deleted.<br>Are you sure you want to delete it?">#}
                                {#<i class="glyphicon glyphicon-remove"></i>Delete</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {#{% include 'NumaDOAAdminBundle::deleteConfirm.js.twig' %}#}
    <script>
        $(function () {
            $(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>
{% endblock %}
