<div class="footer-wrapper">
    <div class="footer">
        <div class="bottom-menu">
            {%  set bottommenu = displayComponent('bottommenu',"template","dealer") %}
            {% if bottommenu != '' %}
                {{ include(template_from_string(bottommenu)) }}
            {% endif %}
            {% if bottommenu == '' %}
            <ul>
                <li><a href="{{ path("homepage") }}">Home</a></li>
                <li><a href="{{ path("about_us") }}">About Us</a></li>
                <li><a href="{{ path("search_dispatch") }}">Products</a></li>
                <li><a href="{{ path("service_form") }}">Services</a></li>
                <li><a href="{{ path("contactus") }}">Contact Us</a></li>
            </ul>
            {% endif %}
        </div>
        <div class="pull-right">
            <a href="http://www.dms-lite.com/">Powered By DMS-Lite</a>
        </div>
        <div class="copyright">Copyright &copy; 2017 {{ dealer.name }} &middot; All Rights Reserved</div>
        <div class="extra-menu">
            {%  set extramenu = displayComponent('extramenu',"template","dealer") %}
            {% if extramenu != 'enter this value of component in DMS' %}
                {{ include(template_from_string(extramenu)) }}
            {% endif %}
            {% if extramenu == 'enter this value of component in DMS' %}
            <ul>
                <li><a href="#">Policy</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>