{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>

    {% block stylesheets %}

        {% stylesheets '@bootstrap'  '@NumaDOASiteBundle/Resources/Public/Sea/css/template1.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts 'js/jssor/jssor.slider.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".mobile-menu ul ul").hide();
                /* hide sublinks */
                jQuery(".separator").click(function () {
                    jQuery(this).next().slideToggle(300);
                    /* display sublinks */
                });
            });
        </script>

    {% endblock %}
</head>

<body>
{% block headline %}
    {% include 'NumaDOASiteBundle::headline.html.twig' %}
{% endblock %}

{% block mainmenu %}
    {% include 'NumaDOASiteBundle::mainmenu.html.twig' %}
{% endblock %}

{% block mobilemenu %}
    {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
{% endblock %}
{% block banner %}
    <div class="banner">

        <div class="image">
            {% image '@NumaDOASiteBundle/Resources/Public/Sea/images/banner.jpg' %}
            <img src="{{ asset_url }}" alt="Example"/>
            {% endimage %}
        </div>

    </div>
{% endblock %}
{% block buttons %}
    <div class="buttons">

        <ul>
            <li>
                {% if displayComponent('sea_small_button1',"HTML","dealer") is not empty %}
                {{ displayComponent('sea_small_button1',"HTML","dealer")|raw }}
                {% else %}
                <a href="{{ path("search_new_vehicle") }}">
                    <span class="left-arrow">
                        {% image '@NumaDOASiteBundle/Resources/Public/Sea/images/double-arrow-button.png' %}
                        <img src="{{ asset_url }}"/>
                        {% endimage %}
                    </span>
                    <span class="button-title"><span>New</span> Showroom</span>
                    <span class="click-here">Click Here</span>
                </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_small_button2',"HTML","dealer") is not empty %}
                {{ displayComponent('sea_small_button2',"HTML","dealer")|raw }}
                {% else %}
                <a href="{{ path("search_used_vehicle") }}">
                    <span class="left-arrow">
                        {% image '@NumaDOASiteBundle/Resources/Public/Sea/images/double-arrow-button.png' %}
                        <img src="{{ asset_url }}"/>
                        {% endimage %}
                    </span>
                    <span class="button-title"><span>Used</span> Showroom</span>
                    <span class="click-here">Click Here</span>
                </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_small_button3',"HTML","dealer") is not empty %}
                {{ displayComponent('sea_small_button3',"HTML","dealer")|raw }}
                {% else %}
                <a href="{{ path("finance_form") }}">
                    <span class="left-arrow">
                        {% image '@NumaDOASiteBundle/Resources/Public/Sea/images/double-arrow-button.png' %}
                        <img src="{{ asset_url }}"/>
                        {% endimage %}
                    </span>
                    <span class="button-title"><span>Get</span> Financed</span>
                    <span class="click-here">Click Here</span>
                </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_small_button4',"HTML","dealer") is not empty %}
                {{ displayComponent('sea_small_button4',"HTML","dealer")|raw }}
                {% else %}
                <a href="{{ path("service_form") }}">
                    <span class="left-arrow">
                        {% image '@NumaDOASiteBundle/Resources/Public/Sea/images/double-arrow-button.png' %}
                        <img src="{{ asset_url }}"/>
                        {% endimage %}
                    </span>
                    <span class="button-title"><span>Service</span> Department</span>
                    <span class="click-here">Click Here</span>
                </a>
                {% endif %}
            </li>
        </ul>

    </div>
{% endblock %}
{% block links %}
    <div class="links">

        <ul>
            <li>
                {% if displayComponent('sea_large_button5',"HTML","dealer") is not empty %}
                {{ displayComponent('sea_large_button5',"HTML","dealer")|raw }}
                {% else %}
                <a href="{{ path("news") }}">
                    <span class="link-title"><span>Dealer</span> News</span>
                    <span class="click-here">Click Here</span>
                </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_large_button6',"HTML","dealer") is not empty %}
                {{ displayComponent('sea_large_button6',"HTML","dealer")|raw }}
                {% else %}
                <a href="{{ path('part_form') }}">
                    <span class="link-title"><span>Parts</span> Department</span>
                    <span class="click-here">Click Here</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
{% block featuredads %}
    {{ render_esi(controller('NumaDOASiteBundle:Default:featuredAdd', { 'max': 6,'order':1 })) }}
{% endblock %}
<div class="content">
    <div class="alertz hide alert"></div>
{% block content %}

{% endblock %}
</div>
{% block info %}
    <div class="info">
        <ul>
            <li>{{ component.image(dealer.logoUrl, dealer.name, '', 'sea_logo_home') }}</li>
            <li>
                <h2>{{ dealer.name }}</h2>

                <div class="address">
                    {{ dealer.address }}<br>
                    {{ dealer.city }}, {{ dealer.state }} {#· S7B 2K4#}
                </div>
                {% if dealer.phone is defined and dealer.phone is not empty %}
                <div class="phone">
                    <span>Phone:</span> {{ dealer.phone }}<br>
                </div>
                {% endif %}
            </li>
            {% if dealer.ServiceHours is not empty %}
            <li>
                <h2>Hours Of Operation</h2>
                {{ dealer.ServiceHours|raw }}
            </li>
            {% endif %}
            {% if displayComponent('quick_links',"HTML","dealer") is not empty %}
            <li>
                <h2>Quick Links</h2>
                {{ displayComponent('quick_links',"HTML","dealer")|raw }}
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block map %}
    {% include '@NumaDOASite/map.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'NumaDOASiteBundle::footer.html.twig' %}
{% endblock %}
</body>
</html>