<div class="mobile-menu">
    <ul class="menu">
        <li><span class="separator">Menu</span>
            <ul>
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('about_us') }}">About Us</a></li>
                <li><a href="{{ path('search_dispatch') }}">Products</a>
                    <ul>
                        <li><a href="">Online Shopping</a></li>
                        <li><a href="">Parts List</a></li>
                        <li><a href="{{ path('search_dispatch') }}">Showroom</a></li>
                        <li><a href="">Get a Quote</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('service_form') }}">Services</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </li>
    </ul>
</div>