{% set liclass="col-lg-4 col-md-6 col-sm-6 col-xs-12" %}
    {% if item.getStatus() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Status: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getStatus() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getYear() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Year: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getYear() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getMake() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Make Model: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getMake() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getModel() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Model: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getModel() }}</span>
            </div>
        </li>
    {% endif %}
{% if item.getStockNr() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Stock#: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getStockNr() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getVIN() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Serial: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getVIN() }}</span>
        </div>
    </li>
{% endif %}
{% if item.exteriorColor() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Exterior Color: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.exteriorColor() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getTireSize() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Tire Size: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getTireSize() }}</span>
        </div>
    </li>
{% endif %}

{% if item.getTireEquipment() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Tire Equipment: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getTireEquipment() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getLength() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Trailer Length: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getLength() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getWidth() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Trailer Width: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getWidth() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getRearConfig() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Rear Config: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getRearConfig() }}</span>
        </div>
    </li>
{% endif %}

{% if item.getHitchType() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Hitch Type: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getHitchType() }}</span>
        </div>
    </li>
{% endif %}

{% if item.getGvwr() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">GVWR: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getGvwr() }}</span>
        </div>
    </li>
{% endif %}

{% if item.getTongue() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Tongue: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getTongue() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getCrossMember() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Cross Member: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getCrossMember() }}</span>
        </div>
    </li>
{% endif %}
{% if item.getCrossMember() is not empty %}
    <li class="{{ liclass }}">
        <div class="checkbox">
            <label>
                <span class="fieldCaption field-status">Cross Member: </span>
            </label>
            <span class="fieldValue fieldValue-status">{{ item.getCrossMember() }}</span>
        </div>
    </li>
{% endif %}
    {% if item.getSides() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Sides: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getSides() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getJack() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Jack: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getJack() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getWeight() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Empty Weight: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getWeight() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getSuspension() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Suspension: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getSuspension() }}</span>
            </div>
        </li>
    {% endif %}

    {% if item.getFlooring() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Floor: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getFlooring() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getEngine() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Engine: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getEngine() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getHorsepower() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Horsepower: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getHorsepower() }}</span>
            </div>
        </li>
    {% endif %}

    {% if item.getRemotes() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Description: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getRemotes() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getPtoHorsepower() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">PTO Horsepower: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getPtoHorsepower() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getDBRHorsepower() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">DBR Horsepower: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getDBRHorsepower() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getFuelType() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Fuel Type: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getFuelType() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getTransmission() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Transmission: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getTransmission() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getOperatorStation() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Operator Station: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getOperatorStation() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getSteeringType() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Steering Type: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getSteeringType() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getSpeedForward() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Speed Forward: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getSpeedForward() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getSpeedReverse() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Speed Reverse: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getSpeedReverse() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getTireSize() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Tire Size: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getTireSize() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getTireEquipment() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Tire Equipment: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getTireEquipment() }}</span>
            </div>
        </li>
    {% endif %}
    {% if item.getCuttingWidth() is not empty %}
        <li class="{{ liclass }}">
            <div class="checkbox">
                <label>
                    <span class="fieldCaption field-status">Cutting Width: </span>
                </label>
                <span class="fieldValue fieldValue-status">{{ item.getCuttingWidth() }}</span>
            </div>
        </li>
    {% endif %}