<table class="table table-striped">
    <tbody>
    <tr class="">
        <td class="table-col-1">Trailer Type:</td>
        <td class="table-col-2" itemprop="bodyType">{{ item.getSubCategoryType() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Stock #:</td>
        <td class="table-col-2">{{ item.getStockNr() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Trailer Length:</td>
        <td class="table-col-2">{{ item.getLength() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Width:</td>
        <td class="table-col-2">{{ item.getWidth() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Description:</td>
        <td class="table-col-2">{{ item.getSellerComment()|raw }}</td>
    </tr>
    </tbody>
</table>
