{% set class="col-sm-2 col-xs-3" %}
{% if(site is defined and site) %}
    {% set class="col-sm-4 col-xs-4 box" %}
{% endif %}

    <div class="{{ class }}">
        <div class="description-block border-right">
            <p class="description-text">TOTAL LISTINGS: <strong>{{ totalListings }}</strong></p>
        </div>
        <div class="description-block border-right">
            <p class="description-text">TOTAL VIEWS: <strong>{{ totalViews }}</strong></p>
        </div>
    </div>

    <div class="{{ class }}">
        <div class="description-block border-right">
            <p class="description-text">TOTAL CAR LISTINGS: <strong>{{ totalCarListings }}</strong></p>
        </div>
        <div class="description-block border-right">
            <p class="description-text">TOTAL CAR VIEWS: <strong>{{ totalCarViews }}</strong></p>
        </div>
    </div>

    <div class="{{ class }}">
        <div class="description-block border-right">
            <p class="description-text">TOTAL MOTO LISTINGS: <strong>{{ totalMotoListings }}</strong></p>
        </div>
        <div class="description-block border-right">
            <p class="description-text">TOTAL MOTO VIEWS: <strong>{{ totalMotoViews }}</strong></p>
        </div>
    </div>

    <div class="{{ class }}">
        <div class="description-block border-right">
            <p class="description-text">TOTAL MARINE LISTINGS: <strong>{{ totalMarineListings }}</strong></p>
        </div>
        <div class="description-block border-right">
            <p class="description-text">TOTAL MARINE VIEWS: <strong>{{ totalMarineViews }}</strong></p>
        </div>
    </div>

    <div class="{{ class }}">
        <div class="description-block border-right">
            <p class="description-text">TOTAL AG LISTINGS: <strong>{{ totalAgsListings }}</strong></p>
        </div>
        <div class="description-block border-right">
            <p class="description-text">TOTAL AG VIEWS: <strong>{{ totalAgsViews }}</strong></p>
        </div>
    </div>


    <div class="{{ class }}">
        <div class="description-block border-right">
            <p class="description-text">TOTAL RVs LISTINGS: <strong>{{ totalRvsListings }}</strong></p>
        </div>
        <div class="description-block border-right">
            <p class="description-text">TOTAL Rvs VIEWS: <strong>{{ totalRvsViews }}</strong></p>
        </div>
    </div>