{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>
    <meta name="description" content=" "/>
    <meta name="keywords" content=" "/>
    {% block stylesheets %}

        {% stylesheets '@bootstrap'  'bundles/numadoasite/Bridge/css/bridge.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' "bundles/numadoasite/Bridge/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}
    {% block ga %}
        {% include "NumaDOASiteBundle::ga.html.twig" %}
    {% endblock %}
</head>

<body>
<header class="site-header">
    {% block headline %}
        {% include 'NumaDOASiteBundle::headline.html.twig' %}
    {% endblock %}

    {% block mainmenu %}
        {% include 'NumaDOASiteBundle::mainmenu.html.twig' %}
    {% endblock %}

    {% block mobilemenu %}
        {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
    {% endblock %}
</header>
{% set imgBg = displayComponent('homepage_image_top','Image','dealer','bridge',{"output":"src"})   %}
{% set imgBgStyle = ''%}

{% if imgBg is not empty %}
    {% set imgBgStyle = 'style="background-image: url(\''~imgBg|raw~'\')"'%}
{% endif %}

{% set imgBg2 = displayComponent('homepage_image_bottom','Image','dealer','bridge',{"output":"src"})   %}
{% set imgBgStyle2 = ''%}
{% if imgBg2 is not empty %}
    {% set imgBgStyle2 = 'style="background-image: url(\''~imgBg2|raw~'\')"'%}
{% endif %}
<main class="site-content">
    <section class="splash" {{ imgBgStyle|raw }}>

        <div class="hero-content">
            <div class="group">
                <h2>Browse Our Huge Stock of Commercial Trucks and Vans</h2>

                <div class="container">
                    <div class="row">
                        <div class="col-md-2"></div>
                            {{ render_esi(controller('NumaDOASiteBundle:Default:searchForm',{'inputClass': 'col-md-6 the-input', 'buttonClass': 'col-md-4', 'button': 'btn btn-bridge-red'})) }}
                    </div>
                </div>
                <div class="buttons container">
                    <div class="button">
                        <a href="{{ path("search_by_truck_van_type",{'truckVanTypeWildcard':"flat deck"}) }}" class="btn btn-bridge-red">Flat Decks</a>
                    </div>
                    <div class="button">
                        <a href="{{ path("search_by_truck_van_type",{truckVanTypeWildcard:"cargo van"}) }}" class="btn btn-bridge-red">Cargo Vans</a>
                    </div>
                    <div class="button">
                        <a href="{{ path("search_by_truck_van_type",{truckVanTypeWildcard:"cube van"}) }}" class="btn btn-bridge-red">Cube Vans</a>
                    </div>
                    <div class="button">
                        <a href="{{ path("search_by_truck_van_type",{truckVanTypeWildcard:"passenger cab"}) }}" class="btn btn-bridge-red">Passenger Vans</a>
                    </div>
                    <div class="button">
                        <a href="{{ path("search_by_truck_van_type",{truckVanTypeWildcard:"chassis cab"}) }}" class="btn btn-bridge-red">Chassis Cabs</a>
                    </div>
                    <div class="button">
                        <a href="{{ path("search_by_truck_van_type",{truckVanTypeWildcard:"pickup"}) }}" class="btn btn-bridge-red">Pickup</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% block featuredads %}
        <h2 class="featured-header" style="padding-top: 25px;">Vehicles on Special</h2>
        {{ render_esi(controller('NumaDOASiteBundle:Default:featuredAdd', { 'max': 6,'order':1 })) }}
    {% endblock %}
    <section class="colorblock-section" {{ imgBgStyle2|raw }}>
        <div class="container welcome-text">
            <div class="row">
            <div class="title-block">
                <h2>Used Commercial Vehicles in Saskatoon, Saskatchewan</h2>
            </div>

            <div class="content-block">
                <div class="row">
                    <div class="col-md-12">
                        <p>At Saskatoon Truck Centre, just 12 kilometers south of the city on Highway 11, we are the province’s largest source for commercial trucks and vans. Tradespeople from all across Regina, Swift Current, Moose Jaw, and North Battleford come to us for their specific pre-owned work vehicle from Chevrolet, GMC, Ford, RAM, Mercedes-Benz Sprinter, and Mitsubishi in the following gas and diesel configurations:</p>
                        <ul>
                            <li>Half, three-quarter, and one ton pick ups</li>
                            <li>Flat decks</li>
                            <li>Cargo vans</li>
                            <li>Cube vans</li>
                            <li>Chassis cabs</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </section>
    <div class="container">
        <div class="alertz hide alert"></div>
        {% block content %}

        {% endblock %}


    </div>
</main>

{% block footer %}
    {% include 'NumaDOASiteBundle::footer.html.twig' %}
{% endblock %}
<div id="loading-indicator" class="loading_info">
    <i class="fa fa-spinner fa-pulse fa-spin fa-5x"></i>
</div>
</body>
</html>