{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>
    <title>Dealers on Air</title>
    <meta name="description" content=" "/>
    <meta name="keywords" content=" "/>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        {% stylesheets 'bundles/numadoasite/Mountain/css/template2.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        {% javascripts '@bootstrapx_js' "bundles/numadoasite/Mountain/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}
    {% block bodyBackground %}
        {% include "NumaDOASiteBundle::bodyBg.html.twig" %}
    {% endblock %}
    {% block ga %}
        {% include "NumaDOASiteBundle::ga.html.twig" %}
    {% endblock %}
</head>

<body>
<div id="wrapper">
    {% block header %}
        {% include 'NumaDOASiteBundle::headline.html.twig' %}
    {% endblock %}
    {% block mainmenu %}
        {% include 'NumaDOASiteBundle::mainmenu.html.twig' %}
    {% endblock %}

    {% block mobilemenu %}
        {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
    {% endblock %}
    <div class="container">

        {{ displayComponent("homepage_carousel","carousel",'page','mountain',{"image_size":"carousel_top_mountain", "class": "homepage_carousel"})|raw }}

        {#{% set images = displayComponent("homepage_carousel","carousel","page","mountain") %}#}

        {#{% if images is not empty %}#}
        {#<div class="bottom-margin">#}
        {#<div id="myCarousel_top" class="carousel slide carousel-fade" data-ride="carousel">#}
        {#<!-- Wrapper for carousel items -->#}
        {#<div class="carousel-inner">#}
        {#{% for image in images %}#}
        {#<div class="item {% if loop.first %} active{% endif %}">#}
        {#{{ component.image('upload/dealers/'~image.src, "", '', 'carousel_top_mountain',"100%","auto") }}#}
        {#{% if image.carouselText is not empty %}#}
        {#<div class="text_widget">{{ image.carouselText|raw }}</div>#}
        {#{% endif %}#}
        {#</div>#}
        {#{% endfor %}#}
        {#</div>#}
        {#<!-- Carousel controls -->#}
        {#<a class="carousel-control left" href="#myCarousel_top" data-slide="prev">#}
        {#<span class="glyphicon glyphicon-chevron-left"></span>#}
        {#</a>#}
        {#<a class="carousel-control right" href="#myCarousel_top" data-slide="next">#}
        {#<span class="glyphicon glyphicon-chevron-right"></span>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#{% endif %}#}


        <div class="row">
            {#{% set button1 = displayComponent('mountain_button_1','image_object',"page","mountain") %}#}
            {#{% set button2 = displayComponent('mountain_button_2','image_object',"page","mountain") %}#}
            {#{% set button3 = displayComponent('mountain_button_3','image_object',"page","mountain") %}#}
            {#{% set button4 = displayComponent('mountain_button_4','image_object',"page","mountain") %}#}
            {#{% set button5 = displayComponent('mountain_button_5','image_object',"page","mountain") %}#}

            {#<div class="button {% if button1 is empty %}b1{% endif %} col-lg-3 col-md-3 col-sm-6 col-xs-12">#}

            {#<a href=" {% if button1 is not empty and button1.url is  defined %}{{ button1.url }}{% else %}#{% endif %}"#}
            {#class="">#}
            {#<div class="button-text">#}
            {#{% if button1 is not empty and button1.carouselText is  defined %}#}
            {#<h2>{{ button1.carouselText|striptags('<span>')|raw }}</h2>#}
            {#<div class="click-here">Click Here</div>#}
            {#{% endif %}#}
            {#</div>#}
            {#{% if button1 is not empty and button1 is not empty and button1.src is defined %}#}
            {#{{ component.image(button1.src, 'btn1', '', 'mountain_button',"100%","auto") }}#}
            {#{% endif %}#}
            {#</a>#}

            {#</div>#}

            {#<div class="button {% if button2 is empty %}b2{% endif %} col-lg-3 col-md-3 col-sm-6 col-xs-12">#}

            {#<a href=" {% if button2 is not empty and button2.url is  defined %}{{ button2.url }}{% else %}#{% endif %}"#}
            {#class="">#}
            {#<div class="button-text">#}
            {#{% if button2 is not empty and button2.carouselText is defined %}#}
            {#<h2>{{ button2.carouselText|striptags('<span>')|raw }}</h2>#}
            {#<div class="click-here">Click Here</div>#}
            {#{% endif %}#}
            {#</div>#}
            {#{% if button2 is not empty and button2 is not empty and button2.src is defined %}#}
            {#{{ component.image(button2.src, 'btn2', '', 'mountain_button',"100%","auto") }}#}
            {#{% endif %}#}
            {#</a>#}

            {#</div>#}

            {#<div class="button {% if button3 is empty %}b3{% endif %} col-lg-3 col-md-3 col-sm-6 col-xs-12">#}

            {#<a href=" {% if button3 is not empty and button3.url is  defined %}{{ button3.url }}{% else %}#{% endif %}"#}
            {#class="">#}
            {#<div class="button-text">#}
            {#{% if button3 is not empty and button3.carouselText is defined %}#}
            {#<h2>{{ button3.carouselText|striptags('<span>')|raw }}</h2>#}
            {#<div class="click-here">Click Here</div>#}
            {#{% endif %}#}
            {#</div>#}
            {#{% if button3 is not empty and button3 is not empty and button3.src is defined %}#}
            {#{{ component.image(button3.src, 'btn3', '', 'mountain_button',"100%","auto") }}#}
            {#{% endif %}#}
            {#</a>#}

            {#</div>#}
            {{ displayComponent('mountain_button_1','image','page','mountain',{"template":"NumaDOASiteBundle::button.html.twig","template_params":{"button":"mountain_button","num":1}}) }}
            {{ displayComponent('mountain_button_2','image','page','mountain',{"template":"NumaDOASiteBundle::button.html.twig","template_params":{"button":"mountain_button","num":2}}) }}
            {{ displayComponent('mountain_button_3','image','page','mountain',{"template":"NumaDOASiteBundle::button.html.twig","template_params":{"button":"mountain_button","num":3}}) }}
            {{ displayComponent('mountain_button_4','image','page','mountain',{"template":"NumaDOASiteBundle::button_small.html.twig","template_params":{"button":"mountain_small_button","num":4}}) }}
            {{ displayComponent('mountain_button_5','image','page','mountain',{"template":"NumaDOASiteBundle::button_small.html.twig","template_params":{"button":"mountain_small_button","num":5}}) }}

            {#<div class="button  col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
            {{ displayComponent('mountain_button_4','image','page','mountain',{"template":"NumaDOASiteBundle::button_small.html.twig","template_params":{"button":"mountain_small_button","num":4}}) }}
            {{ displayComponent('mountain_button_5','image','page','mountain',{"template":"NumaDOASiteBundle::button_small.html.twig","template_params":{"button":"mountain_small_button","num":5}}) }}


        </div>
    </div>
    {% block browse %}
        <div class="browse">

            <ul>
                <li><h2><span>Browse</span> by Type</h2></li>
                <li><a class="motorhome"
                       href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'class-c-motorhome'}) }}">Motorhome</a>
                </li>
                <li><a class="travel-trailer"
                       href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'travel-trailer'}) }}">Travel
                        Trailer</a></li>
                <li><a class="fifth-wheel"
                       href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': '5th-wheel'}) }}">Fifth
                        Wheel</a></li>
                <li><a class="toy-hauler"
                       href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'travel-trailer-toy-hauler'}) }}">Toy
                        Hauler</a></li>
                <li><a class="park-models"
                       href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'pop-up'}) }}">Park
                        Models</a></li>
            </ul>

        </div>
    {% endblock %}
    {% block banner %}

        <div class="banner"><img src="images/banner.jpg"/></div>
        <div class="banner">

            <div class="image">
                {% image 'bundles/numadoasite/Mountain/images/banner.jpg' %}
                <img src="{{ asset_url }}" alt="Example"/>
                {% endimage %}
            </div>

        </div>
    {% endblock %}
    {% block content %}
        <div class="content">
            {{ displayComponent('page_content',"HTML")|raw }}
        </div>
    {% endblock %}
    {% block footer %}
        {% include 'NumaDOASiteBundle::footer.html.twig' %}
    {% endblock %}
</div>

</div>
{% if dealer is defined and dealer.settingPurechat is not empty %}
    {{ dealer.settingPurechat|raw }}
{% endif %}
</body>
</html>

