{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        {% stylesheets '@theme_mountain_css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}
        {% javascripts '@bootstrapx_js' 'js/jssor/jssor.slider.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".mobile-menu ul ul").hide();
                /* hide sublinks */
                jQuery(".separator").click(function () {
                    jQuery(this).next().slideToggle(300);
                    /* display sublinks */
                });
            });
        </script>

    {% endblock %}
    {% block bodyBackground %}
        {% include "NumaDOASiteBundle::bodyBg.html.twig" %}
    {% endblock %}
</head>

<body>
<div id="wrapper">
    {% block header %}
        {% include 'NumaDOASiteBundle::headline.html.twig' %}
    {% endblock %}
    {% block main %}
        {#{{ render_esi(controller('NumaDOASiteBundle:Default:contactus')) }}#}
        {% include 'NumaDOASiteBundle::mainmenu.html.twig' %}
    {% endblock %}

    {% block mobilemenu %}
        {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
    {% endblock %}
    <div class="container">

        <div class="button-wrapper">
            {% set button1 = displayComponent('button_1','image')   %}
            {% set button2 = displayComponent('button_2','image')   %}
            {% set button3 = displayComponent('button_3','image')   %}
            {% set button4 = displayComponent('button_4','image')   %}
            {% set button5 = displayComponent('button_5','image')   %}

            <div class="button {% if button1 is empty %}b1{% endif %}">

                <a href="{{ path("search_new_vehicle") }}">

                    {% if button1 is not empty %}
                        {{ component.image(button1, 'btn1', '', 'mountain_button') }}
                    {% endif %}
                    <h2><span>Shop for</span> New RVs</h2>

                    <div class="click-here">Click Here</div>

                </a>

            </div>

            <div class="button {% if button2 is empty %}b2{% endif %}">

                <a href="{{ path("search_used_vehicle") }}">
                    {% if button2 is not empty %}
                        {{ component.image(button2, 'btn2', '', 'mountain_button') }}
                    {% endif %}
                    <h2><span>Shop for</span> Pre-Owned</h2>

                    <div class="click-here">Click Here</div>

                </a>

            </div>

            <div class="button {% if button3 is empty %}b3{% endif %}">

                <a href="{{ path("finance_form") }}">
                    {% if button3 is not empty %}
                        {{ component.image(button3, 'btn3', '', 'mountain_button') }}
                    {% endif %}
                    <h2><span>Apply for</span> Financing</h2>

                    <div class="click-here">Click Here</div>

                </a>

            </div>

            <div class="button">

                <div class="b4">

                    <a href="{{ path("part_form") }}">

                        <h2>Parts</h2>

                        <div class="click-here">Click Here</div>

                    </a>

                </div>

                <div class="b5">

                    <a href="{{ path("service_form") }}">
                        {#{% if button5 is not empty %}#}
                            {#{{ component.image(button5, 'btn5', '', 'mountain_small_button') }}#}
                        {#{% endif %}#}
                        <h2>Service</h2>

                        <div class="click-here">Click Here</div>
                    </a>

                </div>

            </div>
        </div>
    {% block browse %}
        <div class="browse">

            <ul>
                <li><h2><span>Browse</span> by Type</h2></li>
                <li><a class="motorhome" href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'class-c-motorhome'}) }}">Motorhome</a></li>
                <li><a class="travel-trailer" href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'travel-trailer'}) }}">Travel Trailer</a></li>
                <li><a class="fifth-wheel" href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': '5th-wheel'}) }}">Fifth Wheel</a></li>
                <li><a class="toy-hauler" href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'travel-trailer-toy-hauler'}) }}">Toy Hauler</a></li>
                <li><a class="park-models" href="{{ path('search_by_rvs_type',{'category': 'rvs','rvsTypeSlug': 'pop-up'}) }}">Park Models</a></li>
            </ul>

        </div>
    {% endblock %}
    {% block banner %}

        {#<div class="banner"><img src="images/banner.jpg" /></div>#}
        {#<div class="banner">#}

            <div class="image">
                {% image '@NumaDOASiteBundle/Resources/Public/Mountain/images/banner.jpg' %}
                <img src="{{ asset_url }}" alt="Example"/>
                {% endimage %}
            </div>

        </div>
    {% endblock %}
        {#<div class="content">#}
            {#<h1>Welcome to {{ dealer.name }}</h1>#}
            {{ displayComponent('page_content',"HTML") }}
        {#</div>#}

    </div>

    {% block footer %}
        {% include 'NumaDOASiteBundle::footer.html.twig' %}
    {% endblock %}

</div>
</body>
</html>

<script>
    var button4 = "{{ button4 }}"
    var button5 = "{{ button5 }}"
    if(button4 != ""){
        $('.b4').css("background-image", "url({{ button4 }})");
    }
    if(button5 != "") {
        $('.b5').css("background-image", "url({{ button5 }})");
    }
</script>