{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% block content -%}
<div class="box box-default">
    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}
    <h1>Ads list</h1>
    {% if(app.request.get('_dashboard')=='DMS') %}
        <a href="{{ path('dms_ad_new') }}" class="btn btn-primary">
            Create a new entry
        </a>
    {% else %}
        <a href="{{ path('ad_new') }}" class="btn btn-primary">
            Create a new entry
        </a>
    {% endif %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Title</th>
                <th>Position</th>
                <th>Status</th>
                <th>Photo</th>
                <th>Body</th>
                <th>Clicks</th>
                <th>Views</th>
                <th>Ratio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ad_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.position }}</td>
                <td>
                    {% if (entity.status == "enabled") %}
                        <span class="glyphicon glyphicon-ok" title="Enabled"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" title="Disabled"></span>
                    {% endif %}
                <td>
                    {% if(entity.photo is not empty) %}
                        <div class="image">
                            <p>
                                <img src="{{ entity.photo|imagine_filter('ad_130x130') }}" alt="ad image">
                            </p>
                        </div>
                    {% endif %}
                </td>
                <td>{{ entity.body }}</td>
                <td>{{ entity.clicks }}</td>
                <td>{{ entity.views }}</td>
                <td>{{ entity.ratio }}</td>
                <td>
                <ul>
                    <li>
                        {% if(app.request.get('_dashboard')=='DMS') %}
                            <a href="{{ path('dms_ad_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                        {% else %}
                            <a href="{{ path('ad_edit', { 'id': entity.id }) }}" class="btn btn-primary">edit</a>
                        {% endif %}
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
    {% endblock %}
