{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}

{% block banner %}

    {% set images = displayComponent("homepage_carousel","carousel","page","sea") %}

    {% if images is not empty %}
        <div class="bs-example">
            <div id="sea-carousel" class="carousel slide" data-ride="carousel">
                {#<!-- Carousel indicators -->#}
                {#<ol class="carousel-indicators">#}
                    {#{% for image in images %}#}
                        {#<li data-target="#myCarousel" data-slide-to="{{ loop.index }}"#}
                            {#class="{% if loop.first %}active{% endif %}"></li>#}
                    {#{% endfor %}#}

                {#</ol>#}
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    {% for image in images %}
                        <div class="item {% if loop.first %} active{% endif %}">
                            {{ component.image('upload/dealers/'~image.src, "", '', 'carousel_wide') }}
                            <div class="text_widget">{{ image.carouselText|raw }}</div>
                        </div>
                    {% endfor %}

                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left" href="#sea-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#sea-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    {% else %}
        <div class="content  clearfix">

        </div>
    {% endif %}

    <script type="text/javascript" src="{{ asset('js/carousel.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            startCarousel("#sea-carousel", 8000);
        });
    </script>

{% endblock %}
{% block buttons %}
    <div class="buttons">
        <ul>
            <li>
                {% if displayComponent('sea_small_button1',"HTML","page","sea") is not empty %}
                    {{ displayComponent('sea_small_button1',"HTML","page","sea")|raw }}
                {% else %}
                    <a href="{{ path("search_new_vehicle") }}">
                    <span class="left-arrow">
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </span>
                        <span class="button-title"><span>New</span> Showroom</span>
                        <span class="click-here">Click Here</span>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_small_button2',"HTML","page","sea") is not empty %}
                    {{ displayComponent('sea_small_button2',"HTML","page","sea")|raw }}
                {% else %}
                    <a href="{{ path("search_used_vehicle") }}">
                    <span class="left-arrow">
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </span>
                        <span class="button-title"><span>Used</span> Showroom</span>
                        <span class="click-here">Click Here</span>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_small_button3',"HTML","page","sea") is not empty %}
                    {{ displayComponent('sea_small_button3',"HTML","page","sea")|raw }}
                {% else %}
                    <a href="{{ path("finance_form") }}">
                    <span class="left-arrow">
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </span>
                        <span class="button-title"><span>Get</span> Financed</span>
                        <span class="click-here">Click Here</span>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_small_button4',"HTML","page","sea") is not empty %}
                    {{ displayComponent('sea_small_button4',"HTML","page","sea")|raw }}
                {% else %}
                    <a href="{{ path("service_form") }}">
                    <span class="left-arrow">
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </span>
                        <span class="button-title"><span>Service</span> Department</span>
                        <span class="click-here">Click Here</span>
                    </a>
                {% endif %}
            </li>
        </ul>

    </div>
{% endblock %}
{% block links %}
    <div class="links">

        <ul>
            <li>
                {% if displayComponent('sea_large_button5',"HTML","page","sea") is not empty %}
                    {{ displayComponent('sea_large_button5',"HTML","page","sea")|raw }}
                {% else %}
                    <a href="{{ path("news") }}">
                        <span class="link-title"><span>Dealer</span> News</span>
                        <span class="click-here">Click Here</span>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if displayComponent('sea_large_button6',"HTML","page","sea") is not empty %}
                    {{ displayComponent('sea_large_button6',"HTML","page","sea")|raw }}
                {% else %}
                    <a href="{{ path('part_form') }}">
                        <span class="link-title"><span>Parts</span> Department</span>
                        <span class="click-here">Click Here</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <h1>Welcome to {{ dealer.name }}</h1>
    {{ dealer.description|raw }}
{% endblock %}