{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% block content %}
    <div class="content">
        {{ displayComponent(components,'welcome_text')|raw }}
    </div>
{% endblock %}

{% block info %}
    <div class="info">

        <ul>
            <li><img src="{{ asset(dealer.logoUrl) }}"></li>
            <li>
                <h2>{{ dealer.name }}</h2>
                <div class="address">
                    {{ dealer.address }}<br>
                    {{ dealer.city }}, {{ dealer.state }} {#· S7B 2K4#}
                </div>
                <div class="phone">
                    <span>Phone:</span> {{ dealer.phone }}<br>
                    {#<span>Toll Free:</span> 1.888.123.4567<br>#}
                    {#<span>Fax:</span> 306.555.1235#}
                </div>
            </li>
            <li>
                {{ displayComponent(components,'hours_of_operation')|raw }}
            </li>
            <li>
                {{ displayComponent(components,'quick_links')|raw }}
            </li>
        </ul>
    </div>
{%  endblock %}