{#{% set button1 = displayComponent(button,'image','page','forest') %}#}
{% import "NumaDOASiteBundle::components.html.twig" as component %}

<div class="button {% if image is empty %}b{{ num }}{% endif %}">
    <a href=" {% if image is not empty and image.url is not empty %}{{ image.url }}{% else %}#{% endif %}" class="xxxx">
        {% if image is not empty and image.carouselText is not empty %}
            <h2>{{ image.carouselText|striptags()|raw }}
                <span>Click Here</span>
            </h2>
        {% endif %}
    </a>
    {% if image is not empty and image is not empty %}
        {% if "upload/dealers" in image.src %}
            {{ component.image(image.src, 'btn'~num, '', image_size,'page','forest') }}
        {% else %}
            {{ component.image("/upload/dealers/"~image.src, 'btn'~num, '', image_size,'page','forest') }}
        {% endif %}
    {% endif %}
</div>