{% macro image(src, alt, class, filter, width, height) %}
    {% if (src is empty or src is not defined) %}
        <img alt="No photos" src="{{ asset('images/no_image_available_small.png') }}" class="noPhoto"/>
    {% else %}
        {% if ('http' not in src) %}
            <img class="{{ class }}" alt="{{ alt }}" src="{% if filter is not empty %}{{ src|imagine_filter(filter) }}{% else %}{{ src }}{% endif %}" {% if(width is defined and width is not empty) %} width="{{ width }}" {% endif %} {% if(height is defined and height is not empty) %} height="{{ height }}" {% endif %} />
        {% else %}
            <img class="{{ class }}" alt="{{ alt }}" src="{{ src }}" {% if(width is defined and width is not empty) %} width="{{ width }}" {% endif %} {% if(height is defined and height is not empty) %} height="{{ height }}" {% endif %} />
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro listingFieldInput(field,label, mainclass,widgetClass) %}
<div class="{{ mainclass }}">
    {% if(label is not empty) %}
        {{ form_label(field,label) }}
    {% else %}
        {{ form_label(field) }}
    {% endif %}

    <div class="{{ widgetClass }}">
        {{ form_widget(field) }}
    </div>
</div>
{% endmacro %}

{% macro listingField(field,liclass,label) %}
    {% if field is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption">{{ label }}: </span>
            <span class="fieldValue">{{ field }}</span>
        </li>
    {% endif %}
{% endmacro %}