{% if items is defined and items is not empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Featured Ads</h3>
        </div>
        <div class="panel-body">
            {% for item in items %}
                {% set images = item.getImages() %}
                {% set desc = item.getUrlDescription() %}
                <a href="{{ path('item_details', {'itemId': item.id, 'description': desc}) }}">{{ item.getItemFieldByName('year') }} {{ item.getMake() }} {{ item.getModel() }}</br>


                    {% set image = item.getImages2()|first %}

                    {% if images is empty %}
                        <img class="thumbnail" alt="No photos"
                             src="{{ asset('images/no_image_available_small.png') }}"/>
                    {% else %}
                        {% set image = item.getImages()|first["stringvalue"] %}
                        {% if ('http' not in image) %}
                            <img class="thumbnail" alt="{{ item.getMake() }} {{ item.getModel() }}"
                                 src="{{ image|imagine_filter('search_image') }}"/>
                        {% else %}
                            <img class="thumbnail" alt="{{ item.getMake() }} {{ item.getModel() }}" src="{{ image }}"
                                 width="120" height="90"/>
                        {% endif %}

                    {% endif %}
                    <span class="text-center price">{{ item.getPriceString() }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}