<head>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>iAuto Admin Panel </title>
    <link rel="stylesheet" href="{{ asset('bootstrap3/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('jqueryUI/css/ui-lightness/jquery-ui-1.10.3.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="all" />
    <!-- Bootstrap -->
    {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ asset('bootstrap3/js/bootstrap.js') }}"></script>
        <script src="{{ asset('jqueryUI/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('jqueryUI/js/jquery.ui.swappable.js') }}"></script>
        <script src="{{ asset('js/common.js') }}"></script>
    {% endblock %}
</head>