<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- default:main:default.tpl -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />

        {% block title %}<title>{{title}}</title>{% endblock title %}
        {% block stylesheets %}
            {% stylesheets '@bootstrap'  '@jquery_ui_css'  '@style' filter='cssrewrite' output='css/*.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            {% javascripts '@bootstrapx_js' '@jquery_ui_js' '@common_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

            {% endjavascripts %}


        {% endblock %}
    </head>
    <body class=" default ">

        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
               <div class="navbar-collapse collapse">         
                        {% set route = app.request.get('_route') %}
                            {{ render_esi(controller('NumaDOASiteBundle:Default:search',{'route':route})) }}
                    </div><!--/.nav-collapse -->
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-md-12 header-image" >
                    <div class="logo"></div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-2">

                    {{include('NumaDOASiteBundle::sidebarMenu.html.twig')}}

                </div>


                <div class="col-md-8">


                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-md-2">


                    {% block rightsidebar %}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    ©Copyright 2014 All Rights Reserved.  Kentuckiana Vehicles
                </div>

            </div>          

        </div> <!-- /container -->


    </body>
</html>

<!-- /default:main:default.tpl -->

