
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ modalTitle }}</h4>
            </div>
            <div class="modal-body">
                <div class="error alert-danger"></div>
                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_rest(form) }}
                {#<div class="g-recaptcha" data-sitekey="6LcdLSoTAAAAAIzrwX5_EqelrxwlTu8r_eMhjUS2"></div>#}

                {{ form_end(form) }}
            </div>
            <div class="{{ id }}_error"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submitform" id="submit_{{id}}" data-id="{{ id }}">Send
                </button>
            </div>
        </div>
    </div>
</div>