{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% form_theme form 'NumaDOASiteBundle::bootstrap3form.html.twig' %}
{% block content %}


<h1>Search Sellers</h1>
<div class="row">
    {{ form_start(form, {'attr': {'class': 'form-inline','role':'search'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.Name,{'attr': {'class':'form-control'}}) }}
    {{ form_row(form.City,{ 'attr': {'class': 'form-control'} }) }}
    </br>
    <button class="btn btn-default" type="submit">Search</button>
{{ form_end(form) }}
   
</div>
{{include("NumaDOASiteBundle:Default:category.html.twig")}}
{% endblock %}