{% block buttons %}
    <div class="buttons-background">
    </div>
    <div class="buttons">
        <ul>
            {{ displayComponent('RVsuper_button1','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button2','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button3','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button4','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button5','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button6','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button7','image','dealer','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
        </ul>
    </div>
    <script>
        $( document ).ready(function() {

            resizeBackground()
        });
        $(window).resize(function() {
            resizeBackground()
            console.log('window was resized');
        });
        function resizeBackground(){
            buttonsHeight = $(".buttons").height();
            console.log("-"+buttonsHeight+"px");
            $(".buttons").css("margin-top","-"+(buttonsHeight+10)+"px")
            console.log(buttonsHeight+"HEIGHT");
            $(".buttons-background").height(buttonsHeight);
        }
    </script>
{% endblock %}