{% block buttons %}
    <div class="buttons-background">
    </div>
    <div class="buttons">
        <ul>
            {{ displayComponent('RVsuper_button1','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button2','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button3','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button4','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button5','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button6','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
            {{ displayComponent('RVsuper_button7','image','page','RVsuper',{"template":"NumaDOASiteBundle:TemplatesElements:RVsuperButton.html.twig"}) }}
        </ul>
    </div>
{% endblock %}