{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% include 'NumaDOASiteBundle::favicons.html.twig' %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    {% block stylesheets %}
        {% stylesheets '@bootstrap' '@colorbox_css' 'bundles/numadoasite/css/default.css' 'bundles/numadoasite/RVsuper/css/template1.css' 'bundles/numadoasite/RVsuper/css/pgwslideshow.css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}
    {% block javascripts %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        {% javascripts '@bootstrapx_js' '@colorbox_js' 'bundles/numadoasite/RVsuper/js/pgwslideshow.js' "bundles/numadoasite/RVsuper/js/mobilemenu.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endblock %}
    {% block ga %}
        {% include "NumaDOASiteBundle::ga.html.twig" %}
    {% endblock %}
    {% include "NumaDOASiteBundle::google_tag_head.html.twig" %}
    {% block fecebook_pixel %}
        {{ include("NumaDOASiteBundle::facebookPixel.html.twig") }}
    {% endblock %}
</head>

{% block bodytag %}
<body class="details">
{% endblock %}
{% block headline %}
    {% include 'NumaDOASiteBundle::header.html.twig' %}
{% endblock %}

{% block mobilemenu %}
    {% include 'NumaDOASiteBundle::mobilemenu.html.twig' %}
{% endblock %}
<div class="content clearfix">
    <div class="alertz dontshow alert"></div>
    {% block content %}

    {% endblock %}
</div>
{% block info %}

    <div class="info">
        <ul>
            <li>{{ component.image(dealer.logoUrl, dealer.name, '', 'sea_logo_home') }}</li>
            <li>
                <h2>{{ dealer.name }}</h2>
                <div class="address">
                    {{ dealer.address }}<br>
                    {{ dealer.city }}, {{ dealer.state }} {#· S7B 2K4#}
                </div>
                <div class="phone">
                    <span>Phone: </span> {{ dealer.phone }}<br>
                    {% if dealer.servicePhone is not empty%}

                    <span>Service: </span> {{ dealer.servicePhone }}<br>
                    {% endif %}
                </div>
            </li>
            {% if dealer.ServiceHours is not empty %}
                <li>
                    <h2>Hours Of Operation</h2>
                    {{ dealer.ServiceHours|raw }}
                </li>
            {% endif %}
            {% if displayComponent('quick_links',"HTML","dealer") is not empty %}
                <li>
                    <h2>Quick Links</h2>
                    {{ displayComponent('quick_links',"HTML","dealer")|raw }}
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block map %}
    {% include '@NumaDOASite/map.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'NumaDOASiteBundle::footer.html.twig' %}
{% endblock %}

<script>
    jQuery('a.colorbox').colorbox();
</script>
{% if dealer is defined and dealer.settingPurechat is not empty and not isLocalHost() %}
    {{ dealer.settingPurechat|raw }}
{% endif %}
</body>
</html>