{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-7
{%- endblock form_group_class %}
{% block content %}
    {% set dealer = getDealer() %}
    {{ displayComponent('page_content',"HTML")|raw }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {{ form_start(form) }}
    {{ form_row(form.cust_name) }}
    {{ form_row(form.cust_last_name) }}
    {{ form_row(form.cust_officer) }}
    {{ form_row(form.contact_by) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    <div class="form-group">
        <div class="col-md-4">
            {{ form_row(form.make_onsite) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.model_onsite) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.year_onsite) }}
        </div>
    </div>
    {{ form_row(form.date_drive) }}
    {{ form_row(form.comment) }}
    <div class="g-recaptcha" data-sitekey="6LcdLSoTAAAAAIzrwX5_EqelrxwlTu8r_eMhjUS2"></div>
    {{ form_end(form) }}

{% endblock %}