{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block headline %}
    <div class="header">
        <a class="logo" href="">
            {{ component.image(dealer.logoUrl, dealer.name, '', 'sea_logo_home') }}
        </a>

        <div class="contact-info">
            <div class="address">{{ dealer.address }} &middot; {{ dealer.city }}, {{ dealer.state }}
            </div>
            <a class="map-and-hours" href="">Map &amp; Hours</a>

            <div class="phone">{{ dealer.phone }}</div>
        </div>
    </div>
{% endblock %}
{% block banner %}

    {{ displayComponent("forest_homepage_carousel","carousel",'page','forest',{"image_size":"carousel_forest", "class":"forest_homepage_carousel"})|raw }}

{% endblock %}
{% block content %}
    <div class="content">
        <h1>Welcome to {{ dealer.name }}</h1>
        {{ dealer.description|raw }}

        {#{{ displayComponent('welcome_text',"HTML")|raw }}#}
    </div>
    <div class="brands">
        {% set brands = displayComponent("forest_brands_images","carousel",'page','forest',{"output":"list"}) %}
        {% set brandstext = displayComponent("forest_brands_images","image",'page','forest',{"output":"image_text"}) %}
        <h1>{% if brandstext is empty or brandstext is not defined %}
                Brands
            {% else %}
                {{ brandstext|raw }}
            {% endif %}
        </h1>


        {% for image in brands %}
            <div class="brand">
                <a href="{{ image.url }}">{{ component.image('upload/dealers/'~image.src, '', '', 'brands_forest') }}
                    <span class="brands_image_text">{% if image.carouselText|striptags|raw is not empty %}{{ image.carouselText|striptags|raw }}{% else %}&nbsp;{% endif%} </span>
                </a>
            </div>
        {% endfor %}


    </div>
{% endblock %}

{% block info %}
    <div class="info">
        <ul>
            <li>{{ component.image(dealer.logoUrl, dealer.name, '', 'sea_logo_home') }}</li>
            <li>
                <h2>{{ dealer.name }}</h2>

                <div class="address">
                    {{ dealer.address }}<br>
                    {{ dealer.city }}, {{ dealer.state }} {#· S7B 2K4#}
                </div>
                <div class="phone">
                    <span>Phone:</span> {{ dealer.phone }}<br>
                </div>
            </li>
            <li>
                {{ displayComponent('hours_of_operation',"HTML","dealer")|raw }}
            </li>
            <li>
                {{ displayComponent('quick_links',"HTML","dealer")|raw }}
            </li>
        </ul>
    </div>
{% endblock %}



{% block featuredads %}
    <div class="features">
        <h2>Featured Inventory</h2>
        {{ render_esi(controller('NumaDOASiteBundle:Default:featuredAdd', { 'max': 3,'order':1,'image_size':'featured_forest' })) }}
    </div>

{% endblock %}