{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    {% set image = item['coverImageSrc'] %}
    {% set imageFloorPlan = item['floorPlanImageSrc'] %}
    {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item.urlDescription|url_encode()}) %}
    {% if searchQ is defined %}
        {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item.urlDescription|url_encode(),'searchQ':searchQ}) %}
    {% endif %}
    {% set dealer = item.dealerName %}
    {% if detailUrl is empty %}
        {% set detailUrl = "details" %}
    {% endif %}
    <div data="{{ item.id }}" id="item_{{ item.id }}" class="row item-row" url="{{ path('item_compare') }}">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 items">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3 class="item-title">{{ item['year'] }} {{ item['make'] }} {{ item['model'] }} {{ item['florpane'] }}</h3>
                </div>
                <div class="col-md-6 search-item-price">
                    <span class="search-item-price">{{ item.priceString }}</span> {% if (item.sold==1) %}<span
                            class="badge">Sold</span>{% endif %}
                </div>
            </div>
            <div class="picture-detail col-md-3">
                <a href="{{ detailUrl }}" class="thumbnail">
                    {% if image is defined and image is not empty %}
                        {{ component.image(image, item.title, '', 'search_image_sea', 350, 250) }}
                    {% else %}
                        {{ component.image(null, 'No image', '', 'search_image_sea', 350, 250) }}
                    {% endif %}
                </a>
            </div>
            <div class="picture-detail col-md-3">
                <a href="{{ imageFloorPlan }}" class="thumbnail colorbox">
                    {% if imageFloorPlan is defined and imageFloorPlan is not empty %}
                        {{ component.image(imageFloorPlan, item.title, '', 'search_image_sea', 350, 250) }}
                    {% else %}
                        {{ component.image(null, 'No image', '', 'search_image_sea', 350, 250) }}
                    {% endif %}
                </a>
            </div>
            <div class="shortDetails col-md-6">
                <div class="col-md-6 col1">
                    <ul class="techData  list-unstyled">
                        {% if item.category_id==1 %}
                            {% include 'NumaDOASiteBundle:Item:carDetailsSmall.html.twig' %}
                        {% elseif(item.category_id==2) %}
                            {% include 'NumaDOASiteBundle:Item:marineDetailsSmall.html.twig' %}
                        {% elseif(item.category_id==3) %}
                            {% include 'NumaDOASiteBundle:Item:motoDetailsSmall.html.twig' %}
                        {% elseif(item.category_id==4) %}

                            {% include 'NumaDOASiteBundle:Item:rvsDetailsSmall.html.twig' %}
                        {% elseif(item.category_id==13) %}
                            {% include 'NumaDOASiteBundle:Item:agDetailsSmall.html.twig' %}
                        {% else %}
                        {% endif %}

                    </ul>
                    <a href="{{ imageFloorPlan }}" class="btn btn-danger enlarge colorbox">Enlarge Floor Plan</a>
                </div>
                <div class="col-md-6 col2">
                    <ul class="list-unstyled btns">
                        <li>
                            <button type="button" class="btn btn-success eprice col-md-12" data-itemid="{{ item.id }}">
                                <i class="fa fa-money"></i> GET A QUOTE
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-success eprice col-md-12" data-itemid="{{ item.id }}">
                                <i class="fa fa-money"></i> GOT A TRADE
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-success finance col-md-12" data-itemid="{{ item.id }}">
                                <i class="fa fa-money"></i> NEED FINANCING
                            </button>
                        </li>
                        {% if item.bi_weekly>0 %}
                            <li>
                                <div class="search-item-biweekly">{{ item.bi_weekly|localizedcurrency("USD") }}
                                    Bi-Weekly OAC
                                </div>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ detailUrl }}" class="btn btn-warning col-md-12 details"><span>Details</span></a>
                        </li>
                    </ul>


                </div>
                {% if (item.dealerName and app.user and app.user.getId()==item.dealer_id) or is_granted("ROLE_DEALER_ADMIN") %}
                    <ul class="list-inline">
                        <li><a href="{{ path('items_edit',{'id':item.id}) }}">Edit</a></li>
                        {% if item.active %}
                            <li><a href="{{ path('items_deactivate',{'id':item.id}) }}">Deactivate</a></li>
                        {% else %}
                            <li><a href="{{ path('items_activate',{'id':item.id}) }}">Activate</a></li>
                        {% endif %}
                        <li><a href="{{ path('items_delete',{'id':item.id}) }}">Delete</a></li>
                    </ul>
                {% endif %}

            </div>
        </div>
    </div>
    <br>
    <div class="clear"></div>

{% endblock %}
