{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% block content -%}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Finance list</h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>

                <th>Applicant Type</th>
                <th>Amount Required</th>
                <th>Customer Email</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('finance_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.applicanttype }}</td>
                    <td>{{ entity.amountrequired }}</td>
                    <td>{{ entity.email }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('finance_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('finance_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
