++<!-- images start -->

{% set images = item.getImages2() %}
{% set currentPath = app.request.uri %}
{% set dealer = item.getDealer() %}
{% if images|length==1 %}
    {% set image = images|first %}
    {% if ('http' not in image.fieldStringValue) %}
        {{ component.image(image.fieldStringValue, 'image1', '', 'item_detail_image_single','510px') }}
    {% else %}
        {% set videoid="" %}
        {% set img=image.fieldStringValue %}
        {% if ('youtube' in image.fieldStringValue) %}
            {% set videoid=getYoutubeId(image.fieldStringValue) %}
            {% set img=getYoutubeThumb(videoid) %}
        {% endif %}

        {{ component.image(img, 'image1', '', 'item_detail_image_single','510px') }}
    {% endif %}
{% else %}
    <div class="slideshow">
        <ul class="pgwSlideshow">
            {% for key,image in images %}
                <li data-order="{{ image.sortOrder }}">
                    {% if ('http' not in image.fieldStringValue) %}
                        <img src="{{ image.fieldStringValue|imagine_filter('item_detail_image') }}"/>
                    {% else %}
                        {% set videoid="" %}
                        {% set img=image.fieldStringValue %}
                        {% if ('youtube' in image.fieldStringValue) %}
                            {% set videoid=getYoutubeId(image.fieldStringValue) %}
                            {% set img=getYoutubeThumb(videoid) %}
                        {% endif %}
                        <img data-video="{{ videoid }}" src="{{ img }}"/>

                    {% endif %}
                </li>
            {% endfor %}


        </ul>
        <script>
            $(document).ready(function () {
                $('.pgwSlideshow').pgwSlideshow();

            });


        </script>
    </div>
{% endif %}