<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- default:main:default.tpl -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include 'NumaDOAAdminBundle::header.html.twig' %}
        <body class=" default ">

            <div class="colmask leftmenu">
                <div class="colright">
                    <div class="leftSectionWrap">
                        <div class="mainContent">


                            <div class="dashboard">



                                <div class="content">
                   {% block content %}
                   {% endblock %}
                                    </div>



                                </div>

                                <!-- /default:miscellaneous:dashboard.tpl -->
                            </div>
                        </div>
                        <div class="leftSection">
                            <!-- default:main:left_block.tpl -->
                            <div class="leftBlock">
                                <div class="adminInfo">
                                    

                                    <!-- default:miscellaneous:lang_selector.tpl -->
                                    <form action="">
                                        <div class="languageSelector">
                                            <input type="hidden" value="/admin/" name="back" />
                                            <select name="lang" onchange="this.form.submit()">
                                                <option value="en" selected="selected">English</option>
                                            </select>
                                        </div>
                                    </form>

                                    <!-- /default:miscellaneous:lang_selector.tpl -->
                                    <div class="userManualAndLogoutWrapper">
                                        <a target="_blank" href="#">User Manual</a>
                                        <br />
                                        <a href="{{ path('logout') }}">Logout</a>
                                    </div>
                                </div>

                                <!-- default:menu:admin_left_menu.tpl -->
                                <div class="leftMenu">
                                    <div class="section">
                                        <ul class="nav nav-list bs-docs-sidenav">
                                            <li class="nav-header">Featured Import</li>  
                                            <li class="">
                                                <a href="{{ path('importfeed') }}"><i class="icon-chevron-right"></i>Feeds</a>
                                            </li>
                                            <li class="nav-header">Listing Management</li>  
                                            <li class="">
                                                <a href="{{ path('categories') }}" class=""><i class="icon-chevron-right"></i>Categories</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('additem') }}" class=""><i class="icon-chevron-right"></i>Add Listing</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('items') }}" class=""><i class="icon-chevron-right"></i>Manage Listings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Import Listings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Export Listings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Manage Comments</a>
                                            </li>
                                            <li class="nav-header">User Management</li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Membership Plans</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('user_group') }}" class=""><i class="icon-chevron-right"></i>User Groups</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('user') }}" class=""><i class="icon-chevron-right"></i>Manage Users</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Import Users</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Export Users</a>
                                            </li>
                                            <li class="nav-header">Site Layout</li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Site Pages</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Page Templates</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Function Templates</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Themes</a>
                                            </li>
                                            <li class="nav-header">Payment Management</li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Payment Gateways</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Payments</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Credit Transactions</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Credit Packages</a>
                                            </li>
                                            <li class="nav-header">System configuration</li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Admin Password</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>System Settings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Geographic Locations</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Custom Settings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>IP Blocklist Manager</a>
                                            </li>
                                            <li class="nav-header">Content Management</li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Business Catalog</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Online Polls</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Publications</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Static Content</a>
                                            </li>
                                            <li class="nav-header">Language Management</li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Manage Languages</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Manage Phrases</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Import Language</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="icon-chevron-right"></i>Export Language</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <!-- /default:menu:admin_left_menu.tpl -->
</div>
                                <div class="copyright">
                                    &copy; 2013&ndash;2014&nbsp;Genjrator
                                </div>
                            </div>

                            <!-- /default:main:left_block.tpl -->
                        
                    </div>
                </div>
            </body>
        </html>

        <!-- /default:main:default.tpl -->

