<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- default:main:default.tpl -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% include 'NumaDOAAdminBundle::header.html.twig' %}

        <body class=" default ">

            <div class="colmask leftmenu">
                <div class="colright">
                    <div class="leftSectionWrap">
                        <div class="mainContent">
                            <div class="dashboard">
                                <div class="content">
                   {% block content %}
                   {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="leftSection">

                            <div class="leftBlock">
                                <div class="adminInfo">

                                    <div class="userManualAndLogoutWrapper">
                                        <a target="_blank" href="{{ url('homepage') }}">View Site</a>
                                        <br />
                                        {#<a target="_blank" href="#">User Manual</a>
                                        <br />#}
                                        <a href="{{ path('logout') }}">Logout</a>
                                    </div>
                                </div>

                                <div class="leftMenu">
                                    <div class="section">
                                        <ul class="nav nav-list bs-docs-sidenav">
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <li class="nav-header">Featured Import</li>  
                                            <li class="">
                                                <a href="{{ path('importfeed') }}"><i class="glyphicon glyphicon-chevron-right"></i>Feeds</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('feed_api_home') }}"><i class="glyphicon glyphicon-chevron-right"></i>External Feeds</a>
                                            </li>
                                            {% endif %}
                                            <li class="nav-header">Listing Management</li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <li class="">
                                                <a href="{{ path('categories') }}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Categories</a>
                                            </li>
                                            {% endif %}
                                            <li class="">
                                                <a href="{{ path('additem') }}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Add Listing</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('items') }}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Manage Listings</a>
                                            </li>                                            
{#                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Export Listings</a>
                                            </li>#}
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <li class="nav-header">User Management</li>
                                            {#<li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Membership Plans</a>
                                            </li>#}
                                            <li class="">
                                                <a href="{{ path('user_group') }}" class=""><i class="glyphicon glyphicon-chevron-right"></i>User Groups</a>
                                            </li>
                                            <li class="">
                                                <a href="{{ path('user') }}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Manage Users</a>
                                            </li>
                                            {% endif %}
                                            
                                            {#<li class="nav-header">Site Layout</li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Site Pages</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Page Templates</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Function Templates</a>
                                            </li>          
                                            <li class="nav-header">Payment Management</li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Credit Transactions</a>
                                            </li>#}

                                            {#<li class="nav-header">System configuration</li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Admin Password</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>System Settings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Geographic Locations</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Custom Settings</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>IP Blocklist Manager</a>
                                            </li>#}
                                            <li class="nav-header">Content Management</li>
                                            <li class="">
                                                <a href="{{path('catalogs')}}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Business Directory</a>
                                            </li>
                                            <li class="">
                                                <a href="{{path('imagecarousel')}}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Image Carousel</a>
                                            </li>
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <li class="">
                                                <a href="{{path('command_log_home')}}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Command Queue</a>
                                            </li>
                                            <li class="">
                                                <a href="{{path('setting')}}" class=""><i class="glyphicon glyphicon-chevron-right"></i>Settings</a>
                                            </li>
                                            {% endif %}
                                            {#<li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Online Polls</a>
                                            </li>
                                            <li class="">
                                                <a href="#" class=""><i class="glyphicon glyphicon-chevron-right"></i>Static Content</a>
                                            </li>#}
                                            
                                        </ul>
                                    </div>
                                </div>

</div>
                                {#<div class="copyright">
                                    &copy;2013&ndash;2015&nbsp;Genjerator
                                </div>#}
                            </div>

                            <!-- /default:main:left_block.tpl -->
                        
                    </div>
                </div>
                {% include 'NumaDOAAdminBundle::footer.html.twig' %}
            </body>
        </html>

        <!-- /default:main:default.tpl -->

