    {% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% block content -%}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">ListingForm list</h3>
        <div class="box-tools">
            
                        <a href="{{ path('listingform_new') }}" class="btn btn-primary">
                            Create a new ListingForm
                        </a>
                    </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cust_name</th>
                <th>Cust_last_name</th>
                <th>Cust_officer</th>
                <th>Contact_by</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Date_drive</th>
                <th>Comment</th>
                <th>Dealer_id</th>
                <th>Customer_id</th>
                <th>Item_id</th>
                <th>Date_created</th>
                <th>Date_updated</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('listingform_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.custname }}</td>
                <td>{{ entity.custlastname }}</td>
                <td>{{ entity.custofficer }}</td>
                <td>{{ entity.contactby }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.phone }}</td>
                <td>{% if entity.datedrive %}{{ entity.datedrive|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comment }}</td>
                <td>{{ entity.dealerid }}</td>
                <td>{{ entity.customerid }}</td>
                <td>{{ entity.itemid }}</td>
                <td>{% if entity.datecreated %}{{ entity.datecreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateupdated %}{{ entity.dateupdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td><ul>
        <li>
            <a href="{{ path('listingform_show', { 'id': entity.id }) }}">show</a>
        </li>
        <li>
            <a href="{{ path('listingform_edit', { 'id': entity.id }) }}">edit</a>
        </li>
</ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
