{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>ListingForm creation</h1>

    {{ form_start(form) }}
    {{ form_row(form.cust_name) }}
    {{ form_row(form.cust_last_name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.comment) }}

    {{ form_row(form.submit) }}
    {{ form_end(form, {'render_rest': false}) }}

        
        <a href="{{ path('listingform') }}" class="btn btn-primary" >
            Back to the list
        </a>

{% endblock %}
