{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}

{% block content %}
    <h2>Advanced Search Cars</h2>
    <div id="searchtags"></div>
    <div id="searchform">
        {{ form_start(form,{ 'attr': {'class': 'form-horizontal','role':'form','name':'advancedsearchcar'}}) }}
        {{ form_errors(form) }}
        <div class="row">
            {{ form_row(form.make,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
        </div>
        <div class="row">
            <div class="form-group col-sm-6 ">
                <div class="input-group  input-group-sm">
                    <span class="input-group-addon">Model</span>
                    <select class="form-control" name="model" id="model">
                        <option value="">Any Model </option>
                    </select>
                </div>
            </div>
        </div> 
        <div class="row">
            {{ form_row(form.distance,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6 choice','class':'input-group  input-group-sm' }) }}       
            {{ form_row(form.zip,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>    
        <div class="row">
            {{ form_row(form.bodyStyle,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.yearFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
            {{ form_row(form.yearTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
        </div>
        <div class="row">    
            {{ form_row(form.priceFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
            {{ form_row(form.priceTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
        </div>
        <div class="row">
            {{ form_row(form.text,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.mileageFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
            {{ form_row(form.mileageTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
        </div>
        <div class="row">
            {{ form_row(form.transmission,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.engine,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.fuelType,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.exteriorColor,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.interiorColor,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.transmission,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.transmission,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'input-group  input-group-sm'}) }}
        </div>
        <div class="row">
            {{ form_row(form.withPicture,{ 'attr': {'class': ''},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
        </div> 
        <div class="row">
            {{ form_row(form.isSold,{ 'attr': {'class': ''},'groupclass':'col-sm-6','class':'input-group  input-group-sm' }) }}
        </div> 
        {{ form_row(form.category_id)}}
        <div class="form-group">
            <div class="col-sm-4"></div>
            <button class="btn btn-default  col-sm-4 " type="submit">Search</button>
        </div>
    </div>
    <script>
        var treeData = '{{json|raw }}';

        treeX = function(make, model, treeData) {
            $(make).change(function() {
                jsonTree = JSON.parse(treeData);
                var modelJson = jsonTree[$(make).val()];
                $(model).html($("<option />").val(0).text("Any Model"));
                $.each(modelJson, function(i) {
                    var test = modelJson[i];
                    var key = "";
                    var value = "";
                    for (var keyx in modelJson[i]) {
                        key = keyx;
                        value = test[keyx];
                    }
                    $(model).append($("<option />").val(value).text(value))
                });
            });
        }
        


        $(document).ready(function() {
            treeX('#make', '#model', treeData);
        });
    </script>
{% endblock %}