<div id="quicksearch" class="">

    <div href="#collapsequicksearch" data-toggle="collapse" class="group-header">
        <a class="collapsed">Search For:</a>
        <span class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></span>
    </div>
    <div id="collapsequicksearch" class="group-body collapse in">

        <div class="row">
            <form action="">
                <input placeholder="" name="text" value="" type="text">
                <button class="btn btn-bridge-red">Go</button>
            </form>
        </div>
    </div>
</div>

{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroup.html.twig",{'group':make,'title':'Makes','route':'search_by_make','field':'make_string'}) }}
{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroup.html.twig",{'group':bodyStyle,'title':'Bodystyle','route':'search_only_by_body_style','field':'categorySubType'}) }}
{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroup.html.twig",{'group':year,'title':'Year','route':'search_by_year','field':'year'}) }}
{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroup.html.twig",{'group':price,'title':'Price','route':'aaaaaa','field':'price'}) }}

{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroupMobile.html.twig",{'group':make,'title':'Makes','route':'search_by_make','field':'make_string'}) }}
{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroupMobile.html.twig",{'group':bodyStyle,'title':'Bodystyle','route':'search_only_by_body_style','field':'categorySubType'}) }}
{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroupMobile.html.twig",{'group':year,'title':'Year','route':'search_by_year','field':'year'}) }}
{{ include("NumaDOASiteBundle:Search:searchSidebarLinkedGroupMobile.html.twig",{'group':price,'title':'Price','route':'aaaaaa','field':'price'}) }}
