{% if group is defined %}
    <div id="{{ field }}m" class="mobile-search">

        <div href="#collapse{{ field }}m" data-toggle="collapse" class="group-header collapsed">
            <a class="collapsed">{{ title }}</a>
            <span class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></span>
        </div>
        <div id="collapse{{ field }}m" class="group-body collapse">
            <div class="row">
                <ul class="list-unstyled">
                    {% if field=="make_string" %}
                        {% for item in group %}
                            <li><a href="{{ path(route,{'make_string':item['value']}) }}">{{ item['value'] }}
                                    ( {{ item['count'] }} )</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if field=="categorySubType" %}
                        {% for item in group %}
                            <li><a href="{{ path(route,{'categorySubType':item['value']}) }}">{{ item['value'] }}
                                    ( {{ item['count'] }} )</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if field=="year" %}
                        {% for item in group %}
                            <li><a href="{{ path(route,{'year':item['value']}) }}">{{ item['value'] }}
                                    ( {{ item['count'] }} )</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if field=="price" %}
                        {% for item in group %}
                            <li>
                                <a href="{{ path("search_all",{'priceFrom':item['from'],'priceTo':item['to']  }) }}">{{ price(item['from'],true)|raw }}
                                    - {{ price(item['to'],true)|raw }} ( {{ item.count }}
                                    )</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}