{#{% extends 'NumaDOADMSBundle::layout.html.twig' %}#}
{% extends app.request.get('_dashboard')=='DMS' and not is_granted("ROLE_NODMS_USER")
? 'NumaDOADMSBundle::layout.html.twig'
: is_granted('ROLE_BUSINES')?'NumaDOASiteBundle::wide-layout.html.twig':'NumaDOAAdminBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css" type="text/css"
          rel="stylesheet"/>
    {% stylesheets
    'css/loading-bar.min.css'

    filter='cssrewrite' output='css/*.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts

    'js/angular/angular143.min.js'
    'js/angular/angular-touch143.min.js'
    'js/angular/angular-animate143.min.js'

    'js/angular/ui-grid.js'
    'js/angular/angular-confirm.min.js'
    'js/angular/ui-bootstrap-tpls-1.2.2.min.js'
    'js/loading-bar.min.js' %}

    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% set includeJS='NumaDOADMSBundle:Inventory:inventory.js.twig' %}
        {% if js is defined %}
        {% if js == "view" %}
        {% set includeJS= 'NumaDOADMSBundle:Inventory:inventoryView.js.twig' %}
        {% elseif js == "cost" %}
        {% set includeJS= 'NumaDOADMSBundle:Inventory:inventoryCost.js.twig' %}
        {% elseif js == "sales" %}
        {% set includeJS= 'NumaDOADMSBundle:Inventory:inventorySales.js.twig' %}
        {% elseif js == "archived" %}
        {% set includeJS= 'NumaDOADMSBundle:Inventory:inventoryArchived.js.twig' %}
        {% endif %}
        {% endif %}

        {% include includeJS %}
    </script>

    <style>
        .ui-grid-row .ui-grid-cell.featured {
            background: #A8C5ED;
        !important;
        }

        .ui-grid, .grid {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock javascripts %}


{% block content %}

    {% include 'NumaDOAAdminBundle::flashmsg.html.twig' %}

    <div class="box">
    <div class="box-header">
        <div class="box-header">
            <h3 class="box-title">Inventory list</h3>

            <div class="box-tools">
                {% if(app.request.get('_dashboard')=='DMS') %}
                    {% if not is_granted('ROLE_WHOLESALE_DMS') and not is_granted('ROLE_SALE@_DMS') %}
                        <a href="{{ path('dms_additem') }}" class="btn btn-primary">
                            Create new Inventory
                        </a>
                    {% endif %}
                {% else %}
                    {% if not is_granted('ROLE_WHOLESALE_DMS') and not is_granted('ROLE_SALE@_DMS') %}
                        <a href="{{ path('additem') }}" class="btn btn-primary">
                            Create new Inventory
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box-body table-responsive no-padding" ng-app="app">

        <div ng-controller="MainCtrl">
            {% if not is_granted('ROLE_WHOLESALE_DMS') and not is_granted('ROLE_SALE2_DMS') %}
                <button type="button" class="btn btn-success" ng-click="setActivate()">Activate</button>
                <button type="button" class="btn btn-warning" ng-click="setDeactivate()">Deactivate</button>
            {% endif %}
            {% if(is_granted("ROLE_ADMIN")) %}
                <button type="button" class="btn btn-warning" ng-click="setFeatured()">Make Featured</button>
            {% endif %}
            {% if not is_granted('ROLE_WHOLESALE_DMS') and not is_granted('ROLE_SALE2_DMS') %}
                <button type="button" class="btn btn-danger" ng-click="setDelete()">Delete</button>
                {#<button type="button" class="btn btn-primary" ng-click="setKijiji()">Make Kijiji feed</button>#}
            {% endif %}
            <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-pinning class="grid"></div>
        </div>
    </div>

    {#{% include 'NumaDOAAdminBundle::deleteConfirm.js.twig' %}#}
{% endblock %}