<div class="container">
    {% if dealer is defined and dealer is not empty %}
        <a class="logo" href="{{ path("homepage") }}">
            {{ component.image(dealer.logoUrl, dealer.name, '', 'GreenBridge_logo') }}
        </a>
        <div class="contact-info">
            <div class="phone"><a href="#"><i class="fa fa-phone"></i>{{ dealer.phone }}</a></div>
            <div class="address"><a href="#"><i class="fa fa-map-marker"></i>{{ dealer.address }}, {{ dealer.city }}
                    , {{ dealer.state }} {{ dealer.zip }}</a></div>
            <div class="scratchpad-toggle"><a href="#scratchpad" data-toggle="scratchpad">
                    <span class="notepad">Notepad</span>
                    {% set count= cookiesService.countCookie(app.request)%}
                    <span class="badge badge-pill badge-success count">{{ count }}</span>
                </a></div>
            <div class="social-media">
                {% if dealer.siteFacebook is not null %}
                    <a class="facebook" href="{{ dealer.siteFacebook }}">
                        <img alt="Facebook" src="/images/49b512a_facebook_1.png">
                    </a>
                {% endif %}
                {% if dealer.siteTwitter is not null %}
                    <a class="twitter" href="{{ dealer.siteTwitter }}">
                        <img alt="Twitter" src="/images/61f39f0_twitter_1.png">
                    </a>
                {% endif %}
                {% if dealer.siteGoogle is not null %}
                    <a class="google" href="{{ dealer.siteGoogle }}">
                        <img alt="Google" src="/images/73f6fc5_google_1.png">
                    </a>
                {% endif %}
                {% if dealer.siteYoutube is not null %}
                    <a class="youtube" href="{{ dealer.siteYoutube }}">
                        <img alt="Youtube" src="/images/cb8d7e1_youtube_1.png">
                    </a>
                {% endif %}
                {% if dealer.siteInstagram is not null %}
                    <a class="instagram" href="{{ dealer.siteInstagram }}">
                        <img alt="Instagram" src="/images/d68d708_instagram_1.png">
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

</div>