{% extends app.request.get('_dashboard')=='DMS'
? 'NumaDOADMSBundle::layout.html.twig'
: 'NumaDOAAdminBundle::layout.html.twig' %}
{% block content %}
    {% include("NumaDOAAdminBundle::flashmsg.html.twig") %}
    <section class="content">
        <div class="box box-primary nav-tabs-custom">
            <div class="page-header ">
                <h1>Setting list</h1>
            </div>
            <ul class="nav nav-tabs">

                {% for section in sections %}

                    <li role="presentation" class="{% if loop.first %}active{% endif %}"><a data-toggle="tab"
                                                                                            href="#{{ section.section|replace(" ","-") }}">{{ section.section }}</a>
                    </li>
                {% endfor %}
                <li role="presentation">
                    <a data-toggle="tab" href="#system">System</a>
                </li>
            </ul>

            <div class="nav-tabs-custom">
                <div class="tab-content">
                    {% for section in sections %}

                        <div id="{{ section.section|replace(" ","-") }}"
                             class="tab-pane {% if loop.first %}active{% endif %}">
                            <table class="table">
                                <thead>
                                {% if section.section!="QB" %}
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Section</th>
                                        <th>Actions</th>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th>DMS name</th>
                                        <th>QB Name</th>
                                        <th>Expense Account</th>
                                        <th>Income Account</th>
                                        <th>Asset Account</th>
                                        <th>Section</th>
                                        <th>Actions</th>
                                    </tr>
                                {% endif %}
                                </thead>
                                <tbody>

                                {% for entity in settings[section.section] %}
                                    {% if section.section==entity.section %}
                                        <tr>
                                            <td>{{ entity.name }}</td>
                                            <td>{{ entity.value|striptags }}</td>
                                            <td>{{ entity.value2|striptags }}</td>
                                            <td>{{ entity.value3|striptags }}</td>
                                            <td>{{ entity.value4|striptags }}</td>
                                            <td>{{ entity.section }}</td>
                                            <td>
                                                <ul>
                                                    {% if(app.request.get('_dashboard')=='DMS') %}
                                                        <li>
                                                            <a href="{{ path('dms_setting_edit', { 'id': entity.id }) }}"
                                                               class="btn btn-primary">edit</a>
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                            <a href="{{ path('setting_edit', { 'id': entity.id }) }}"
                                                               class="btn btn-primary">edit</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    {% endfor %}
                    <div id="system" class="tab-pane">
                        <a class="btn btn-primary" href="{{ path('setting_cache_clear') }}">Clear http cache</a>
                        <a class="btn btn-primary" href="{{ path('setting') }}">Refresh Tabs on Homepage</a>
                        <a class="btn btn-primary" href="{{ path('setting_cover_images') }}">Generate cover images</a>
                        <a class="btn btn-primary" href="{{ path('setting_kijiji_all') }}">Generate kijiji feed for all
                            activated dealers</a>
                        <a class="btn btn-primary" href="{{ path('setting_kijiji_current') }}">Generate kijiji feed for this dealera</a>
                        <a class="btn btn-primary" href="{{ path('elasticksearch_populate') }}">Elasticksearch
                            populate</a>
                        {#<a class="btn btn-danger" href="{{ path('setSoldDateItems') }}">Set SoldDate Listings</a>#}
                        <a class="btn btn-danger" href="{{ path('archiveItems') }}">Archive Listings</a>
                    </div>

                </div>

            </div>
        </div>
        {% if(app.request.get('_dashboard')=='DMS') %}
            <a href="{{ path('dms_setting_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        {% else %}
            <a href="{{ path('setting_new') }}" class="btn btn-success">
                Create a new entry
            </a>
        {% endif %}
    </section>

{% endblock %}
