{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Email</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Started_at</th>
                <td>{{ entity.startedat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ended_at</th>
                <td>{{ entity.endedat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Customer_id</th>
                <td>{{ entity.customerid }}</td>
            </tr>
            <tr>
                <th>Batch_id</th>
                <td>{{ entity.batchid }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Attachment</th>
                <td>{{ entity.attachment }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ entity.subject }}</td>
            </tr>
            <tr>
                <th>Email_from</th>
                <td>{{ entity.emailfrom }}</td>
            </tr>
            <tr>
                <th>Email_to</th>
                <td>{{ entity.emailto }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('email') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('email_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
