{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}

{% block content %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.css"/>
    <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
    <style type="text/css">
        .bootstrap-tagsinput {
            width: 100%;
        }
        .label {
            line-height: 2 !important;
        }
    </style>

    {{ displayComponent('page_content',"HTML")|raw }}


    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <h4>Contact Information*</h4>
    {{ form_row(form.cust_name) }}
    {{ form_row(form.cust_last_name) }}
    {{ form_row(form.contact_by) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    <h4>Vehicle Information*</h4>
    {{ form_row(form.year) }}
    {{ form_row(form.make) }}
    {{ form_row(form.model) }}
    {{ form_row(form.vin) }}
    <h4>What parts do you need?*</h4>
    {{ form_row(form.part_num) }}
    <p class="help-block">Separate parts numbers by comma (",") in order to order more than one part </p>
    {{ form_row(form.part_desc) }}
    {{ form_end(form) }}
{% endblock %}