{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

<div class="hidden">
    {% block form_label_class -%}
        col-sm-12
    {%- endblock form_label_class %}
    {% block form_group_class -%}
        col-sm-12
    {%- endblock form_group_class %}
</div>
<div class="row form-horizontal">
    <h1>UNIT PROFIT REPORT</h1>
    <table cellspacing="0" width="100%" border="0" class="itemsale table">
        <tr>
            <td colspan="1">
                {{ form_label(form.Vendor) }}
            </td>
            <td colspan="1">
                {{ form_widget(form.Vendor) }}
            </td>
            <td colspan="1">
                {{ form_label(form.stock_nr) }}
            </td>
            <td colspan="1">
                {{ entity.stockNr }}
            </td>
            <td>
                {{ form_label(form.note) }}
            </td>
            <td colspan="2" rowspan="2">
                {{ form_widget(form.note) }}
            </td>
        </tr>
        <tr>
            <td colspan="1">
                {{ form_label(form.sales_person) }}
            </td>
            <td colspan="1">
                {{ form_widget(form.sales_person) }}
            </td>
            <td colspan="1">
                {{ form_label(form.vin) }}
            </td>
            <td colspan="1">
                {{ entity.vin }}
            </td>
            <td colspan="2">
            </td>
        </tr>
        <tr>
            <td width="10%">{{ form_label(form.invoice_nr) }}</td>
            <td width="20%">{{ form_widget(form.invoice_nr) }}</td>
            <td width="10%"></td>
            <td width="20%"></td>
            <td width="10%"></td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td>{{ form_label(form.invoice_date) }}</td>
            <td>{{ form_widget(form.invoice_date) }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form_label(form.invoice_amt) }}</td>
            <td>{{ form_widget(form.invoice_amt, {'attr': {'class': 'sum1'}}) }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form_label(form.related_taxes_1) }}</td>
            <td>{{ form_widget(form.related_taxes_1) }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{{ form_label(form.related_taxes_2) }}</td>
            <td>{{ form_widget(form.related_taxes_2) }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                    <td colspan="3">
                        <h2>UNIT COST RECAP</h2>
                    </td>

                </tr>
                <tr>
                    <td width="15%">&nbsp;</td>
                    <td width="10%">Amount</td>
                    <td width="20%">
                        <div>GST tax</div>
                        {#<div><input type="checkbox" name="autocalculateGstCost" id="autocalculateGstCost"> Autocalculate#}
                            {#GST#}
                        {#</div>#}
                        {{ form_label(form.calculate_gst) }}
                        {{ form_widget(form.calculate_gst) }}
                    </td>
                    <td width="15%">
                        <p>Vendor / Supplier Name</p>
                    </td>
                    <td width="40%">
                        <p>Description</p>
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(form.delivery) }}</td>
                    <td>{{ form_widget(form.delivery, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_delivery, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Delivery) }}</td>
                    <td>{{ form_widget(form.desc_delivery) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.clean_up) }}</td>
                    <td>{{ form_widget(form.clean_up, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_clean_up, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Clean_up) }}</td>
                    <td>{{ form_widget(form.desc_clean_up) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.glass) }}</td>
                    <td>{{ form_widget(form.glass, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_glass, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Glass) }}</td>
                    <td>{{ form_widget(form.desc_glass) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.body_shop) }}</td>
                    <td>{{ form_widget(form.body_shop, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_body_shop, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Body_shop) }}</td>
                    <td>{{ form_widget(form.desc_body_shop) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.mechanical_1) }}</td>
                    <td>{{ form_widget(form.mechanical_1, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_mechanical_1, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Mechanical_1) }}</td>
                    <td>{{ form_widget(form.desc_mechanical_1) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.mechanical_2) }}</td>
                    <td>{{ form_widget(form.mechanical_2, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_mechanical_2, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Mechanical_2) }}</td>
                    <td>{{ form_widget(form.desc_mechanical_2) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_1) }}</td>
                    <td>{{ form_widget(form.other_exp_1, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_1, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_1) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_1) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_2) }}</td>
                    <td>{{ form_widget(form.other_exp_2, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_2, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_2) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_2) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_3) }}</td>
                    <td>{{ form_widget(form.other_exp_3, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_3, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_3) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_3) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_4) }}</td>
                    <td>{{ form_widget(form.other_exp_4, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_4, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_4) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_4) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_5) }}</td>
                    <td>{{ form_widget(form.other_exp_5, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_5, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_5) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_5) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_6) }}</td>
                    <td>{{ form_widget(form.other_exp_6, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_6, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_6) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_6) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.other_exp_7) }}</td>
                    <td>{{ form_widget(form.other_exp_7, {'attr': {'class': 'sum1 autogstcost'}}) }}</td>
                    <td>{{ form_widget(form.gst_other_exp_7, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Other_exp_7) }}</td>
                    <td>{{ form_widget(form.desc_other_exp_7) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.total_unit_cost) }}</td>
                    <td>{{ form_widget(form.total_unit_cost, {'attr': {'class': 'lightgray'}}) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>{{ form_label(form.net_gain) }}</td>
                    <td>{{ form_widget(form.net_gain, {'attr': {'class': 'lightgray'}}) }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <h2>UNIT REVENUE</h2>
                    </td>

                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>Amount</td>

                </tr>
                <tr>
                    <td>{{ form_label(form.selling_price) }}</td>
                    <td>{{ form_widget(form.selling_price) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.trade_in) }}</td>
                    <td>{{ form_widget(form.trade_in) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.as_price) }}</td>
                    <td>{{ form_widget(form.as_price) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.ac_value) }}</td>
                    <td>{{ form_widget(form.ac_value) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.warranty1) }}</td>
                    <td>{{ form_widget(form.warranty1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.life_insur) }}</td>
                    <td>{{ form_widget(form.life_insur, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.disability_ins1) }}</td>
                    <td>{{ form_widget(form.disability_ins1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.doc_fees1) }}</td>
                    <td>{{ form_widget(form.doc_fees1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.admin_fees1) }}</td>
                    <td>{{ form_widget(form.admin_fees1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.protect_pkg1) }}</td>
                    <td>{{ form_widget(form.protect_pkg1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.insurance1) }}</td>
                    <td>{{ form_widget(form.insurance1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.bank_commis) }}</td>
                    <td>{{ form_widget(form.bank_commis, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>
                        {% if entity.sale is not null and entity.sale.other1Des is not null %}
                            <label class="col-sm-12 control-label"> {{ entity.sale.other1Des|capitalize }}</label>
                        {% else %}
                            {{ form_label(form.other_1) }}
                        {% endif %}
                    </td>
                    <td>{{ form_widget(form.other_1, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>
                        {% if entity.sale is not null and entity.sale.other2Des is not null %}
                            <label class="col-sm-12 control-label"> {{ entity.sale.other2Des|capitalize }}</label>
                        {% else %}
                            {{ form_label(form.other_2) }}
                        {% endif %}
                    </td>
                    <td>{{ form_widget(form.other_2, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>
                        {% if entity.sale is not null and entity.sale.other3Des is not null %}
                            <label class="col-sm-12 control-label"> {{ entity.sale.other3Des|capitalize }}</label>
                        {% else %}
                            {{ form_label(form.other_3) }}
                        {% endif %}
                    </td>
                    <td>{{ form_widget(form.other_3, {'attr': {'class': 'sum4'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.total_revenue) }}</td>
                    <td>{{ form_widget(form.total_revenue, {'attr': {'class': 'lightgray'}}) }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <tr>
                <tr>
                    <td colspan="4"><h2>SALES COST RECAP</h2></td>
                </tr>
                </tr>
                <tr>
                    <td class="col-md-3">&nbsp;</td>
                    <td class="col-md-2">Amount</td>
                    <td class="col-md-2">
                        <div>GST</div>
                        {#<div><input type="checkbox" name="autocalculateGst" id="autocalculateGst"/> Autocalculate GST#}
                        {#</div>#}
                        {{ form_label(form.calculate_gst_1) }}
                        {{ form_widget(form.calculate_gst_1) }}
                    </td>
                    <td class="col-md-3">Vendor / Supplier Name</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.protect_pkg) }}</td>
                    <td>{{ form_widget(form.protect_pkg, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_protect_pkg, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Protect_pkg) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.warranty) }}</td>
                    <td>{{ form_widget(form.warranty, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_warranty, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Warranty) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.admin_fees) }}</td>
                    <td>{{ form_widget(form.admin_fees, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_doc_fees, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Doc_fees) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.doc_fees) }}</td>
                    <td>{{ form_widget(form.doc_fees, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_admin_fees, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Admin_fees) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.insurance) }}</td>
                    <td>{{ form_widget(form.insurance, {'attr': {'class': 'sum2'}}) }}</td>
                    <td>{{ form_widget(form.gst_insurance, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Insurance) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.life_ins) }}</td>
                    <td>{{ form_widget(form.life_ins, {'attr': {'class': 'sum2'}}) }}</td>
                    <td>{{ form_widget(form.gst_life_ins, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Life_ins) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.disability_ins) }}</td>
                    <td>{{ form_widget(form.disability_ins, {'attr': {'class': 'sum2'}}) }}</td>
                    <td>{{ form_widget(form.gst_disability_ins, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Disability_ins) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.feverse) }}</td>
                    <td>{{ form_widget(form.feverse, {'attr': {'class': 'sum2'}}) }}</td>
                    <td>{{ form_widget(form.gst_feverse, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Feverse) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.misc_1) }}</td>
                    <td>{{ form_widget(form.misc_1, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_misc_1, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Misc_1) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.misc_2) }}</td>
                    <td>{{ form_widget(form.misc_2, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_misc_2, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Misc_2) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.misc_3) }}</td>
                    <td>{{ form_widget(form.misc_3, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_misc_3, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Misc_3) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.sales_comms) }}</td>
                    <td>{{ form_widget(form.sales_comms, {'attr': {'class': 'sum2 autogst'}}) }}</td>
                    <td>{{ form_widget(form.gst_sales_comms, {'attr': {'class': 'sale_gst'}}) }}</td>
                    <td>{{ form_widget(form.Vendor_Sales_comms) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.total_sale_cost) }}</td>
                    <td>{{ form_widget(form.total_sale_cost, {'attr': {'class': 'lightgray'}}) }}</td>
                    <td></td>
                    <td>{{ form_label(form.revenue_this_unit) }}</td>
                    <td colspan="2">{{ form_widget(form.revenue_this_unit, {'attr': {'class': 'lightgray'}}) }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td colspan="2"><h2>TAXES</h2></td>
                </tr>
                <tr>
                    <td class="col-md-1">&nbsp;</td>
                    <td class="col-md-1">&nbsp;</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.tax_1_out) }}</td>
                    <td>{{ form_widget(form.tax_1_out) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.tax_2_out) }}</td>
                    <td>{{ form_widget(form.tax_2_out) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.unit_tax_other) }}</td>
                    <td>{{ form_widget(form.unit_tax_other, {'attr': {'class': 'lightgray'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.trade_in_tax) }}</td>
                    <td>{{ form_widget(form.trade_in_tax) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.tax_1_in) }}</td>
                    <td>{{ form_widget(form.tax_1_in) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.tax_2_in) }}</td>
                    <td>{{ form_widget(form.tax_2_in) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.net_tax) }}</td>
                    <td>{{ form_widget(form.net_tax, {'attr': {'class': 'lightgray'}}) }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% if entity.sale is defined %}
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
            data-target="#sale_related_doc_upload">
        Upload Related Documents
    </button>

    <div id="related_docs" class="col-md-6">
        {% include "@NumaDOADMS/Sale/related_docs.html.twig" with {'sale':entity.sale} %}
    </div>
{% endif %}
        {{ form_row(form.submitAndPrint) }}

<script>

    $(document).ready(function () {

        $(".autogstcost").change(function () {
            if ($('#numa_doaadminbundle_item_sale_calculate_gst').prop('checked')==false) {
                calculateGST($(this));
            }
        });

        $(".autogst").change(function () {
            if ($('#numa_doaadminbundle_item_sale_calculate_gst_1').prop('checked')==false) {
                calculateGST($(this));
            }
        });
    });
    $('#numa_doaadminbundle_item_sale_related_taxes_2').on('input', function (e) {
        $('#numa_doaadminbundle_item_sale_tax_2_out').val($('#numa_doaadminbundle_item_sale_related_taxes_2').val());
    });

    $('#numa_doaadminbundle_item_sale_related_taxes_1').on('input', function (e) {
        $('#numa_doaadminbundle_item_sale_tax_1_out').val($('#numa_doaadminbundle_item_sale_related_taxes_1').val());
    });

    $('input').change(function () {
        if(this.value != 0){
            this.value = parseFloat( this.value ).toFixed( 2 )
        }
    });

    $('.form-control').keyup(function () {
        var sum = 0;
        $('.sum1').each(function () {
            sum += Number($(this).val());
        });

        $('#numa_doaadminbundle_item_sale_total_unit_cost').val(sum.toFixed(2));
    });

    $('.form-control').keyup(function () {
        var sum2 = 0;
        $('.sum2').each(function () {
            sum2 += Number($(this).val());
        });
        $('#numa_doaadminbundle_item_sale_total_sale_cost').val(sum2.toFixed(2));
    });

    $('.form-control').keyup(function () {
        var sumtaxunit = 0;
        $('.gst').each(function () {
            sumtaxunit += Number($(this).val());
        });

        $('#numa_doaadminbundle_item_sale_unit_tax_other').val(sumtaxunit.toFixed(2));
    });

    $('.form-control').keyup(function () {
        var n1 = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_tax_1_out").value);
        var n2 = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_tax_2_out").value);
        var n3 = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_trade_in_tax").value);
        var n4 = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_tax_1_in").value);
        var n5 = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_tax_2_in").value);
        var unittax = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_unit_tax_other").value);
        if (isNaN(parseFloat(n1))) {
            n1 = 0;
        }
        if (isNaN(parseFloat(n2))) {
            n2 = 0;
        }
        if (isNaN(parseFloat(n3))) {
            n3 = 0;
        }
        if (isNaN(parseFloat(n4))) {
            n4 = 0;
        }
        if (isNaN(parseFloat(n5))) {
            n5 = 0;
        }
        if (isNaN(parseFloat(unittax))) {
            unittax = 0;
        }
        var saleNetTax = ((n1 + n2 + unittax) - ((n4 + n5) + n3));
        $('#numa_doaadminbundle_item_sale_net_tax').val(saleNetTax.toFixed(2));
    });

    $('.form-control').keyup(function () {
        var totalUnitCost = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_total_unit_cost").value);
        var ASP = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_as_price").value);

        if (isNaN(parseFloat(totalUnitCost))) {
            totalUnitCost = 0;
        }
        if (isNaN(parseFloat(ASP))) {
            ASP = 0;
        }

        //Net Gain = ASP Value minus Total Unit Cost

        $('#numa_doaadminbundle_item_sale_net_gain').val(parseFloat(ASP - totalUnitCost).toFixed(2));
    });

    $('.form-control').change(function () {
        calculateUnitRevenue();
        calculateRevenueThisUnit();
    });

    function calculateGST(el) {
        gstRate = 0.05;
        gstField = parseFloat(el.val());
        console.log(gstField)
        gst = el.parent().parent().find("input.sale_gst");
        console.log(gst);
        gstAmount = parseFloat(gstRate * gstField).toFixed(2);
        gst.val(gstAmount)
    }


    function calculateUnitRevenue() {
        var sum4 = 0;
        sum4 = $('#numa_doaadminbundle_item_sale_as_price').val() - $('#numa_doaadminbundle_item_sale_ac_value').val();

        $('.sum4').each(function () {
            sum4 += Number($(this).val());

//            sum4 = $('numa_doaadminbundle_item_sale_as_price').val() - $('numa_doaadminbundle_item_sale_ac_value').val();
//            sum4 = sum4 + $('numa_doaadminbundle_item_sale_warranty1').val()
//            sum4 = sum4 + $('numa_doaadminbundle_item_life_insurance').val()
//            sum4 = sum4 + $('numa_doaadminbundle_item_sale_disability_ins1').val()
        });
        $('#numa_doaadminbundle_item_sale_total_revenue').val(sum4.toFixed(2));
        //$('#numa_doaadminbundle_item_sale_revenue_this_unit').val(sum4.toFixed( 2 ));
    }
    function calculateRevenueThisUnit() {
        var totalSaleCost = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_total_sale_cost").value);
        var totalRevenue = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_total_revenue").value);
        var totalUnitSaleCost = parseFloat(document.getElementById("numa_doaadminbundle_item_sale_total_unit_cost").value);

        if (isNaN(parseFloat(totalRevenue))) {
            totalRevenue = 0;
        }
        if (isNaN(parseFloat(totalUnitSaleCost))) {
            totalUnitSaleCost = 0;
        }

        $('#numa_doaadminbundle_item_sale_revenue_this_unit').val((totalRevenue - (totalUnitSaleCost + totalSaleCost)).toFixed(2));
    }


    $(function () {

        $('.datepicker').datepicker({dateFormat: 'yy-dd-mm'});
        calculateUnitRevenue();

    });

    function fixit( obj ) {
        obj.value = parseFloat( obj.value ).toFixed( 2 )
    }
</script>