{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% block content -%}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Sale list</h3>
        <h5>Total sale ({{ entities|length }})</h5>
        <div class="box-tools">

            <a href="{{ path('sale_new') }}" class="btn btn-primary">
                Create a new Sale
            </a>
        </div>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Vendor</th>
                <th>Listing</th>
                <th>Sales_person</th>
                <th>Stock_nr</th>
                <th>Vin</th>
                <th>Invoice Nr</th>
                <th>Invoice Date</th>
                <th>Invoice Amt</th>

                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity[0].id }}</td>
                    <td>{{ entity[0].vendor }}</td>
                    <td>{% if entity.item_id is not empty %}<a href="{{ path("dms_items_edit",{'id':entity.item_id}) }}">{{ entity.item_id }}</a>{% endif %}</td>

                    <td>{{ entity[0].salesperson }}</td>
                    <td>{{ entity.stock_nr }}</td>
                    <td>{{ entity.vin }}</td>
                    <td>{{ entity[0].invoicenr }}</td>
                    <td>{% if entity[0].invoicedate %}{{ entity[0].invoicedate|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ entity[0].invoiceamt }}</td>

                    <td>
                        <a class="btn btn-primary" href="{{ path('sale_edit', { 'id': entity[0].id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
