{% extends 'NumaDOADMSBundle::layout.html.twig' %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}

{% block content %}
    <h1>UNIT PROFIT REPORT</h1>

    {#{{ form(form) }}#}
    {{ form_start(form) }}
    <div class="col-md-7">
        {{ form_row(form.Vendor) }}
        {{ form_row(form.sales_person) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.stock_nr) }}
        {{ form_row(form.vin) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.invoice_nr) }}
        {{ form_row(form.invoice_date) }}
        {{ form_row(form.invoice_amt, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.related_taxes_1, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.related_taxes_2, {'attr': {'class': 'sum1'}}) }}
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4">
        <h2>UNIT COST RECAP</h2>

        {{ form_row(form.delivery, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.clear_up, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.glass, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.mechanical_1, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.mechanical_2, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.other_exp_1, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.other_exp_2, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.other_exp_3, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.other_exp_4, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.other_exp_5, {'attr': {'class': 'sum1'}}) }}
        {{ form_row(form.total_unit_cost) }}
        {{ form_row(form.net_grain) }}

        <h2>SALES COST RECAP</h2>

        {{ form_row(form.protect_pkg, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.warranty, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.doc_fees, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.admin_fees, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.insurance, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.life_ins, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.disability_ins, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.feverse, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.misc_1, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.misc_2, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.misc_3, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.sales_comms, {'attr': {'class': 'sum2'}}) }}
        {{ form_row(form.total_sale_cost) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.discrip1) }}
        {{ form_row(form.discrip2) }}
        {{ form_row(form.discrip3) }}
        {{ form_row(form.discrip4) }}
        {{ form_row(form.discrip5) }}
        {{ form_row(form.discrip6) }}
        {{ form_row(form.discrip7) }}

        <h2>TAXES</h2>

        {{ form_row(form.tax_1_out, {'attr': {'class': 'sum3'}}) }}
        {{ form_row(form.tax_2_out, {'attr': {'class': 'sum3'}}) }}
        {{ form_row(form.trade_in_tax, {'attr': {'class': 'sum3'}}) }}
        {{ form_row(form.tax_1_in, {'attr': {'class': 'tax'}}) }}
        {{ form_row(form.tax_2_in, {'attr': {'class': 'tax'}}) }}
        {{ form_row(form.net_tax) }}
    </div>
    <div class="col-md-4">
        <h2>UNIT REVENUE</h2>

        {{ form_row(form.selling_price, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.trade_in, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.warranty1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.life_insur, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.disability_ins1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.doc_fees1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.admin_fees1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.protect_pkg1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.insurance1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.bank_commis, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.other_1, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.other_2, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.other_3, {'attr': {'class': 'sum4'}}) }}
        {{ form_row(form.total_revenue) }}
        {{ form_row(form.revenue_this_unit) }}
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}


    <a href="{{ path('sale') }}" class="btn btn-primary">
        Back to the list
    </a>
    <script>

        $('.sum1').keyup(function () {
            var sum = 0;
            $('.sum1').each(function () {
                sum += Number($(this).val());
            });
            $('#numa_doadmsbundle_sale_total_unit_cost').val(sum);
        });

        $('.sum2').keyup(function () {
            var sum2 = 0;
            $('.sum2').each(function () {
                sum2 += Number($(this).val());
            });
            $('#numa_doadmsbundle_sale_total_sale_cost').val(sum2);
        });

        $('.form-control').keyup(function () {
            var n1 = parseFloat(document.getElementById("numa_doadmsbundle_sale_tax_1_out").value);
            var n2 = parseFloat(document.getElementById("numa_doadmsbundle_sale_tax_2_out").value);
            var n3 = parseFloat(document.getElementById("numa_doadmsbundle_sale_trade_in_tax").value);
            var n4 = parseFloat(document.getElementById("numa_doadmsbundle_sale_tax_1_in").value);
            var n5 = parseFloat(document.getElementById("numa_doadmsbundle_sale_tax_2_in").value);
            if (isNaN(parseFloat(n1))) {
                n1 = 0;
            }
            if (isNaN(parseFloat(n2))) {
                n2 = 0;
            }
            if (isNaN(parseFloat(n3))) {
                n3 = 0;
            }
            if (isNaN(parseFloat(n4))) {
                n4 = 0;
            }
            if (isNaN(parseFloat(n5))) {
                n5 = 0;
            }

            $('#numa_doadmsbundle_sale_net_tax').val((n1 + n2 + n3) - (n4 + n5));
        });

        $('.form-control').keyup(function () {
            var n1 = parseFloat(document.getElementById("numa_doadmsbundle_sale_total_unit_cost").value);
            var n2 = parseFloat(document.getElementById("numa_doadmsbundle_sale_selling_price").value);
            var n3 = parseFloat(document.getElementById("numa_doadmsbundle_sale_trade_in").value);
            if (isNaN(parseFloat(n1))) {
                n1 = 0;
            }
            if (isNaN(parseFloat(n2))) {
                n2 = 0;
            }
            if (isNaN(parseFloat(n3))) {
                n3 = 0;
            }
            $('#numa_doadmsbundle_sale_net_grain').val((n2 + n3) - n1);
        });

        $('.sum4').keyup(function () {
            var sum4 = 0;
            $('.sum4').each(function () {
                sum4 += Number($(this).val());
            });
            $('#numa_doadmsbundle_sale_total_revenue').val(sum4);
            $('#numa_doadmsbundle_sale_revenue_this_unit').val(sum4);
        });
    </script>

{% endblock %}
