<h1>UNIT PROFIT REPORT</h1>
<table cellspacing="0" width="100%" border="0" class="itemsale">
    <tr>
        <td colspan="1">
            Vendor
        </td>
        <td colspan="1">
            {{ sale.vendor }}
        </td>
        <td colspan="1">
            Stock #
        </td>
        <td colspan="1">
            {{ listing.stockNr }}
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="1">
            Sales person
        </td>
        <td colspan="1">
            {{ sale.salesPerson }}
        </td>
        <td colspan="1">
            VIN #
        </td>
        <td colspan="1">
            {{ listing.vin }}
        </td>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td width="10%">Invoice Nr</td>
        <td width="20%">{{ sale.invoiceNr }}</td>
        <td width="10%"></td>
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="20%"></td>
    </tr>
    <tr>
        <td>Invoice Date</td>
        <td>{{ sale.invoiceDate|date('Y-m-d') }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Invoice Amt</td>
        <td>{{ sale.invoiceAmt }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Taxes 1</td>
        <td>{{ sale.relatedTaxes1 }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Taxes 2</td>
        <td>{{ sale.relatedTaxes2 }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td colspan="2"><h2>UNIT COST RECAP</h2><p style="text-align: right; margin-right: 35px">GST Tax</p></td>
        <td style="vertical-align:bottom; text-align: center"><p>Vendor / Supplier Name</p></td>
        <td style="vertical-align:bottom; text-align: center"><p>Description</p></td>
        <td colspan="2"><h2>UNIT REVENUE</h2></td>
    </tr>
    <tr>
        <td>Delivery</td>
        <td><div style="float:left">{{ sale.delivery }}</div><div style="float:right; margin-right: 35px">{{ sale.gst }}</div></td>
        <td>{{ sale.vendorDelivery }}</td>
        <td>{{ sale.supplier }}</td>
        <td>Sold for</td>
        <td>{{ sale.sellingPrice }}</td>
    </tr>
    <tr>
        <td>Clean Up</td>
        <td><div style="float:left">{{ sale.cleanUp }}</div><div style="float:right; margin-right: 35px">{{ sale.gst1 }}</div></td>
        <td>{{ sale.vendorCleanUp }}</td>
        <td>{{ sale.supplier1 }}</td>
        <td>Trade In</td>
        <td>{{ sale.tradeIn }}</td>
    </tr>
    <tr>
        <td>Glass</td>
        <td><div style="float:left">{{ sale.glass }}</div><div style="float:right; margin-right: 35px">{{ sale.gst2 }}</div></td>
        <td>{{ sale.vendorGlass }}</td>
        <td>{{ sale.supplier2 }}</td>
        <td>Warranty</td>
        <td>{{ sale.warranty1 }}</td>
    </tr>
    <tr>
        <td>Mechanical 1</td>
        <td><div style="float:left">{{ sale.mechanical1 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst3 }}</div></td>
        <td>{{ sale.vendorMechanical1 }}</td>
        <td>{{ sale.discrip1 }}</td>
        <td>Life Insur</td>
        <td>{{ sale.lifeInsur }}</td>
    </tr>
    <tr>
        <td>Mechanical 2</td>
        <td><div style="float:left">{{ sale.mechanical2 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst4 }}</div></td>
        <td>{{ sale.vendorMechanical2 }}</td>
        <td>{{ sale.discrip2 }}</td>
        <td>Disability Ins</td>
        <td>{{ sale.disabilityIns1 }}</td>
    </tr>
    <tr>
        <td>Other exp 1</td>
        <td><div style="float:left">{{ sale.otherExp1 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst5 }}</div></td>
        <td>{{ sale.vendorOtherExp1 }}</td>
        <td>{{ sale.discrip3 }}</td>
        <td>Admin Fees</td>
        <td>{{ sale.adminFees1 }}</td>
    </tr>
    <tr>
        <td>Other exp 2</td>
        <td><div style="float:left">{{ sale.otherExp2 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst6 }}</div></td>
        <td>{{ sale.vendorOtherExp2 }}</td>
        <td>{{ sale.discrip4 }}</td>
        <td>Doc Fees</td>
        <td>{{ sale.docFees1 }}</td>
    </tr>
    <tr>
        <td>Other exp 3</td>
        <td><div style="float:left">{{ sale.otherExp3 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst7 }}</div></td>
        <td>{{ sale.vendorOtherExp3 }}</td>
        <td>{{ sale.discrip5 }}</td>
        <td>Protect PKG</td>
        <td>{{ sale.protectPkg1 }}</td>
    </tr>
    <tr>
        <td>Other exp 4</td>
        <td><div style="float:left">{{ sale.otherExp4 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst8 }}</div></td>
        <td>{{ sale.vendorOtherExp4 }}</td>
        <td>{{ sale.discrip6 }}</td>
        <td>Insurance</td>
        <td>{{ sale.insurance1 }}</td>
    </tr>
    <tr>
        <td>Other exp 5</td>
        <td><div style="float:left">{{ sale.otherExp5 }}</div><div style="float:right; margin-right: 35px">{{ sale.gst9 }}</div></td>
        <td>{{ sale.vendorOtherExp5 }}</td>
        <td>{{ sale.discrip7 }}</td>
        <td>Bank Commis</td>
        <td>{{ sale.bankCommis }}</td>
    </tr>
    <tr>
        <td>Total unit cost</td>
        <td>{{ sale.totalUnitCost }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td>
            {% if sale.other1Des is not null %}
                {{ sale.other1Des|capitalize }}
            {% else %}
                Other 1
            {% endif %}
        </td>
        <td>{{ sale.other1 }}</td>
    </tr>
    <tr>
        <td>Net gain</td>
        <td>{{ sale.netGain }}</td>
        <td colspan="2"></td>
        <td>
            {% if sale.other2Des is not null %}
                {{ sale.other2Des|capitalize }}
            {% else %}
                Other 2
            {% endif %}
        </td>
        <td>{{ sale.other2 }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            {% if sale.other3Des is not null %}
                {{ sale.other3Des|capitalize }}
            {% else %}
                Other 3
            {% endif %}
        </td>
        <td>{{ sale.other3 }}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Revenue</td>
        <td>{{ sale.totalRevenue }}</td>
    </tr>
    <tr>
        <td colspan="2"><h2>SALES COST RECAP</h2><p style="text-align: right; margin-right: 35px">GST Tax</p></td>
        <td style="vertical-align:bottom; text-align: center"><p>Vendor / Supplier Name</p></td>
        <td></td>
        <td><h2>TAXES</h2></td>
    </tr>
    <tr>
        <td>Protect PKG</td>
        <td><div style="float:left">{{ sale.protectPkg }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst1 }}</div></td>
        <td>{{ sale.vendorProtectPkg }}</td>
        <td></td>
        <td>Tax 1 out</td>
        <td>{{ sale.tax1Out }}</td>
    </tr>
    <tr>
        <td>Warranty</td>
        <td><div style="float:left">{{ sale.warranty }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst2 }}</div></td>
        <td>{{ sale.vendorWarranty }}</td>
        <td></td>
        <td>Tax 2 out</td>
        <td>{{ sale.tax2Out }}</td>
    </tr>
    <tr>
        <td>Doc Fees</td>
        <td><div style="float:left">{{ sale.docFees }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst3 }}</div></td>
        <td>{{ sale.vendorDocFees }}</td>
        <td></td>
        <td>Unit tax other</td>
        <td>{{ sale.unitTaxOther }}</td>
    </tr>
    <tr>
        <td>Admin Fees</td>
        <td><div style="float:left">{{ sale.adminFees }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst4 }}</div></td>
        <td>{{ sale.vendorAdminFees }}</td>
        <td></td>
        <td>Trade in tax</td>
        <td>{{ sale.tradeInTax }}</td>
    </tr>
    <tr>
        <td>Insurance</td>
        <td><div style="float:left">{{ sale.insurance }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst5 }}</div></td>
        <td>{{ sale.vendorInsurance }}</td>
        <td></td>
        <td>Tax 1 In</td>
        <td>{{ sale.tax1In }}</td>
    </tr>
    <tr>
        <td>Life Ins</td>
        <td><div style="float:left">{{ sale.lifeIns }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst6 }}</div></td>
        <td>{{ sale.vendorLifeIns }}</td>
        <td></td>
        <td>Tax 2 In</td>
        <td>{{ sale.tax2In }}</td>
    </tr>
    <tr>
        <td>Disability Ins</td>
        <td><div style="float:left">{{ sale.disabilityIns }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst7 }}</div></td>
        <td>{{ sale.vendorDisabilityIns }}</td>
        <td></td>
        <td>Net Tax</td>
        <td>{{ sale.netTax }}</td>
    </tr>
    <tr>
        <td>Feverse</td>
        <td><div style="float:left">{{ sale.feverse }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst8 }}</div></td>
        <td>{{ sale.vendorFeverse }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Misc 1</td>
        <td><div style="float:left">{{ sale.misc1 }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst9 }}</div></td>
        <td>{{ sale.vendorMisc1 }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Misc 2</td>
        <td><div style="float:left">{{ sale.misc2 }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst10 }}</div></td>
        <td>{{ sale.vendorMisc2 }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Misc 3</td>
        <td><div style="float:left">{{ sale.misc3 }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst11 }}</div></td>
        <td>{{ sale.vendorMisc3 }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Sales Comms</td>
        <td><div style="float:left">{{ sale.salesComms }}</div><div style="float:right; margin-right: 35px">{{ sale.saleGst12 }}</div></td>
        <td>{{ sale.vendorSalesComms }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td width="165px"></td>
    </tr>
    <tr>
        <td>Total Sale Cost</td>
        <td>{{ sale.totalSaleCost }}</td>
        <td width="165px"></td>
        <td width="165px"></td>
        <td>Revenue This Unit</td>
        <td>{{ sale.revenueThisUnit }}</td>
    </tr>
</table>