{% extends 'NumaDOAAdminBundle::layout.html.twig' %}

{% block content %}
    <p>{{items|length}} Items fetched</p>
    <a href="{{path("importfeed")}}">Back to the feed list</a>
    {% for key,item in items %}
        </br>
        </br>
        <div><strong>{{key+1}}:{{item.id}}</strong></div>
        </br>
        {% for key,field in item.getItemFieldsArray() %}
            <div>{{key}}: {%if field['stringvalue'] is defined %}{{field['stringvalue']}}{% endif %}</div>
        {% endfor %}
        
        {% for key,field in item.getImages2() %}
            {#{{dump(field)}}#}
            <div>{{key}}: {{field.fieldStringValue}}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}