{% if items is defined and items is not empty %}
    <div class="featured-ads">
        <h2 class="page-header"><b>FEATURED</b> VEHICLES</h2>
        <div class="featured">
            {% for item in items %}
                {% set images = item.getImages() %}
                {% set desc = item.getUrlDescription() %}
                <a class="featured-ads-item {% if loop.last %}last{% endif %}"
                   href="{{ path('item_details', {'itemId': item.id, 'description': desc}) }}">

                    {% set image = item.getImages2()|first %}
                    {% if images is empty %}
                        <img class="" alt="No photos"
                             src="{{ asset('images/no_image_available_small.png') }}"/>
                    {% else %}
                        {% set image = image.fieldStringValue %}
                        {% if ('http' not in image) %}
                            <img class="" alt="{{ item.getMake() }} {{ item.getModel() }}"
                                 src="{{ image|imagine_filter('autodealer_featured') }}"/>
                        {% else %}
                            <img class="" alt="{{ item.getMake() }} {{ item.getModel() }}" src="{{ image }}"
                                 width="160" height="120"/>
                        {% endif %}

                    {% endif %}
                    <div class="featured-bottom">
                        <span class="featured-desc">
                            {{ shortWord(item.year~" "~item.make~" "~item.model,50) }}
                        </span>
                        <span class="featured-price price">
                            {% if item.getRetailPrice() is not empty and item.getRetailPrice()<item.getPrice() and item.getPrice() is not empty %}
                                <span class='retail_price_value'>{{ price(item.getRetailPrice(),false)|raw }}</span>
                                <span class='price_value_was'>{{ item.getPriceString() }}</span>
                            {% else %}
                                {% if item.getPrice() is not empty and item.getPrice() > 0 %}
                                    <span class='price_value'>{{ item.getPriceString() }}</span>
                                {% endif %}
                            {% endif %}
                        </span>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
{% endif %}