
{% if items is defined and items is not empty %}
    <div class="featured-ads">
        <h3 class="page-header">Featured Vehicles</h3>
        <div class="featured">
            {% for item in items %}
                {% set images = item.getImages() %}
                {% set desc = item.getUrlDescription() %}
                <a class="featured-ads-item {% if loop.index==3 %}third{% endif %} {% if loop.last %}last{% endif %}" href="{{ path('item_details', {'itemId': item.id, 'description': desc}) }}">

                    {% set image = item.getImages2()|first %}
                    {% if images is empty %}
                        <img class="" alt="No photos"
                             src="{{ asset('images/no_image_available_small.png') }}"/>
                    {% else %}
                        {% set image = image.fieldStringValue %}
                        {% if ('http' not in image) %}
                            <img class="" alt="{{ item.getMake() }} {{ item.getModel() }}"
                                 src="{{ image|imagine_filter('autodealer_featured') }}"/>
                        {% else %}
                            <img class="" alt="{{ item.getMake() }} {{ item.getModel() }}" src="{{ image }}"
                                 width="160" height="120"/>
                        {% endif %}

                    {% endif %}
                    <span class="featured-desc">
                        {{ shortWord(item.year~" "~item.make~" "~item.model,50)}}
                    </span>
                    <span class="featured-price price">{{ item.getPriceString() }}</span>
                </a>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
{% endif %}