<table class="optEquipment rightborder bottomborder" width="100%"  autosize="1" cellspacing="0">
    <tr class="heading">

        <td width="30%" class="center">OPT.
        </td>
        <td width="70%" class="center">OPTIONAL EQUIPMENT
        </td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt1|length>20 %}opeq{% endif %}">{{ billing.opt1 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr class="">
        <td>{{ billing.opteq1 }}</td>
        <td class="{% if billing.opt2|length>20 %}opeq{% endif %}">{{ billing.opt2 }}</td>
    </tr>
    <tr>
        <td class="heading">TOTAL</td>
        <td class="">{{ billing.total }}$</td>
    </tr>
    <tr>
        <td class="heading">LESS DISCOUNT</td>
        <td class="">{{ billing.lessDiscount }}$</td>
    </tr>
    <tr>
        <td class="heading">OPTIONS TOTAL COST</td>
        <td class="">{{ billing.optionsTotalCost }}$</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" class="darkgrey heading">ACKNOWLEDGMENT OF CONDITIONS</td>
    </tr>
    <tr>
        <td colspan="2">THE PURCHASER ACKNOWLEDGES HAVING REVIEWED THE ABOVE TERMS AND CONDITIONS AND
            IS IN FULL AGREEMENT BY AFFIXING HIS OR HER SIGNATURE
        </td>
    </tr>
</table>