<table class="bottomborder borderleft"   style="overflow: hidden" width="100%" cellspacing="0" >
    <tr class="heading">

        <td colspan="2" class="heading darkgrey">TERMS OF SETTLEMENT</td>
    </tr>
    <tr>
        <td class="heading" width="60%">SALE PRICE</td>
        <td class="alignright" width="40%">{% if billing is defined %}{{ billing.salePrice|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">DOC FEE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.adminFee|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">WARRANTY</td>
        <td class="alignright">{% if billing is defined %}{{ billing.warranty|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading"></td>
        <td class="alignright">{% if billing is defined %}{{ billing.protectionPkg|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">TOTAL</td>
        <td class="alignright">{% if billing is defined %}{{ billing.tosTotal|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">LESS TRADE IN</td>
        <td class="alignright">{% if billing is defined %}{{ billing.lessTradeIn|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">DIFFERENCE PAYABLE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.differencePayable|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    {% if template=="template3" or template=="template_4"  %}
        <tr>
            <td class="heading">FINANCE CONTRACT</td>
            <td class="alignright">{% if billing is defined %}{{ billing.tax1|localizedcurrency('USD') }}{% endif %}</td>
        </tr>
    {% else %}
        <tr>
            <td class="heading ">{% if billing is defined %}{{ billing.taxt1Name }}{% endif %}</td>
            <td class="alignright">{% if billing is defined %}{{ billing.tax1|localizedcurrency('USD') }}{% endif %}</td>
        </tr>
    {% endif %}
    <tr>
        <td class="">{% if billing is defined %}{{ billing.taxt2Name }}{% endif %}</td>
        <td class="alignright">{% if billing is defined %}{{ billing.tax2|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="">{% if billing is defined %}{{ billing.taxt3Name }}{% endif %}</td>
        <td class="alignright">{% if billing is defined %}{{ billing.tax3|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    {% if template=="template3" or template=="template_4" %}
        <tr>
            <td class="heading">PST Tax</td>
            <td class="alignright">{% if billing is defined %}{{ billing.otherMisc1|localizedcurrency('USD') }}{% endif %}</td>
        </tr>
        <tr>
            <td class="heading">GST Tax</td>
            <td class="alignright">{% if billing is defined %}{{ billing.otherMisc2|localizedcurrency('USD') }}{% endif %}</td>
        </tr>
    {% else %}
        <tr>
            <td class="">
                {% if billing is defined %}{{ billing.otherMisc1Name }}{% endif %}
            </td>
            <td class="alignright">
                {% if billing is defined %}{{ billing.otherMisc1|localizedcurrency('USD') }}{% endif %}
            </td>
        </tr>
        <tr>
            <td class="">
                {% if billing is defined %}{{ billing.otherMisc2Name }}{% endif %}
            </td>
            <td class="alignright">
                {% if billing is defined %}{{ billing.otherMisc2|localizedcurrency('USD') }}{% endif %}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td class="heading">TAXES PAID TOTAL</td>
        <td class="alignright">{% if billing is defined %}{{ billing.taxesPaidTotal|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">LIEN ON TRADE IN</td>
        <td class="alignright">{% if billing is defined %}{{ billing.lienOnTradeIn|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">TOTAL DUE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.totalDue|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">LESS TRADE-IN TAX</td>
        <td class="alignright">{% if billing is defined %}{{ billing.lessTradeInTax|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">LESS DEPOSIT</td>
        <td class="alignright">{% if billing is defined %}{{ billing.lessDeposit|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">PAYABLE ON DELIVERY</td>
        <td class="alignright">{% if billing is defined %}{{ billing.payableOnDelivery|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">BALANCE TO FINANCE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.balanceToFinance|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">LIFE INSURANCE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.lifeInsurance|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">DISABILITY INSURANCE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.disabilityInsurance|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">OTHER FEE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.bankRegistrationFee|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td class="heading">E. & E.O.</td>
        <td class="alignright"></td>
    </tr>
    <tr>
        <td class="heading">TOTAL BALANCE DUE</td>
        <td class="alignright">{% if billing is defined %}{{ billing.totalBalanceDue|localizedcurrency('USD') }}{% endif %}</td>
    </tr>
    <tr>
        <td style="padding: 10px 0" colspan="2">Approved By</td>
    </tr>
    <tr class="heading center">
        <td colspan="2">SALESPERSON'S NAME</td>
    </tr>
    <tr class="center">
        <td colspan="2">{% if billing is defined %}{{ billing.salesPerson }}{% endif %}</td>
    </tr>
</table>