{% extends 'NumaDOADMSBundle::layout.html.twig' %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Theme chooser</h3>

        </div>
    </div>
    <div class="alert">
        <span id="alert-message"></span>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6 theme thumbnail {% if theme == "Default" %}themeactive{% endif %}" id="theme1"
                 data-name="Default">
                {{ component.image('images/themes/theme1.jpg', 'theme1', 'thumbnail', 'themes_image','400px') }}
                <h4>Default Theme</h4>
                <div class="themeLink"><a href="http://dev.dealersonair.com" target="_blank">Default Theme Demo</a>
                </div>
            </div>
            <div class="col-md-6 theme thumbnail {% if theme == "Sea" %}themeactive{% endif %}" id="theme2"
                 data-name="Sea">
                {{ component.image('images/themes/theme2.jpg', 'theme1', 'thumbnail', 'themes_image','400px') }}
                <h4>Sea Theme</h4>
                <div class="themeLink"><a href="http://sea.dealersonair.com" target="_blank">Sea Theme Demo</a></div>
            </div>
            <div class="col-md-6 theme thumbnail {% if theme == "Mountain" %}themeactive{% endif %}" id="theme3"
                 data-name="Mountain">
                {{ component.image('images/themes/theme3.jpg', 'theme1', 'thumbnail', 'themes_image','400px') }}
                <h4>Mountain Theme</h4>
                <div class="themeLink"><a href="http://mountain.dealersonair.com" target="_blank">Mountain Theme
                        Demo</a></div>
            </div>
            <div class="col-md-6 theme thumbnail {% if theme == "Mountain8b" %}themeactive{% endif %}" id="theme3"
                 data-name="Mountain8b">
                {{ component.image('images/themes/theme3.jpg', 'theme1', 'thumbnail', 'themes_image','400px') }}
                <h4>Mountain 8 buttons Theme</h4>
                <div class="themeLink"><a href="http://mountain8b.dealersonair.com" target="_blank">Mountain 8 buttons Theme
                        Demo</a></div>
            </div>
            <div class="col-md-6 theme thumbnail {% if theme == "Forest" %}themeactive{% endif %}" id="theme4"
                 data-name="Forest">
                {{ component.image('images/themes/theme4.jpg', 'theme1', 'thumbnail', 'themes_image','400px') }}
                <h4>Forest Theme</h4>
                <div class="themeLink"><a href="http://forest.dealersonair.com" target="_blank">Forest Theme Demo</a>
                </div>
            </div>
            <div class="col-md-6 theme thumbnail {% if theme == "Garden" %}themeactive{% endif %}" id="theme5"
                 data-name="Garden">
                {{ component.image('images/themes/theme5.jpg', 'garden', 'thumbnail', 'themes_image','400px') }}
                <h4>Garden Theme</h4>
                <div class="themeLink"><a href="http://garden.dealersonair.com" target="_blank">Garden Theme Demo</a>
                </div>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
            <div class="col-md-6 theme thumbnail {% if theme == "Tnt" %}themeactive{% endif %}" id="theme5"
                 data-name="Tnt">
                {{ component.image('images/themes/theme_tnt.png', 'theme1', 'thumbnail', 'themes_image','400px') }}
                <h4>Tnt Theme</h4>
                <div class="themeLink"><a href="http://tnt.dealersonair.com" target="_blank">Tnt Theme Demo</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>

    <button id="change" class="btn btn-success" {% if(dealer is not defined or dealer is empty) %}disabled="disabled"{% endif %}>Change the theme</button>
    <script>
        $(document).ready(function () {
            var name = "";
            $(".theme").click(function () {
                console.log(this);
                $(".theme").removeClass("themeactive");
                $(this).addClass("themeactive");

                name = $(this).data("name");
                console.log(name);

            });

            $("#change").click(function () {
                $.ajax(
                        {
                            url: "{{ path('dms_change_themes') }}",
                            type: "POST",
                            data: {"theme": name},
                            success: function (data, textStatus, jqXHR) {
                                //alert(theme);
                                //console.log (theme);
                                //location.reload();
                                $(".alert").addClass('alert-success');
                                $(".alert").removeClass('alert-error');
                                $("#alert-message").html("Theme successfully changed for {{ dealer.name }}. Current theme is " + name);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                //alert("Error");
                                $(".alert").addClass('alert-error');
                                $(".alert").removeClass('alert-success');
                                $("#alert-message").html("Theme successfully changed");
                            }
                        });
            })
        });
    </script>

{% endblock %}