<ul class="boat_details">
<li>Year: {{item.generalDataYearBuiltFrom}} / Length: {{item.measureLoa}} {{item.measureLoaUnit}}</li>
<li>Cabins: {{item.passengersCabins}} / Berths: {{item.passengersBerths}}</li>
<li>Engine Power: {{item.engineEngineQuantity}} x {{item.engineHorsePower}}</li>

</ul>