{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% form_theme driveForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme epriceForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme financeForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme contactForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme offerForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}
{% form_theme offerTradeInForm with ['bootstrap_3_horizontal_layout.html.twig'] %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}
{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}
    {% if(seo is not empty and seo.getTitle() is not empty and seo.getActive()) %}
        <title>{{ seo.getTitle() }}</title>
    {% else %}
        default meta title
        <title>{{ title }}: {{ item.getTitle() }}</title>
    {% endif %}
{% endblock title %}

{% block description %}

    {% if(seo is not empty and seo.getDescription() is not empty and seo.getActive()) %}
        <meta name="description" content="{{ seo.getDescription() }}"/>
    {% else %}
        default meta description
        {{ include("NumaDOASiteBundle::description.html.twig") }}
    {% endif %}
{% endblock description %}
{% block keyword %}
    {% if(seo is not empty and seo.getKeywords() is not empty and seo.getActive()) %}
        <meta name="keywords" content="{{ seo.getKeywords() }}"/>
    {% else %}
        default meta description
        {{ include("NumaDOASiteBundle::keywords.html.twig") }}
    {% endif %}
{% endblock keyword %}
{% block content %}
    <div class="detailsContent">
        {% include "@NumaDOAAdmin/flashmsg.html.twig" %}
        <div class="listing-images row">
            <div class="row">
                <div class="col-md-6">
                    {% include "NumaDOASiteBundle:TemplatesElements:title.html.twig" %}
                </div>
                <div class="col-md-6">
                    {% include "@NumaDOASite/TemplatesElements/price.html.twig" %}
                </div>
            </div>
            <div class="left col-md-7">
                {% include "@NumaDOASite/TemplatesElements/imageSlideshow.html.twig" %}
            </div>

            <div class='listing-right col-md-5'>
                {% if item.categoryId()==1 or item.categoryId()==3 or item.categoryId()==4 %}
                    <div class="row">
                        <div class="row bordergrey">
                            <p>
                                Mileage:
                                {{ item.mileage }}
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="btn-black-vehicles">
                            <label>
                                <input type="checkbox" class="compareAd" data-itemid="{{ item.id }}"
                                       data-url="{{ path('item_compare') }}"> Add to compare
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn-orange-vehicles" data-toggle="modal"
                                data-target="#finance">
                            <span class="glyphicon glyphicon-usd"></span> Apply for Financing
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn-orange-vehicles" data-toggle="modal"
                                data-target="#contact">
                            <span class="glyphicon glyphicon-info-sign"></span> Contact us
                        </button>
                    </div>
                </div>
                <div class="row techData">
                    {% include "@NumaDOASite/TemplatesElements/vehicleSmallDetails.html.twig" %}
                </div>
            </div>
        </div>
        {% include "@NumaDOASite/TemplatesElements/vehicleDescription.html.twig" %}
        {% include "@NumaDOASite/TemplatesElements/vehicleDetails.html.twig" %}

        {% include "@NumaDOASite/TemplatesElements/vehicleFeatures.html.twig" %}
        {% include "@NumaDOASite/TemplatesElements/video.html.twig" %}
    </div>
    <!-- Button trigger modal -->
    {{ include("NumaDOASiteBundle:ListingForms:listingForms.html.twig") }}
    <script>
        $(".saveAd").on("click", function () {
            var itemId = $(this).data("itemid");
            console.log(itemId);
            var act = "add";
            if (!$(this).prop('checked')) {
                act = "remove";
            }
            var jqxhr = $.post("{{ path('item_savead') }}", {
                itemid: itemId,
                act: act
            }, function (data) {
                htmlx = "";
                if (data.savedAds > 0) {
                    htmlx = "(" + data.savedAds + ")";
                }
                $('.savedAds').html(htmlx);
            })

        });
        $(".compareAd").on("click", function () {
            var itemId = $(this).data("itemid");
            var url = $(this).data("url");

            var act = "add";
            if (!$(this).prop('checked')) {
                act = "remove";
            }
            var jqxhr = $.post(url, {itemid: itemId, act: act}, function (data) {
                htmlx = "";
                if (data.comparedItes > 0) {
                    htmlx = "(" + data.comparedItes + ")";
                }
                $('.savedAds').html(htmlx);
            })

        });
    </script>
{% endblock %}
