{% set liclass="col-md-12 col-xs-12 col-sm-12 col-lg-12" %}

    {% if item.getType() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Type: </span>
            <span class="fieldValue fieldValue-status">{{ item.getType() }}</span>
        </li>
    {% endif %}

    {% if item.getStockNr() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Stock Number: </span>
            <span class="fieldValue fieldValue-status">{{ item.getStockNr() }}</span>
        </li>
    {% endif %}
    {% if item.getMileage() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Mileage: </span>
            <span class="fieldValue fieldValue-status">{{ item.getMileage() }}</span>
        </li>
    {% endif %}

    {% if item.getExteriorColor() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Exterior Color: </span>
            <span class="fieldValue fieldValue-status">{{ item.getExteriorColor() }}</span>
        </li>
    {% endif %}

    {% if item.getEngine() is not empty %}
        <li class="{{ liclass }}">
            <span class="fieldCaption field-status">Engine: </span>
            <span class="fieldValue fieldValue-status">{{ item.getEngine() }}</span>
        </li>
    {% endif %}