{% set liclass="col-md-12 col-xs-12 col-sm-12 col-lg-12" %}
<table class="table table-striped">
    <tbody>
    <tr class="">
        <td class="table-col-1">Type:</td>
        <td class="table-col-2" itemprop="bodyType">{{ item.type }}</td>
        <td class="table-col-1">Stock Number:</td>
        <td class="table-col-2">{{ item.stock_nr }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Sleeps:</td>
        <td class="table-col-2">{{ item.sleeps }}</td>
        <td class="table-col-1">Slide Outs:</td>
        <td class="table-col-2">{{ item.slideOuts }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Mileage:</td>
        <td class="table-col-2">{{ item.mileage }}</td>
        <td class="table-col-1">Exterior Color:</td>
        <td class="table-col-2">{{ item.exteriorColor }}</td>
    </tr>
    </tbody>
</table>