{% form_theme epriceForm with ['bootstrap_3_horizontal_layout.html.twig',_self] %}

{{ form_start(epriceForm) }}
<div class="form-group">
    {{ form_label(epriceForm.cust_name,'First Name',{'label_attr': {'class': 'col-md-3'}}) }}
    <div class="col-md-9">
        {{ form_widget(epriceForm.cust_name) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(epriceForm.cust_last_name,'Last Name',{'label_attr': {'class': 'col-md-3'}}) }}
    <div class="col-md-9">
        {{ form_widget(epriceForm.cust_last_name) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(epriceForm.email,'Email',{'label_attr': {'class': 'col-md-3'}}) }}
    <div class="col-md-9">
        {{ form_widget(epriceForm.email) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(epriceForm.phone,'Phone',{'label_attr': {'class': 'col-md-3'}}) }}
    <div class="col-md-9">
        {{ form_widget(epriceForm.phone) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(epriceForm.comment,'Comment',{'label_attr': {'class': 'col-md-3'}}) }}
    <div class="col-md-9">
        {{ form_widget(epriceForm.comment) }}
    </div>
</div>
{{ form_rest(epriceForm) }}