{% if(ads is defined and ads is not empty) %}

    <div class="right-side-ads">
    {% for ad in ads %}
        <a class="right-side-ad {{ ad.size }}" data-adid="{{ ad.id }}" href="{{ ad.url }}">
            {% if(ad.photo is not empty) %}
                <img src="{{ asset(ad.photo) }}" alt="{{ ad.name }}" />
            {% endif %}
        </a>
    {% endfor %}
</div>
{% endif %}
<script>

    $(function () {
        $(".right-side-ad").click(function (e) {
            $.ajax({
                        type: 'POST',
                        url: '/ads/'+$(this).data("adid")+'/click',
                        //data:
                    })
                    .done(function (data) {
                        $('#ads').html(data);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                    });
        });
    });
</script>