{% if(ads is defined and ads is not empty) %}
    <div class="right-side-ads">
        {% for ad in ads %}
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                <div class="flipper {{ ad.size }}">
                    <div class="front">
                        <!-- front content -->
                        <a class="right-side-ad {{ ad.size }}" data-adid="{{ ad.id }}" href="{{ ad.url }}">
                            {{ component.image(ad.photo, ad.size, ad.name, "ad_"~ad.size) }}
                        </a>

                    </div>
                    <div class="back">
                        <!-- back content -->
                        <div class="right-side-ad {{ ad.size }}">
                            {{ ad.body|raw }}
                        </div>
                    </div>
                </div>
            </div>
            {#<div class="cube">#}
            {#<div class="active-state">#}
            {#{{ ad.body }}#}
            {#</div>#}
            {#<div class="default-state">#}
            {#<a class="right-side-ad {{ ad.size }}" data-adid="{{ ad.id }}" href="{{ ad.url }}">#}
            {#{{ component.image(ad.photo, ad.size, ad.name, "ad_"~ad.size) }}#}
            {#</a>#}
            {#</div>#}
            {#</div>#}
        {% endfor %}
    </div>
{% endif %}
<script>
    $(function () {
        $(".right-side-ad").click(function (e) {
            $.ajax({
                        type: 'POST',
                        url: '/ads/' + $(this).data("adid") + '/click',
                        //data:
                    })
                    .done(function (data) {
                        $('#ads').html(data);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                    });
        });
    });
</script>