{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}
{% block content %}
    {% set dealer = getDealer() %}
    {{ displayComponent('page_content',"HTML")|raw }}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <h4>Contact Information*</h4>
    {{ form_row(form.cust_name) }}
    {{ form_row(form.cust_last_name) }}
    {{ form_row(form.contact_by) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    <h4>Appointment information*</h4>
    {{ form_row(form.date_appointment) }}
    {{ form_row(form.time_appointment) }}
    <h4>Service information*</h4>
    {{ form_row(form.year) }}
    {{ form_row(form.make) }}
    {{ form_row(form.model) }}
    <p>Type of Service Needed:</p>

    {{ form_row(form.comment) }}
    {{ form_end(form) }}





{% endblock %}