<table width=100%"  class="dealerinfo">
    <tr>
        <td class="dealername center">
            {% include "NumaDOADMSBundle:Billing:dealerName.html.twig" %}
        </td>
    </tr>
    <tr>
        <td >
            {% if dealer is defined and dealer is not empty and dealer.address is defined %}
                Address: {{ dealer.address }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td >
            {% if dealer is defined and dealer is not empty and dealer.zip is defined and dealer.state is defined %}
                {{ dealer.city }}, {{ dealer.zip }}, {{ dealer.state }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% if dealer is defined and dealer is not empty and dealer.phone %}
                Phone: {{ dealer.phone }}
            {% endif %}
        </td>
    </tr>

    {% if dealer is defined and dealer is not empty and dealer.fax %}
        <tr>
            <td>
                Fax: {{ dealer.fax }}
            </td>
        </tr>
    {% endif %}

    <tr>
        <td>
            {% if dealer is defined and dealer is not empty and dealer.email %}
                Email: {{ dealer.email }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td height="20" align="center" bgcolor="#E2F0D9">
            {% if dealer is defined and dealer is not empty and dealer.siteUrl %}
                Website: {{ dealer.siteUrl }}
            {% endif %}
        </td>
    </tr>
</table>