<table width="100%"  class="dealerinfo" border="0"  autosize="1" cellspacing="0">
    <tr>
        <td class="dealername center">
            {%  if template is defined and template=='template_5' %}
                {{ form_row(form.vendor_name, {'attr': {'class': 'col-md-12'}}) }}
            {% else %}
                {% include "NumaDOADMSBundle:Billing:dealerName.html.twig" %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td >
            {%  if template is defined and template=='template_5' %}
                {{ form_row(form.vendor_address, {'attr': {'class': 'col-md-12'}}) }}
            {% else %}
                {% if dealer is defined and dealer is not empty and dealer.address is defined %}
                    {{ dealer.address }}
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td >
            {%  if template is defined and template=='template_5' %}
                {{ form_row(form.vendor_city, {'attr': {'class': 'col-md-12'}}) }}
            {% else %}
                {% if dealer is defined and dealer is not empty and dealer.zip is defined and dealer.state is defined %}
                    {{ dealer.city }}, {{ dealer.zip }}, {{ dealer.state }}
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {%  if template is defined and template=='template_5' %}
                {{ form_row(form.vendor_phone, {'attr': {'class': 'col-md-12'}}) }}
            {% else %}
                {% if dealer is defined and dealer is not empty and dealer.phone %}
                    Phone: {{ dealer.phone }}
                {% endif %}
            {% endif %}
        </td>
    </tr>

    {%  if template is defined and template=='template_5' %}
        {{ form_row(form.vendor_fax, {'attr': {'class': 'col-md-12'}}) }}
    {% else %}
    {% if dealer is defined and dealer is not empty and dealer.fax %}
        <tr>
            <td>
                    Fax: {{ dealer.fax }}
            </td>
        </tr>
    {% endif %}

    <tr>
        <td>
            {%  if template is defined and template=='template_5' %}
                {{ form_row(form.vendor_email, {'attr': {'class': 'col-md-12'}}) }}
            {% else %}
                {% if dealer is defined and dealer is not empty and dealer.email %}
                    Email: {{ dealer.email }}
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td height="20" align="center" bgcolor="#E2F0D9">
            {% if dealer is defined and dealer is not empty and dealer.urlForBilling %}
                {{ addWWW(dealer.urlForBilling) }}
            {% endif %}
        </td>
    </tr>
</table>