<table class="optEquipment rightborder bottomborder">
    <tr class="heading">
        <td class="center heading" colspan="2">CO-APPLICANT CONTACT DETAILS
        </td>
    </tr>
    <tr class="blue">
        <td width="30%" >Name</td>
        <td width="70%" >{{ form_row(form.coapp_name, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>Address</td>
        <td>{{ form_row(form.coapp_address, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>City / Postal</td>
        <td>{{ form_row(form.coapp_city, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>Phone</td>
        <td>{{ form_row(form.coapp_phone, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td colspa="2"></td>
    </tr>
    <tr class="heading">
        <td width="30%" class="heading center">OPT.
        </td>
        <td width="70%" class=" heading center">TERm / OPTIONS
        </td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq1, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt1, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq2, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt2, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq3, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt3, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq4, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt4, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq5, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt5, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq6, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt6, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq7, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt7, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq8, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt8, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq9, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt9, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq10, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt10, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="heading">
        <td width="30%" class="heading center">OPT.
        </td>
        <td width="70%" class=" heading center">WORK TO BE DONE
        </td>
    </tr>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq11, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt11, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq12, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt12, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq13, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt13, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq14, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt14, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq15, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt15, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq16, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt16, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq17, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt17, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq18, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt18, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq19, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt19, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="blue">
        <td>{{ form_row(form.opteq20, {'attr': {'class': 'col-md-12'}}) }}</td>
        <td>{{ form_row(form.opt20, {'attr': {'class': 'col-md-12'}}) }}</td>
    </tr>
    <tr class="noborder">
        <td colspan="2"><span><i class="glyphicon glyphicon-unchecked"></i>Accept</span><span class="declined"><i class="glyphicon glyphicon-unchecked"></i>Decline</span><span  class="declined">_________________Initials</span></td>
    </tr>
</table>