{% set liclass="col-md-12 col-xs-12 col-sm-12 col-lg-12" %}
<table class="table table-striped">
    <tbody>
    <tr class="">
        <td class="table-col-1">Body Style:</td>
        <td class="table-col-2" itemprop="bodyType">{{ item.bodyStyle }}</td>
        <td class="table-col-1">Transmission:</td>
        <td class="table-col-2">{{ item.transmission }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Engine:</td>
        <td class="table-col-2">{{ item.engine }}</td>
        <td class="table-col-1">Stock #:</td>
        <td class="table-col-2">{{ item.stock_nr }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Exterior Colour:</td>
        <td class="table-col-2">{{ item.exteriorColor }}</td>
        <td class="table-col-1">Trim:</td>
        <td class="table-col-2">{{ item.trim }}</td>
    </tr>
    </tbody>
</table>
