<h1>Contact from {{ entity.email }} </h1>
 <h4>Contact Information:</h4>
    <p>First Name: {{ entity.custName }}</p>
    <p>Last Name: {{ entity.custLastName }}</p>
    <p>Contact Me By: {% if entity.contactBy == 0 %}Email{% elseif entity.contactBy == 1 %}Phone{% endif %}</p>
    <p>Email: {{ entity.email }}</p>
    <p>Phone: {{ entity.phone }}</p>
    <p>Comment: {{ entity.comment }}</p><p>Link to listing</p>
<h4>Item Information</h4>
    <p>Link to listing</p>
    <p><a href="{{ absolute_url(path('item_details', {'itemId': entity.itemId, 'description': entity.item.getUrlDescription()|url_encode()}))  }}">{{ entity.item.getTitle() }}</a></p>
    <p>Make</p>
    <p>{{ entity.item.make }}</p>
    <p>Model</p>
    <p>{{ entity.item.model }}</p>
    <p>Year</p>
    <p>{{ entity.item.year }}</p>
    <p>Date Submited</p>
    <p>{{ entity.datecreated|date('Y-m-d H:i') }}</p>
    <p>Status</p>
    <p>{{ entity.status }}</p>