<h2>Finance request from {{ entity.email }} </h2>
<h4>Contact Information:</h4>
<p>First Name: {{ entity.custName }}</p>
<p>Last Name: {{ entity.custLastName }}</p>
<p>Email: {{ entity.email }}</p>
<p>Phone: {{ entity.DayPhone }}</p>
<p>Text: {{ entity.MessageText }}</p>
{% include 'NumaDOADMSBundle:Emails:replyButton.html.twig' %}
{% include 'NumaDOADMSBundle:Emails:emailBodyFooter.html.twig' %}