<div>
<h1>Offer Trade In Form from {{ entity.email }} </h1>
 <h4>Contact Information:</h4>
    <p>First Name: {{ entity.custName }}</p>
    <p>Last Name: {{ entity.custLastName }}</p>
    <p>Sales Person: {{ entity.custOfficer }}</p>
    <p>Email: {{ entity.email }}</p>
    <p>Phone: {{ entity.phone }}</p>
    <h4>Trade In:</h4>
    <p>Make: {{ entity.make }}</p>
    <p>Model: {{ entity.model }}</p>
    <p>Year: {{ entity.year }}</p>
    <p>Km: {{ entity.kilometers }}</p>
    <p>Accessories:</p>
    <p>{{ entity.accessories }}</p>
    <p>Comments:</p>
    <p>{{ entity.comment }}</p>
   <h4>Item Information</h4>
    <p>Link to listing</p>
    <p><a href="{{ absolute_url(path('item_details', {'itemId': entity.itemId, 'description': entity.item.getUrlDescription()|url_encode()}))  }}">{{ entity.item.getTitle() }}</a></p>
    <p>Make</p>
    <p>{{ entity.item.make }}</p>
    <p>Model</p>
    <p>{{ entity.item.model }}</p>
    <p>Year</p>
    <p>{{ entity.item.year }}</p>
    <p>Date Submited</p>
    <p>{{ entity.datecreated|date('Y-m-d H:i') }}</p>
    <p>Status</p>
    <p>{{ entity.status }}</p>
</div>