<div>
    <h1>Offer Trade In Form from {{ entity.email }} </h1>
    <h4>Contact Information:</h4>
    <p>First Name: {{ entity.custName }}</p>
    <p>Last Name: {{ entity.custLastName }}</p>
    <p>Sales Person: {{ entity.custOfficer }}</p>
    <p>Offer Amt: {{ entity.offerAmt }}</p>
    <p>Email: {{ entity.email }}</p>
    <p>Phone: {{ entity.phone }}</p>
    <h4>Trade In:</h4>
    <p>Make: {{ entity.make }}</p>
    <p>Model: {{ entity.model }}</p>
    <p>Year: {{ entity.year }}</p>
    <p>Km: {{ entity.kilometers }}</p>
    <p>Accessories:</p>
    <p>{{ entity.accessories }}</p>
    <p>Comments:</p>
    <p>{{ entity.comment }}</p>
    {% include 'NumaDOADMSBundle:Emails:item.html.twig' %}
</div>