<h1>Quote from {{ entity.email }} </h1>
<h4>Contact Information:</h4>
<p>First Name: {{ entity.custName }}</p>
<p>Last Name: {{ entity.custLastName }}</p>
<p>Sales Person: {{ entity.custOfficer }}</p>
<p>Email: {{ entity.email }}</p>
<p>Phone: {{ entity.phone }}</p>
<p>Comment: {{ entity.comment }}</p>
<p>Accessories: {{ entity.accessories }}</p>
<p>Make: {{ entity.makeOnsite }}</p>
<p>Model: {{ entity.modelOnsite }}</p>
<p>Year: {{ entity.yearOnsite }}</p>