<h1>Service request from {{ entity.email }} </h1>
<h4>Contact Information:</h4>
<p>First Name: {{ entity.custName }}</p>
<p>Last Name: {{ entity.custLastName }}</p>
<p>Contact Me By: {% if entity.contactBy == 0 %}Email{% elseif entity.contactBy == 1 %}Phone{% endif %}</p>
<p>Email: {{ entity.email }}</p>
<p>Phone: {{ entity.phone }}</p>
<h4>Appointment Information:</h4>
<p>Preferred Appointment Date: {{ entity.dateAppointment|date('Y-m-d') }}</p>
<p>Preferred Appointment Time: {{ entity.timeAppointment|date('H:i') }}</p>
<h4>Service Information:</h4>
<p>Year: {{ entity.year }}</p>
<p>Make: {{ entity.make }}</p>
<p>Model: {{ entity.model }}</p>
<h4>Type of Service Needed:</h4>
<p>Comment: {{ entity.comment }}</p>
{% include 'NumaDOADMSBundle:Emails:emailBodyFooter.html.twig' %}