<h1>Test Drive from {{ entity.email }} </h1>
<h4>Contact Information:</h4>
<p>First Name: {{ entity.custName }}</p>
<p>Last Name: {{ entity.custLastName }}</p>
<p>Contact Me By: {% if entity.contactBy == 0 %}Email{% elseif entity.contactBy == 1 %}Phone{% endif %}</p>
<p>Email: {{ entity.email }}</p>
<p>Phone: {{ entity.phone }}</p>
<p>Best Date: {{ entity.dateDrive|date('Y-m-d') }}</p>
{% include 'NumaDOADMSBundle:Emails:item.html.twig' %}
