{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}

{% block content %}
<div id="searchtags"></div>
<div id="searchform">
    {{ form_start(form,{ 'attr': {'class': 'form-horizontal','role':'form','name':'advancedsearch'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.text,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.category,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6 choice','class':'col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.withPicture,{ 'attr': {'class': ''},'groupclass':'col-sm-12','class':'col-sm-12 checkbox','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.distance,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6 choice','class':'col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.zip,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.id,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-12','class':'form-group col-sm-6','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.postedFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.postedTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.feedFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.feedTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.status,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.city,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.stock,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.optionList,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-6'} }) }}
    {{ form_row(form.priceFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.priceTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.milleageFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.milleageTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.VIN,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.transmission,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6 choice','class':'col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.fueltype,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6 choice','class':'col-sm-12','label_attr':{'class': 'col-sm-2'} }) }}
    {{ form_row(form.yearFrom,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'form-group col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.yearTo,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.IW_NO,{ 'attr': {'class': 'form-control'},'groupclass':'col-sm-6','class':'col-sm-12','label_attr':{'class': 'col-sm-12'} }) }}
    {{ form_row(form.isSold,{ 'attr': {'class': ''},'groupclass':'col-sm-12','class':'col-sm-12 checkbox','label_attr':{'class': 'col-sm-12'} }) }}
    
        <div class="form-group">
            <button class="btn btn-default  col-sm-12 " type="submit">Search</button>
        </div>
    </div>
{% endblock %}