{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% block javascripts %}
    {{parent()}} 

{% endblock %}

{% block content %}
    <p>{{pagerfanta|length}} listinf found</p>
    <p>Number of listings per page:</p>
    <p>Sort by:</p>
    {% for item in pagerfanta %}

        {%if item.getCategory().getName()=='Marine'%}
            <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
        {%endif%}
        {% if item.getCategory().getName()=='Car' %}
            <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
        {% endif %}
        {{include("NumaDOASiteBundle:Search:oneBoatDetail.html.twig",{'item':item})}}
    {% endfor%}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}   
{% endblock %}
