{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% block javascripts %}
    {{parent()}} 

{% endblock %}

{% block content %}
<div class="searchResults">
    
    <ul class="pagination tmp">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <br>
    <p>{{pagerfanta|length}} listinf found</p>
    
    <p>Number of listings per page:</p>
    
    
    
    <select class="listingsNumber">
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
    </select>
    <p>Sort by:</p>
    {% for item in pagerfanta %}

        {%if item.getCategory().getName()=='Marine'%}
            <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
        {%endif%}
        {% if item.getCategory().getName()=='Car' %}
            <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
        {% endif %}
        {{include("NumaDOASiteBundle:Search:oneBoatDetail.html.twig",{'item':item})}}
    {% endfor%}
    {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}   
</div>
{% endblock %}
