{% extends 'NumaDOASiteBundle::home-layout.html.twig' %}
{% block javascripts %}
    {{parent()}} 

{% endblock %}

{% block content %}
    <div class="searchResults">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}   
        <p>{{pagerfanta|length}} listinf found</p>
        {#  
          <p>Number of listings per page:</p>
          
          
          
          <select class="listingsNumber">
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
          </select>
          <p>Sort by:</p>#}
        <div class="row">
            <div class="col-md-12">
                <div class="titles-details">
                    <ul class="list-inline">
                        <li>Mileage

                        <li>Price</li>
                        <li>Date</li>                                        
                    </ul>
                </div>
            </div>
        </div>
        {% for item in pagerfanta %}
            {#
                    {%if item.getCategory().getName()=='Marine'%}
                        <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
                    {%endif%}
                    {% if item.getCategory().getName()=='Car' %}
                        <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
                    {% endif %}
                    {% if item.getCategory().getName()=='Motosport' %}
                        <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
                    {% endif %}
                    {% if item.getCategory().getName()=='RVs' %}
                        <a href="{{path('item_details',{'itemId':item.id,'description':'testdes'})}}">{{ item.id }}    </a>
                    {% endif %}#}
            {{include("NumaDOASiteBundle:Search:oneBoatDetail.html.twig",{'item':item})}}
        {% endfor%}
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}   
    </div>
{% endblock %}
