{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    {% set images = item.getImages2() %}
    {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item.getUrlDescription()|url_encode()}) %}
    {% if searchQ is defined %}
        {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item.getUrlDescription()|url_encode(),'searchQ':searchQ}) %}
    {% endif %}
    {% set dealer = item.getDealer() %}
    {% if detailUrl is empty %}
        {% set detailUrl = "details" %}
    {% endif %}
    <div data="{{ item.id }}" id="item_{{ item.id }}" class="row item-row" url="{{ path('item_compare') }}">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="picture-detail">
                <a href="{{ detailUrl }}" class="thumbnail">
                    {{ component.image(item.getCoverImageSrc(), item.getTitle(), '', 'search_image',120, 90) }}
                </a>
            </div>
            <div class="shortDetails">
                <h4>
                    <a href="{{ detailUrl }}">
                        {{ item.getTitle() }} {% if (item.getSold()==1) %}<span
                                class="badge">Sold</span>{% endif %}
                    </a>
                </h4>

                <div>
                    {% if (item.StockNr) %}
                        Stock Number: {{ item.StockNr }};
                    {% endif %}
                    Listing ID
                    # {{ item.id }} {% if item.category is not empty %} in the category "{{ item.category.getName() }} {% endif %}
                    "
                </div>
                <div>Posted by {{ dealer }} </div>


                <span class="glyphicon glyphicon-earphone">{% if dealer %}{{ dealer.phone }}{% endif %}</span>
                <br>
                <a href="{{ detailUrl }}">View
                    Details {% if dealer and app.user and app.user.getId()==dealer.id %}({{ item.views }} views){% endif %}</a>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" class="saveAd"> Save Ad
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" class="compareAd"> Compare Ad
                    </label>
                </div>
                {% if (dealer and app.user and app.user.getId()==dealer.id) or is_granted("ROLE_DEALER_ADMIN") %}
                    <ul class="list-inline">
                        <li><a href="{{ path('items_edit',{'id':item.id}) }}">Edit</a></li>
                        {% if item.getActive() %}
                            <li><a href="{{ path('items_deactivate',{'id':item.id}) }}">Deactivate</a></li>
                        {% else %}
                            <li><a href="{{ path('items_activate',{'id':item.id}) }}">Activate</a></li>
                        {% endif %}
                        <li><a href="{{ path('items_delete',{'id':item.id}) }}">Delete</a></li>
                    </ul>
                {% endif %}

            </div>
            <div class="main-details">
                <ul class="list-inline">
                    <li>{{ item.getItemFieldByName('mileage')|number_format(0, '.',',') }}

                    <li><span class="price">{{ item.getPriceString() }}</span>
                    </li>
                    <li>{{ item.lastUpdated()|date('Y-m-d') }}</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="clear"></div>

{% endblock %}
