{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    {% set item = item.getData() %}
    {% set image = item['coverImageSrc'] %}
    {% set detailUrl = path('item_details', {'itemId': item.id, 'description': item['urlDescription']|url_encode()}) %}
    {% if searchQ is defined %}
        {% set detailUrl = path('item_details', {'itemId': item.id, 'description':  item['urlDescription']|url_encode(),'searchQ':searchQ}) %}
    {% endif %}
    {#{% set dealer = item.getDealer() %}#}
    {% if detailUrl is empty %}
        {% set detailUrl = "details" %}
    {% endif %}
    <div data="{{ item.id }}" id="item_{{ item.id }}" class="row item-row" url="{{ path('item_compare') }}">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="picture-detail">
                <a href="{{ detailUrl }}" class="thumbnail">
                    {{ component.image(image, item.title, '', 'search_image',120, 90) }}
                </a>
            </div>
            <div class="shortDetails">
                <h4>
                    <a href="{{ detailUrl }}">
                        {{ item.title }} {% if (item.sold==1) %}<span
                                class="badge">Sold</span>{% endif %}
                    </a>
                </h4>

                <div>
                    {% if (item.stock_nr) %}
                        Stock Number: {{ item.stock_nr }};
                    {% endif %}
                    Listing ID
                    # {{ item.id }} {% if item.categoryName is not empty %} in the category "{{ item.categoryName }} {% endif %}
                    "
                </div>
                <div>Posted by {{ item.dealerName }} </div>


                <span class="glyphicon glyphicon-earphone">{% if item.dealerPhone is not empty %}{{ item.dealerPhone }}{% endif %}</span>
                <br>
                <a href="{{ detailUrl }}">View
                    Details {% if item.dealerName is not empty and app.user and app.user.getId()==item.dealer_id %}({{ item.views }} views){% endif %}</a>

                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" class="saveAd"> Save Ad
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        <input type="checkbox" class="compareAd"> Compare Ad
                    </label>
                </div>
                {% if (dealer and app.user and app.user.getId()==item.dealer_id) or is_granted("ROLE_DEALER_ADMIN") or is_granted("ROLE_BUSINES") %}
                    <ul class="list-inline">
                        <li><a href="{{ path('items_edit',{'id':item.id}) }}">Edit</a></li>
                        {% if item.active %}
                            <li><a href="{{ path('items_deactivate',{'id':item.id}) }}">Deactivate</a></li>
                        {% else %}
                            <li><a href="{{ path('items_activate',{'id':item.id}) }}">Activate</a></li>
                        {% endif %}
                        <li><a href="{{ path('items_delete',{'id':item.id}) }}">Delete</a></li>
                    </ul>
                {% endif %}

            </div>
            <div class="main-details">
                <ul class="list-inline">
                    <li>{{ item.mileage|number_format(0, '.',',') }}

                    <li><span class="price">{{ item.priceString }}</span>
                    </li>
                    <li>{{ item.lastUpdated|date('Y-m-d') }}</li>
                </ul>
                <div class="search-item-logo">


                    {#{% if dealer is defined and dealer is not empty %}#}
                        {#<a href="{{ path("homepage") }}" class="logo">#}
                            {{ component.image(item.dealerLogo, item.dealerName, 'logo-img', 'search_image',"","100px") }}
                        {#</a>#}
                    {#{% endif %}#}
                </div>
            </div>

        </div>
    </div>
    <div class="clear"></div>

{% endblock %}
