{% block content %}

<div class="picture_detail">
    <span class="fieldValue fieldValuePictures">
        <a href="#">
            
{#                {% if details['Image List'] is empty  %}
                <img alt="No photos" src="http://www.cjvr.dealersonair.com/admin/../apps/adminPanel/templates/default/_files/no_image_available_small.png">
                {% else %} 
                <img alt="{{details.Year}} {{details.Make}}" src="{{details['Image List'][0]}}" width="100" height="100">
                {%endif%}#}
                
            </a>
        </span>
    </div>
    <div class="middle_details">
        
{#        <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>#}
        
        <h4><b>{{item.getItemFieldByName('year')}} {{item.getItemFieldByName('boat make')}}</b></h4>
         <ul>
            <li>Listing ID # {{item.id}} in the category "{{item.category}} "</li>
            <li>Posted by {{item.getItemFieldByName('username')}} </li>
            <li class="actionSelector">
                <a href="#" class="caption">Actions</a>
                <ul class="actionList" style="">
                        <li><a href="#">Add a comment</a></li>
                    {% if item.active==1   %}
                        <li><a href="{{path('items_deactivate', {'id': item.id}) }}">Deactivate</a></li>
                    {%else%}
                        <li><a href="{{path('items_activate', {'id': item.id}) }}">Activate</a></li>
                    {%endif%}
                        
                    {%if item.moderationStatus==1   %}
                        <li><a href="{{path('items_reject', {'id': item.id}) }}">Reject</a></li>
                    {%else%}
                        <li><a href="{{path('items_approve', {'id': item.id}) }}">Approve</a></li>
                    {%endif%}
                        <li><a href="{{path('items_edit', {'id': item.id}) }}">Edit</a></li>
                        <li><a href="{{path('items_delete', {'id': item.id}) }}">Delete</a></li>
                </ul>
                <div class="clear"></div>
        </ul>
    </div>
    <div class="right_details">
        <ul>
            <li>
                <span class="fieldValue fieldValueActive active">{% if item.active==1   %}<span class="active">Active</span>{%else%}<span class="inactive">Inactive</span>{%endif%}</span> 
                and <span class="fieldValue fieldValueModerationStatus approved">{% if item.moderationStatus==1   %}<span class="approved">Approved</span> {%else%}<span class="rejcted">Rejected</span>{%endif%}</span>							</li>
            <li>0 pictures</li>
            <li>0 comments</li>
            <li>{{item.views}} views</li>
            <li>Activated on {% if item.activationDate is defined   %}{{item.activationDate}}{%endif%}</li>
        </ul>
    </div>
<div class="clear"></div>
{% endblock %}