{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}


{% block content %}
    {% if coupons|length>0 %}

        <h2>{{ displayComponent('page_title')|raw }}</h2>
        {{ displayComponent('page_content')|raw }}
        {% for coupon in coupons %}
            <div class="coupon-container">
                <div class="coupon-name"><h3>{{ coupon.name }}</h3></div>
                <div class="coupon-image"><img id="coupon-image-{{ coupon.id }}" src="{{ asset(coupon.photo) }}"/></div>
                <div class="coupon-description">{{ coupon.description() }}
                    <a href="#" class="coupon-print">Print this coupon</a>
                    {#<a href="#">Email this coupon</a>#}
                </div>

            </div>

        {% endfor %}
        <script type="text/javascript" src="{{ asset("js/printElement.js") }}"></script>
        <script>

            $(document).ready(function () {

                $(".coupon-print").click(function (event) {
                    console.log("ready!");
                    image = $(this).parent().parent().find('.coupon-image img');
                    oldimage = image;
                    image.removeAttr('width');
                    image.printElement();
                    image.attr('width', '300px');
                });

            });


        </script>
    {% else %}
        <h2>No Saving Coupons for </br>{{ dealer.name }}</h2>
    {% endif %}
{% endblock %}