{% extends 'NumaDOASiteBundle::listing-layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block form_label_class -%}
    col-sm-3
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-9
{%- endblock form_group_class %}

{% block content %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {% set savesearch_content = displayComponent('savesearch_content',"HTML") %}
    <div class="page-text">
        {% if  savesearch_content is not empty %}
            {{ savesearch_content|raw }}
        {% else %}
            <h1>Carfinder</h1>
            <p>Can't find what you are looking for in our inventory? Are you looking for something specific, then complete our Carfinder form and we will contact you when something similar comes in or when we are able to locate the vehicle you want.</p>
        {% endif %}
    </div>
    {{ form_errors(form) }}
    {{ form_start(form) }}

    {{ form_row(form.bodyStyle) }}
    {{ form_row(form.make) }}
    {{ form_row(form.model) }}
    {{ form_row(form.yearFrom) }}
    {{ form_row(form.yearTo) }}
    {{ form_row(form.custName) }}
    {{ form_row(form.period) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form.contact_by) }}
    {{ form_row(form.comment) }}

    <div class="g-recaptcha" data-sitekey="6LcdLSoTAAAAAIzrwX5_EqelrxwlTu8r_eMhjUS2"></div>

    {{ form_end(form) }}

{% endblock %}
