<ul class="boat_location">
<li>Charter Area: {{item.generalDataYearBuiltFrom}} / Length: {{item.measureLoa}} {{item.measureLoaUnit}}</li>
<li>Charter Country: {{item.passengersCabins}} / Berths: {{item.passengersBerths}}</li>
<li>Port: {{item.engineEngineQuantity}} x {{item.engineHorsePower}}</li>

</ul>