<table class="table table-striped">

    <tbody>
    <tr class="">
        <td class="table-col-1">Trailer type:</td>
        <td class="table-col-2" itemprop="bodyType">{{ item.getSubCategorytype() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Stock #:</td>
        <td class="table-col-2">{{ item.getStockNr() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Trailer length:</td>
        <td class="table-col-2">{{ item.length() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Trailer width:</td>
        <td class="table-col-2">{{ item.width() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Description :</td>
        <td class="table-col-2">{{ item.remotes() }}</td>
    </tr>
    </tbody>
</table>
