<table class="table table-striped">
    <tbody>
    <tr class="">
        <td class="table-col-1">RV Type:</td>
        <td class="table-col-2" itemprop="bodyType">{{ item.getType() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Stock Number:</td>
        <td class="table-col-2">{{ item.getStockNr() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Sleeps:</td>
        <td class="table-col-2">{{ item.getSleeps() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Slide Outs:</td>
        <td class="table-col-2">{{ item.getSlideOuts() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Mileage:</td>
        <td class="table-col-2">{{ item.getMileage() }}</td>
    </tr>
    <tr class="">
        <td class="table-col-1">Exterior Color:</td>
        <td class="table-col-2">{{ item.getExteriorColor() }}</td>
    </tr>
    </tbody>
</table>