{#{% extends is_granted('ROLE_BUSINES')#}
{#? 'NumaDOASiteBundle::home-layout.html.twig'#}
{#: 'NumaDOAAdminBundle::layout.html.twig' %}#}
{% extends is_granted('ROLE_BUSINES')
? (is_granted('ROLE_DMS_USER')?'NumaDOADMSBundle::layout.html.twig':'NumaDOASiteBundle::home-layout.html.twig')
:(app.request.get('_dashboard')=='DMS'?'NumaDOADMSBundle::layout.html.twig':'NumaDOAAdminBundle::layout.html.twig') %}
{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts    '@colorbox_js' '@sortable_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <div class="box box-default">
        <h1>Listing Images Management for {{ item.getTitle() }}</h1>
        {% if(app.request.get('_dashboard')=='DMS') %}
            <a href="{{ path('dms_items_edit',{id:item.id}) }}">Back to listing ({{ item.getTitle() }} {{ item.id }}
                )</a>
        {% else %}
            <a href="{{ path('items_edit',{id:item.id}) }}">Back to listing ({{ item.getTitle() }} {{ item.id }})</a>
        {% endif %}
        {#{{ form_end(addimages) }}#}
        <form action="{{ path('item_images_upload',{id:item.id}) }}" method="post" class="dropzone" id="drop">
        </form>

        <div id="item-images">
            <div class="row">
                {{ form_start(addVideoForm) }}
                <div class="col-lg-6">
                    <div class="input-group">

                        {{ form_widget(addVideoForm.url) }}
                        <span class="input-group-btn">
                            {{ form_widget(addVideoForm.send) }}
                        </span>
                    </div>
                </div>
                {{ form_end(addVideoForm) }}
            </div>
            <div>Images Total: {{ images|length }}</div>
            {% if(images|length>0) %}
                <div class="images-action">
                    <a href="#" id="select-all"><i class="glyphicon glyphicon-ok"></i>Select All</a>
                    <a id="deselect-all" href="#"><i class="glyphicon glyphicon-remove"></i> Deselect All</a>
                    <a id="delete-selected" href="#"><i class="glyphicon glyphicon-trash"></i>Delete Selected</a>
                </div>
                <h1>Images list</h1>
                <h3>
                    <small>To rearrange your photos, just drag and drop</small>
                </h3>
                <div class="box-body table-responsive no-padding">
                    <ul class='list' id="imagelist">
                        {% for image in images %}

                            <li class="row" id="image-{{ image.id }}" data-id="{{ image.id }}"
                                data-order="{{ image.sortOrder }}">
                                <div class="col-md-2 imageindex">
                                    {% if(loop.first) %}
                                        Cover Image:
                                    {% else %}
                                        {{ image.sortOrder }}
                                    {% endif %}
                                </div>
                                <div class="col-md-1"><input type="checkbox" name="image-{{ image.id }}"
                                                             value="{{ image.id }}"
                                                             class="image-checkbox">
                                </div>
                                <div class="col-md-2">
                                    {% if  "youtube" in image.getFieldStringValue() %}
                                        <a class="colorbox"
                                           href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&wmode=transparent">
                                            <img
                                                    src="{{ getYoutubeThumb(getYoutubeId(image.getFieldStringValue())) }}"
                                                    alt="image"
                                                    width="120px"
                                                    class="thumbnail"/>
                                        </a>
                                    {% else %}
                                        <a class="colorbox" href="{{ asset(image.getFieldStringValue()) }}">
                                            {{ component.image(image.getFieldStringValue(), '', 'thumbnail', 'search_image',"120px") }}
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-md-3">
                                    <a data-id="{{ image.id }}" class="delete-single" href="#">
                                        <i class='glyphicon glyphicon-trash'></i>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            Dropzone.options.drop = {
                acceptedFiles: 'image/*',
                init: function () {
                    this.on("queuecomplete", function (file) {
                        location.reload();
                    });
                    this.on("sending", function (file, xhr, formData) {
                        // Will send the filesize along with the file as POST data.
                        formData.append("order", Date.now());
                    });
                }
            };
            var list = document.getElementById("imagelist");
            Sortable.create(list, {
                onEnd: function (/**Event*/evt) {

                    updateImages();
                },
            }); // That's all.

        });
        $("#select-all").click(function (e) {
            e.preventDefault();
            $(".image-checkbox").prop('checked', true);
        });
        $("#deselect-all").click(function (e) {
            e.preventDefault();
            $(".image-checkbox").prop('checked', false);
        });

        $("#delete-selected").click(function (ev) {
            ev.preventDefault();
            var sList = {};
            i = 0;
            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    i++;
                    ind = "i" + i;
                    sList[ind] = $(this).val();
                }

            });
            console.log(sList);
            $.ajax(
                    {
                        url: '{{ path('itemfield_delete',{'id':0,'urlredirect':app.request.uri }) }}',
                        type: "POST",
                        data: sList,
                        success: function (data, textStatus, jqXHR) {
                            location.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Error");
                        }
                    });
        });

        $(".delete-single").click(function (ev) {
            ev.preventDefault();
            id = $(this).data('id');
            console.log(id);
            $.ajax(
                    {
                        url: '{{ path('itemfield_delete') }}',
                        type: "POST",
                        data: {'id': id},
                        success: function (data, textStatus, jqXHR) {

                            location.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Error");
                        }
                    });
        });

        $("#saveorder").click(function (ev) {
            ev.preventDefault();
            updateImages();
        });

        $(document).ready(function () {
            $('a.colorbox').colorbox({maxWidth: '95%', maxHeight: '95%', rel: 'group1'});
        });

        var updateImages = function () {
            var imagelist = $("#imagelist");
            var orders = {};
            var images_id = [];
            $("#imagelist li").each(function (index) {
                //console.log( index + ": " + $( this ).text() );

                if (index == 0) {
                    index = "Cover Image:";
                }
                $(this).find(".imageindex").html(index);
                console.log($(this).find(".imageindex").html());
                id_image = $(this).data("id") + " ";
                order = index;
                orders[id_image] = order;
                //images_id.push(id_image);
                //setImageOrder(id_image,order);

            });
            console.log(orders);
            setImageOrder(orders);
            //console.log(images_id);
        };
        var setImageOrder = function (orders) {
            console.log(JSON.stringify(orders));
            $.ajax(
                    {
                        url: "{{ path('item_image_setorder') }}",
                        type: "POST",
                        data: {"orders": JSON.stringify(orders)},
                        success: function (data, textStatus, jqXHR) {
                            //data: return data from server
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            //if fails
                        }
                    });

        };

    </script>
{% endblock %}