{% if image is defined and image is not empty %}
    {% if  "http://" not in image.fieldStringValue %}
        <a href="{{ path('items_edit',{'id':id}) }}"><img
                    src="{{ image.fieldStringValue|imagine_filter('search_image') }}" alt="image"/></a>
    {% else %}
        <a href="{{ path('items_edit',{'id':id}) }}"><img src="{{ image.fieldStringValue }}" alt="image" width="120px"/></a>
    {% endif %}
{% else %}
    <a href="{{ path('items_edit',{'id':id}) }}"><img src="{{ asset('images/no_image_available_small.png') }}"
                                                      alt="image" width="120px"/></a>
{% endif %}