{% extends is_granted('ROLE_BUSINES')
    ? 'NumaDOASiteBundle::home-layout.html.twig' 
    : 'NumaDOAAdminBundle::layout.html.twig' %}
{% form_theme addimages 'bootstrap_3_layout.html.twig' %}
{% block content %}
    <a href="{{path('items_edit',{id:item.id})}}">Back to listing ({{item.id}})</a>
    {{ form_start(addimages) }}
    {{ form_errors(addimages) }}
    <div class="file-upload">
        {{ form_row(addimages.Picture1) }}
    </div>

    {{ form_end(addimages) }}


    <table class='table'>
        {% for image in images %}
            <tr>

                <td>
                    {% if  "http" not in image.getFieldStringValue() %}
                        <img src="{{image.getFieldStringValue()|imagine_filter('search_image')}}" alt="image" />
                        {% else %}
                        <img src="{{image.getFieldStringValue()}}" alt="image" width="120px"/>
                        {%endif %}
                </td>
                <td><a href="{{path('itemfield_delete',{'id':image.id,'urlredirect':app.request.uri })}}"><i class='glyphicon glyphicon-trash'></i></a></td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}