{% extends is_granted('ROLE_BUSINES')
    ? 'NumaDOASiteBundle::home-layout.html.twig' 
    : 'NumaDOAAdminBundle::layout.html.twig' %}

{% block content %}
    {% set action="Add new listing" %}
        {% if entity.id is not empty %}
            {% set action="Edit listing #"~entity.id~" , "~entity.getMake()~" "~entity.getModel() %}
                {% endif %}
                    <h1>{{action}}</h1>
                    <div class="listingActions">
                        This listing is	
                        {% if entity.active %}
                            <span class="">Active</span>
                        {%else%}
                            <span class="">InActive</span>
                        {%endif%}
                         and 
                         <span class="fieldValue fieldValueModerationStatus approved">{{entity.moderationStatus}}</span>	
                        | <a href="#" class="itemControls deactivate">Deactivate</a>
                        | <a href="#" class="itemControls view">View Listing</a>
                        {% if entity.id is not empty %}
                        | <a href="{{path('item_images',{id:entity.id})}}">Edit Pictures ({{entity.getCountImages()}})</a>
                        {% endif %}
                        </div>
                        <p>Fields marked with an asterisk (*) are mandatory.</p>
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row (form._token) }}
                        {{ form_row(form.moderation_status) }}
                        {{ form_row(form.Dealer) }}
                        {{ form_row(form.Category) }}
                        {{ form_row(form.keywords) }}
                        {{ form_row(form.featured) }}
                        {{ form_row(form.price) }}
                        {{ form_row(form.bodyStyle) }}
                        {{ form_row(form.make) }}
                        {{ form_row(form.transmission) }}
                        {{ form_row(form.VIN) }}
                        {{ form_row(form.mileage) }}
                        {{ form_row(form.stockNr) }}
                        {{ form_row(form.status) }}
                        {{ form_row(form.agApplication) }}
                        {{ form_row(form.floorPlan) }}
                        {{ form_row(form.year) }}
                        {{ form_row(form.activation_date) }}
                        {{ form_row(form.expiration_date) }}
                        {{ form_row(form.auto_extend) }}
                        {{ form_row(form.active) }}
                        {{ form_row(form.feature_highlighted) }}
                        {{ form_row(form.feature_slideshow) }}
                        {{ form_row(form.feature_youtube) }}


                        <ul>
                            {% for field in form.Itemfield %}
                                <li>
                                    <span>
                                        {{ form_row(field.field_name) }}
                                        {{ field.vars.value.getFieldName }}
                                    </span>
                                    {{ form_row(field.field_type) }}
                                    <span>

                                        {% if field.field_string_value is defined %}
                                            {{ form_widget(field.field_string_value) }}
                                        {% endif %}
                                        {% if field.field_integer_value is defined %}
                                            {{ form_widget(field.field_integer_value) }}
                                        {% endif %}
                                        {% if field.field_boolean_value is defined %}
                                            {{ form_widget(field.field_boolean_value) }}
                                        {% endif %}
                                    </span>
                                </li>

                            {% endfor %}
                        </ul>



                        <ul class="record_actions">
                            <li>
                                <button class="btn btn-primary">
                                    Submit
                                </button>
                            </li>
                            <li>
                                <a href="{{ path('items') }}" class="btn btn-primary">
                                    Back to the list
                                </a>
                            </li>

                        </ul>
                        {% endblock %}
