{% block content %}

    <div class="form-group">
        {{ form_label(form.make, 'make', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.make, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.model, 'model', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.model, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.stockNr, 'stockNr', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.stockNr, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>        
    <div class="form-group">
        {{ form_label(form.agApplication, 'Ag Application', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.agApplication, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.type, 'Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.price, 'price', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.mileage, 'mileage', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.mileage, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.driveType, 'Drive Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.driveType, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engine, 'Engine', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.horsepower, 'horsepower`', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.horsepower, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.ofHours, 'Hours', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.ofHours, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.transmission, 'Transmission', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.operatorStation, 'Operator Station', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.operatorStation, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.steeringType, 'Steering', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.steeringType, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.speedForward, 'Speed forward', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.speedForward, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.speedReverse, 'Speed Reverse', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.speedReverse, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tireSize, 'Speed Reverse', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.tireSize, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tireEquipment, 'Tire Equipment', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.tireEquipment, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.cuttingWidth, 'Cutting Width', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.cuttingWidth, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.VIN, 'VIN', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.VIN, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.iwNo, 'IW_NO', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.iwNo, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>            
{% endblock %}
