
{% block content %}


    <div class="form-group">
        {{ form_label(form.stockNr, 'stockNr', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.stockNr, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.make, 'make', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.make, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.model, 'model', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.model, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.trim, 'trim', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.trim, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.bodyStyle, 'bodyStyle', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.bodyStyle, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.bodyDescription, 'bodyDescription', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.bodyDescription, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.exteriorColor, 'exteriorColor', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.exteriorColor, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.interiorColor, 'interiorColor', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.interiorColor, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.doors, 'doors', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.doors, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engine, 'Engine', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.transmission, 'Transmission', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.driveType, 'Drive Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.driveType, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.VIN, 'VIN', { 'label_attr': {'class': 'col-sm-3'} }) }}   
        <div class="col-sm-9">                            
            {{ form_widget(form.VIN, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>


{% endblock %}
