{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}
    {{ component.listingFieldInput(form.make,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.model,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.retail_price,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.price,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.bi_weekly,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.stockNr,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.VIN,"Boat VIN", "form-group","col-sm-9") }}
    <div class="form-group">
        {{ form_label(form.type, 'Boat Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ component.listingFieldInput(form.length,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.beam,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.weight,"Boat Weight", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.hullDesign,"", "form-group","col-sm-9") }}
    <div class="form-group">
        {{ form_label(form.driveType, 'Drive Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.driveType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engine, 'Engine Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ component.listingFieldInput(form.engine_VIN,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.horsepower,"", "form-group","col-sm-9") }}
    <div class="form-group">
        {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.transmission, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.exteriorColor, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.exteriorColor, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.interiorColor, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.interiorColor, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ component.listingFieldInput(form.passengers,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.trailer,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.trailer_VIN,"", "form-group","col-sm-9") }}
{% endblock %}
