
{% block content %}


    <div class="form-group">
        {{ form_label(form.make, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.make, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.model) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.model) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.type, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.stockNr) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.stockNr) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.retail_price) }}
        <div class="col-sm-9">
            {{ form_widget(form.retail_price) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.price) }}
        <div class="col-sm-9">
            {{ form_widget(form.price) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.mileage) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.mileage) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engine, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engineType) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.engineType) }}
        </div>
    </div>                                
    <div class="form-group">
        {{ form_label(form.displacement) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.displacement) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.torque) }}
        <div class="col-sm-9">
            {{ form_widget(form.torque) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.compression_ratio) }}
        <div class="col-sm-9">
            {{ form_widget(form.compression_ratio) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.ofHours) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.ofHours) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelSystem) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.fuelSystem) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelCapacity) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.fuelCapacity) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.ignition) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.ignition) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.driveType) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.driveType) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.gears) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.gears) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.brakes) }}
        <div class="col-sm-9">
            {{ form_widget(form.brakes) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.wheels) }}
        <div class="col-sm-9">
            {{ form_widget(form.wheels) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.tire_size,"Tires") }}
        <div class="col-sm-9">
            {{ form_widget(form.tire_size) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.frame) }}
        <div class="col-sm-9">
            {{ form_widget(form.frame) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.suspension) }}
        <div class="col-sm-9">
            {{ form_widget(form.suspension) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.ground_clereance) }}
        <div class="col-sm-9">
            {{ form_widget(form.ground_clereance) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.passengers) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.passengers) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.exteriorColor, 'Exterior Color', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.exteriorColor, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.coolingSystem, 'Cooling System', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.coolingSystem, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.length) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.length) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.width) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.width) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.trailer) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.trailer) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.transmission, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>    
    <div class="form-group">
        {{ form_label(form.iwNo) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.iwNo) }}
        </div>
    </div>  

{% endblock %}
