{% block content %}
 
                        <div class="form-group">
                            {{ form_label(form.year, 'Year', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.year, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.make, 'Make', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.make, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.model, 'Model', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.model, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.price, 'Price', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.stockNr, 'Stock Number', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.stockNr, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.type, 'Boat Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.length, 'Length(ft)', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.length, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.beam, 'Beam', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.beam, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.boatWeight, 'Boat Weight', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.boatWeight, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.hullDesign, 'Hull  Design', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.hullDesign, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.steeringType, 'Steering type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.steeringType, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.driveType, 'Drive Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.driveType, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.engine, 'Engine Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.horsepower, 'Horsepower', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.horsepower, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.transmission, 'Transmission', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.exteriorColor, 'exteriorColor', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.exteriorColor, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.interiorColor, 'interiorColor', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.interiorColor, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.passengers, 'Passengers', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.passengers, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.trailer, 'Trailer', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.trailer, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.battery, 'Battery', { 'label_attr': {'class': 'col-sm-3'} }) }}   
                            <div class="col-sm-9">                            
                                {{ form_widget(form.battery, { 'attr': {'class': 'form-control'} }) }}  
                            </div>
                        </div>
                        

                    {% endblock %}
