
{% block content %}


    <div class="form-group">
        {{ form_label(form.make, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.make, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.model) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.model) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.floorPlan) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.floorPlan) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.class) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.class) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.stockNr) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.stockNr) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.retail_price) }}
        <div class="col-sm-9">
            {{ form_widget(form.retail_price) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.price) }}
        <div class="col-sm-9">
            {{ form_widget(form.price) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.mileage) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.mileage) }}
        </div>
    </div>       
    <div class="form-group">
        {{ form_label(form.exteriorColor, 'Exterior Color') }}
        <div class="col-sm-9">                            
            {{ form_widget(form.exteriorColor) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.interiorColor, 'Interior Color') }}
        <div class="col-sm-9">                            
            {{ form_widget(form.interiorColor) }}
        </div>
    </div>    
    <div class="form-group">
        {{ form_label(form.engine, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.type, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.transmission, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}  
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.driveType, 'Drive Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.driveType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.chassisType, 'Chassis Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.chassisType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.sleeps, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.sleeps, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.slideOuts) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.slideOuts) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fresh_water_capacity) }}
        <div class="col-sm-9">
            {{ form_widget(form.fresh_water_capacity) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fresh_water_capacity) }}
        <div class="col-sm-9">
            {{ form_widget(form.fresh_water_capacity) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.black_water_capacity) }}
        <div class="col-sm-9">
            {{ form_widget(form.black_water_capacity) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.gray_water_capacity) }}
        <div class="col-sm-9">
            {{ form_widget(form.gray_water_capacity) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.length) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.length) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.weight,'Dry Weight') }}
        <div class="col-sm-9">                            
            {{ form_widget(form.weight) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.height) }}
        <div class="col-sm-9">
            {{ form_widget(form.height) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.flooring) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.flooring) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.mpgCity) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.mpgCity) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.mpgHighway) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.mpgHighway) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.iwNo) }}
        <div class="col-sm-9">                            
            {{ form_widget(form.iwNo) }}
        </div>
    </div>  
{% endblock %}
