{% import "NumaDOASiteBundle::components.html.twig" as component %}
{% block content %}


    <div class="form-group">
        {{ form_label(form.make, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.make, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ component.listingFieldInput(form.model,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.floorPlan,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.class,"", "form-group","col-sm-9") }}
    <div class="form-group">
        {{ form_label(form.type, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ component.listingFieldInput(form.stockNr,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.VIN,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.retail_price,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.price,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.mileage,"", "form-group","col-sm-9") }}
    {#{{ component.listingFieldInput(form.exteriorColor,"Exterior Color", "form-group","col-sm-9") }}#}
    <div class="form-group">
        {{ form_label(form.exteriorColor, 'Exterior Color', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.exteriorColor, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {#{{ component.listingFieldInput(form.interiorColor,"Interior Color", "form-group","col-sm-9") }}#}
    <div class="form-group">
        {{ form_label(form.interiorColor, 'Interior Color', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.interiorColor, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engine, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.engine, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.fuelType, 'Fuel Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.fuelType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.transmission, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.transmission, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.driveType, 'Drive Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.driveType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.chassisType, 'Chassis Type', { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.chassisType, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.sleeps, null, { 'label_attr': {'class': 'col-sm-3'} }) }}
        <div class="col-sm-9">
            {{ form_widget(form.sleeps, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {{ component.listingFieldInput(form.slideOuts,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.fresh_water_capacity,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.black_water_capacity,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.gray_water_capacity,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.length,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.weight,"Dry Weight", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.height,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.flooring,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.mpgCity,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.mpgHighway,"", "form-group","col-sm-9") }}
    {{ component.listingFieldInput(form.iwNo,"", "form-group","col-sm-9") }}
{% endblock %}
