{% if items is defined and items is not empty %}
    <div class="company-logos">

        <div class="row">
            {% for item in items %}
                {% set images = item.getImages() %}
                {% set desc = item.getUrlDescription() %}
                <a class="col-md-4 featured-ads-item" href="{{ path('item_details', {'dealer':'aaa','itemId': item.id, 'description': desc}) }}">{{ shortWord(item.year~" "~item.make~" "~item.model,16)}}</br>

                    {% set image = item.getImages2()|first %}
                    {% if images is empty %}
                        <img class="thumbnail" alt="No photos"
                             src="{{ asset('images/no_image_available_small.png') }}"/>
                    {% else %}
                        {% set image = item.getImages()|first["stringvalue"] %}
                        {% if ('http' not in image) %}
                            <img class="thumbnail" alt="{{ item.getMake() }} {{ item.getModel() }}"
                                 src="{{ image|imagine_filter('featured_forest') }}"/>
                        {% else %}
                            <img class="thumbnail" alt="{{ item.getMake() }} {{ item.getModel() }}" src="{{ image }}"
                                 width="200px" height="150px"/>
                        {% endif %}

                    {% endif %}
                    <span class="text-center price">{{ item.getPriceString() }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}