<div class="header">

    <div class="logo">
        {% if dealer is defined and dealer is not empty %}
            <a href="{{ path("homepage") }}">
                {{ component.image(dealer.logoUrl, dealer.name, '', 'sea_logo_home') }}
            </a>
        {% endif %}
    </div>

    <div class="top-menu">
            {%  set topmenu = displayComponent('topmenu',"template","dealer") %}
        {% if topmenu != 'enter this value of component in DMS' %}
            {{ include(template_from_string(topmenu)) }}
        {% endif %}
        {% if topmenu == 'enter this value of component in DMS' %}
        <ul>
            <li><a href="{{ path('search_by_type',{'category': 'motorsport','typeSlug': 'quads-atvs'}) }}">ATVs</a></li>
            <li><a href="{{ path('search_by_type',{'category': 'motorsport','typeSlug': 'side-by-side'}) }}">Side &times; Sides</a></li>
            <li><a href="{{ path('search_by_type',{'category': 'motorsport','typeSlug': 'snowmobiles'}) }}">Snowmobiles</a></li>
            <li><a href="{{ path('search_by_type',{'category': 'motorsport','typeSlug': 'dirt-motocross'}) }}">Boats</a></li>
            <li><a href="{{ path('search_by_type',{'category': 'motorsport','typeSlug': 'golf-carts'}) }}">Golf Carts</a></li>
            <li><a href="{{ path('search_by_type',{'category': 'motorsport','typeSlug': 'motor-cycles'}) }}">Turf</a></li>
        </ul>
        {% endif %}
    </div>

    <div class="social-media">
        {% if dealer is defined and dealer.siteFacebook is not null %}
        <a class="facebook" href="{{ dealer.siteFacebook }}">
            {% image 'bundles/numadoasite/Forest/images/facebook.png' %}
            <img src="{{ asset_url }}" alt="Facebook"/>
            {% endimage %}
        </a>
        {% endif %}
        {% if dealer is defined and dealer.siteTwitter is not null %}
        <a class="twitter" href="{{ dealer.siteTwitter }}">
            {% image 'bundles/numadoasite/Forest/images/twitter.png' %}
            <img src="{{ asset_url }}" alt="Twitter"/>
            {% endimage %}</a>
        {% endif %}
        {% if dealer is defined and dealer.siteGoogle is not null %}
        <a class="google" href="{{ dealer.siteGoogle }}">
            {% image 'bundles/numadoasite/Forest/images/google.png' %}
            <img src="{{ asset_url }}" alt="Google"/>
            {% endimage %}</a>
        {% endif %}
        {% if dealer is defined and dealer.siteYoutube is not null %}
        <a class="youtube" href="{{ dealer.siteYoutube }}">
            {% image 'bundles/numadoasite/Forest/images/youtube.png' %}
            <img src="{{ asset_url }}" alt="Youtube"/>
            {% endimage %}</a>
        {% endif %}
        {% if dealer is defined and dealer.siteInstagram is not null %}
        <a class="instagram" href="{{ dealer.siteInstagram }}">
            {% image 'bundles/numadoasite/Forest/images/instagram.png' %}
            <img src="{{ asset_url }}" alt="Instagram"/>
            {% endimage %}</a>
        {% endif %}
    </div>

    <div class="contact-info">

        <a class="address" href="">{% if dealer is defined  %}{{ dealer.address }}, {{ dealer.city }}, {{ dealer.state }}{% endif %}</a>

        <div class="phone">{% if dealer is defined  %}{{ dealer.phone }}{% endif %}</div>

    </div>

</div>