{% import "NumaDOASiteBundle::components.html.twig" as component %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0"/>

    <title>Dealers on Air</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

        {% stylesheets '@theme_forest_css'  filter='cssrewrite' output='css/*.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    {% endblock %}

    {% block javascripts %}
        {% javascripts '@bootstrapx_js' 'js/jssor/jssor.slider.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery(".mobile-menu ul ul").hide();
                /* hide sublinks */
                jQuery(".separator").click(function () {
                    jQuery(this).next().slideToggle(300);
                    /* display sublinks */
                });
            });
        </script>

    {% endblock %}
</head>

<body>

<div id="wrapper">

    <div class="header-wrapper">

        <div class="header">

            <div class="logo"><a href="">
                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/logo.png' %}
                    <img src="{{ asset_url }}" alt="Example"/>
                    {% endimage %}
                </a></div>

            <div class="top-menu">

                <ul>
                    <li><a href="">ATVs</a></li>
                    <li><a href="">Side &times; Sides</a></li>
                    <li><a href="">Snowmobiles</a></li>
                    <li><a href="">Boats</a></li>
                    <li><a href="">Golf Carts</a></li>
                    <li><a href="">Turf</a></li>
                </ul>

            </div>

            <div class="social-media">

                <a class="facebook" href="">
                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/facebook.png' %}
                    <img src="{{ asset_url }}" alt="Facebook"/>
                    {% endimage %}
                </a>
                <a class="twitter" href="">                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/twitter.png' %}
                    <img src="{{ asset_url }}" alt="Twitter"/>
                    {% endimage %}</a>
                <a class="google" href="">                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/google.png' %}
                    <img src="{{ asset_url }}" alt="Google"/>
                    {% endimage %}</a>
                <a class="youtube" href="">                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/youtube.png' %}
                    <img src="{{ asset_url }}" alt="Youtube"/>
                    {% endimage %}</a>
                <a class="instagram" href="">                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/instagram.png' %}
                    <img src="{{ asset_url }}" alt="Instagram"/>
                    {% endimage %}</a>

            </div>

            <div class="contact-info">

                <a class="address" href="">221B Baker Street &middot; Saskatoon, SK, Canada</a>

                <div class="phone">306.555.1234</div>

            </div>

        </div>
{% block mainmenu %}
    {{ render_esi(controller('NumaDOASiteBundle:Default:contactus')) }}
{% endblock %}

        <div class="mobile-menu">

            <ul class="menu">
                <li><span class="separator">Menu</span>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><span class="separator">Showroom</span>
                            <ul>
                                <li><a href="">Current New Inventory</a></li>
                                <li><a href="">Pre-Owned Inventory</a></li>
                                <li><a href="">Financing</a></li>
                                <li><a href="">Finance Calculator</a></li>
                                <li><a href="">Trade In</a></li>
                                <li><a href="">Get a Quote</a></li>
                                <li><a href="">Schedule Test Ride</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </li>
                        <li><a href="">Dealer Services</a></li>
                        <li><a href="">Dealer Info</a></li>
                        <li><a href="">Customer Corner</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </div>

    <div class="content-wrapper">

        <div class="button-wrapper">

            <div class="button b1">

                <a href="">

                    <h2>New Units <span>Click Here</span></h2>

                </a>

            </div>

            <div class="button b2">

                <a href="">

                    <h2>Pre-Owned <span>Click Here</span></h2>

                </a>

            </div>

            <div class="button b3">

                <a href="">

                    <h2>Financing <span>In House</span></h2>

                </a>

            </div>

            <div class="button b4">

                <a href="">

                    <h2>Parts <span>and Service</span></h2>

                </a>

            </div>

        </div>

        <div class="banner">

            <div class="image">
                {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/banner.jpg' %}
                <img src="{{ asset_url }}"/>
                {% endimage %}
            </div>

            <div class="features">

                <h2>Featured Inventory</h2>

                <div class="item">

                    {#<img src="images/item1.jpg" />#}
                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/item1.jpg' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </div>

                <div class="item">

                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/item2.jpg' %}
                    <img src="{{ asset_url }}" />
                    {% endimage %}

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </div>

                <div class="item">

                    {#<img src="images/item3.jpg" />#}
                    {% image '@NumaDOASiteBundle/Resources/Public/Forest/images/item3.jpg' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </div>

            </div>

        </div>

        <div class="content">

            <h1>Welcome to Generic Company</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

        <div class="brands">

            <h1>Brands</h1>

            <div class="brand"><a href=""><img src="images/company1.png" /></a></div>

            <div class="brand"><a href=""><img src="images/company2.png" /></a></div>

            <div class="brand"><a href=""><img src="images/company3.png" /></a></div>

        </div>

    </div>

    <div class="footer">

        <div class="logo"><img src="images/logo.png" /></div>

        <div class="contact-info">

            <h3>Contact Us</h3>

            <p>221B Baker Street<br />Saskatoon, SK, Canada</p>

            <p>Phone: (306) 555-2134<br />
                Fax: (306) 555-1235</p>

            <p><a href="">Map and Hours</a></p>

        </div>

        <div class="quick-links">

            <h3>Quick Links</h3>

            <ul>
                <li><a href="">New Inventory</a></li>
                <li><a href="">Pre-Owned Inventory</a></li>
                <li><a href="">Get Financed</a></li>
                <li><a href="">Parts Department</a></li>
                <li><a href="">Customer Testimonials</a></li>
                <li><a href="">Current Specials</a></li>
            </ul>

        </div>

        <div class="other-info">

            <div class="copyright">Copyright &copy; 2016 Company Name.<br />All Rights Reserved</div>

            <ul>
                <li><a href="">Policy</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Site Map</a></li>
            </ul>

        </div>

    </div>

</div>
</body>
</html>