{% form_theme sidebarForm _self %}
{#{% form_theme sidebarForm with ['bootstrap_3_horizontal_layout.html.twig', _self] %}#}
{{ dump() }}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="searchBarHorisontal">
            <ul class="nav navbar-nav">
                model
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Year<span class="caret"></span></a>
                    {% if year is not empty %}
                        <ul class="dropdown-menu">
                            {% for item in year %}

                                <li class="selected-true">
                                    <label class="checkbox">
                                        <input checked="" type="checkbox">
                                        <a href="#">{{ item }}</a>

                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Make <span class="caret"></span></a>
                    {% if make is not empty %}
                        <ul class="dropdown-menu">
                            {% for item in make %}
                                <li><a href="#">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Make<span class="caret"></span></a>
                    {% if model is not empty %}
                        <ul class="dropdown-menu">
                            {% for item in model %}
                                <li><a href="#">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Body Style<span class="caret"></span></a>
                    {% if bodyStyle is not empty %}
                        <ul class="dropdown-menu">
                            {% for item in bodyStyle %}
                                <li><a href="#">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {#<li class="dropdown">#}
                {#<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
                {#aria-expanded="false">Body Style ({{ bodystyle|length }})<span class="caret"></span></a>#}
                {#{% if trim is not empty %}#}
                {#<ul class="dropdown-menu">#}
                {#{% for item in trim %}#}
                {#<li><a href="#">{{ item }}</a></li>#}
                {#{% endfor %}#}
                {#</ul>#}
                {#{% endif %}#}
                {#</li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Price <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>