<div class="row">

</div>


{% include 'NumaDOASiteBundle:Search:searchBar.html.twig' %}


<div class="row">
    <div class="searchResults col-md-9">
        {% if pagerfanta is not empty %}
            <div id="listing-content">
                {#<div class="page_ads">#}
                {#<iframe  height="150px" width="150px;" src="http://doa.local/ads/50" frameborder="0"></iframe>#}

                {#{% include 'NumaDOASiteBundle:Ads:right-sidebar.html.twig' %}#}
                {#</div>#}
                {% for item in pagerfanta %}
                    {% if queryUrl is defined %}
                        {{ include("NumaDOASiteBundle:Search:searchResultItem.html.twig",{'item':item,'searchQ':queryUrl}) }}
                    {% else %}
                        {{ include("NumaDOASiteBundle:Search:searchResultItem.html.twig",{'item':item}) }}
                    {% endif %}

                {% endfor %}
            </div>
            {#{{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}#}
        {% else %}
            No Result...
        {% endif %}
    </div>

    <div class="searchSideBar col-md-3">
        {% include 'NumaDOASiteBundle:Search:searchSidebar.html.twig' %}
    </div>
    <div class="page_ads">
        {% include 'NumaDOASiteBundle:Ads:themes-right-sidebar.html.twig' %}
    </div>
    <div class="col-md-12">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}
    </div>
</div>
{#</div>#}

{% include "@NumaDOASite/TemplatesElements/searchModals.html.twig" %}

<script type="text/javascript">
    num = 10;
    {% if listing_per_page is defined %}
    num = parseInt({{ listing_per_page }});
    {% endif %}
    $('select#numberoflisting option[value=' + num + ']').prop('selected', true)
    {#$('select#numberoflisting').change(
            function() {
                var ss = $("#searchSource").val();
                ss = ss + $("#numberoflisting").val()
                console.log(ss);
                $(this).closest('form').submit();

            });#}
</script>

<script>
    $(".saveAd").on("click", function () {
        var itemId = $(this).closest('.item-row').attr("data");
        console.log(itemId);
        var act = "add";
        if (!$(this).prop('checked')) {
            act = "remove";
        }
        var jqxhr = $.post("{{ path('item_savead') }}", {itemid: itemId, act: act}, function (data) {
            htmlx = "";
            if (data.savedAds > 0) {
                htmlx = "(" + data.savedAds + ")";
            }
            $('.savedAds').html(htmlx);
        })

    });
    $(".compareAd").on("click", function () {
        var itemId = $(this).closest('.item-row').attr("data");
        var url = $(this).closest('.item-row').attr("url");

        var act = "add";
        if (!$(this).prop('checked')) {
            act = "remove";
        }
        var jqxhr = $.post(url, {itemid: itemId, act: act}, function (data) {
            htmlx = "";
            if (data.comparedItes > 0) {
                htmlx = "(" + data.comparedItes + ")";
            }
            $('.savedAds').html(htmlx);
        })

    });
</script>